<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="liGroupName" href="javascript:void(0);" @*onclick="LoadViews('Others');"*@>
            @*@Forwarding.MvcApp.App_Resources.App_Resources.MasterData*@
    </a>
</li>
<li>
    <a id="liTabName" href="javascript:void(0);" @*onclick="LoadViews('Others');"*@>
        @*@Forwarding.MvcApp.App_Resources.App_Resources.Others*@
</a>
</li>
<li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Commodities</li>
</ul>
<!-- end breadcrumb  -->


<div id="div-Commodities">
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Commodities
            </h3>
        </header>
        <!--Region the searh, delete, addnew-->
        <div class="row text-sm wrapper hidden-print ">
            <div id="div-main-options" class="col-sm-5 m-b-xs">
                <button id="btn-NewAdd" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#CommodityModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                <div id="div-option-buttons" class="btn-group hide">
                    <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>&nbsp;Copy </button>
                    <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>&nbsp;Print </button>
                    <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>&nbsp;Send </button>
                </div>
            </div>
            <div id="div-search-option" class="col-sm-7">
                <div id="div-search-controls" class="input-group col-sm-9">
                    <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Code / Name / Local Name">
                    <span class="input-group-btn">
                        <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Commodities_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="float-right col-sm-1">
                    <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                </div>
            </div>
        </div>
        <!--Region the searh, delete, addnew-->
        <!--Region: table header-->
        <div class="table-responsive">
            <table id="tblCommodities" class="table table-striped b-t b-light text-sm  table-hover">
                <thead>
                    <tr>
                        <th id="ID">
                            <input id="cb-CheckAll" type="checkbox" />
                        </th>
                        <th class="th-sortable" data-toggle="class">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Code
                    </th>
                    <th>
                        @Forwarding.MvcApp.App_Resources.App_Resources.Name
                </th>
                <th>
                    @Forwarding.MvcApp.App_Resources.App_Resources.LocalName
            </th>
            <th>
                @Forwarding.MvcApp.App_Resources.App_Resources.IsInactive
        </th>
        <th>
            @Forwarding.MvcApp.App_Resources.App_Resources.Notes
    </th>
    <th class="rounded-right hide"></th>
    </tr>
    </thead>
    <tbody></tbody>
    </table>
    </div>
    <!--Region: table header-->
    <!--Region: footer-->
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
                <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                </button>
            </div>
            <div id="div-Text-Total" class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                    <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                    <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                </small>
            </div>
            <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
        </div>
    </footer>
    <!--Region: footer-->
    </section>
    </div>
</div>

<div class="modal fade" id="CommodityModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CommodityModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-70">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Commodity &nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="Commodity-form">
                    <fieldset>
                        <div class="form-group pull-in  has-error clearfix">
                            <input id="hID" type="hidden" />
                            <div class="form-group col-sm-2 hide">
                                <label>UploadFolderName</label>
                                <input id="txtUploadFolderName" autocomplete="off" type="text" class="form-control parsley-validated input-sm " data-required="false" data-minlength="1" maxlength="100" placeholder="" style="text-transform:uppercase;" />
                            </div>
                            <!-- start alert message region -->
                            <div class="alert alert-danger div-error hide">
                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                            </div>
                            <!-- end alert message region -->
                            <!-- Region Add / Edit Region Form -->
                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Code</label>
                                <input id="txtCode" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-minlength="2" maxlength="10" placeholder="ex. FP" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtName" class="form-control parsley-validated" data-required="true" maxlength="100" placeholder="ex. Frozen Potatoes" style="text-transform:uppercase" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtLocalName" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Frozen Potatoes" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-6 classHideForGBL">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtNotes" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Notes" style="text-transform:none" />
                            </div>
                            <div class="form-group col-sm-6 hide classShowForGBL">
                                <label>Filter Charges Keyword</label>
                                <select id="slFilterCharge" data-required="false" class="form-control" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);">
                                    <option value=""><--Select--></option>
                                    <option value="1 Ton">1 Ton</option>
                                    <option value="3 Tons">3 Tons</option>
                                    <option value="5 Tons">5 Tons</option>
                                    <option value="Canter">Canter</option>
                                    <option value="Car Carriers">Car Carriers</option>
                                    <option value="Container">Container</option>
                                    <option value="Flatbed">Flatbed</option>
                                    <option value="Gen Set Truck">Gen Set Truck</option>
                                    <option value="Pickup">Pickup</option>
                                    <option value="Towing">Towing</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CommercialName</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtCommercialName" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder=" commercial name" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.LoadingTemperature</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtLoadingTemperature" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder=" Loading Temperature" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.UnloadingTemperature</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtUnloadingTemperature" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder=" Unloading Temperature" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Density</label>
                                <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtDensity" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder=" Density" style="text-transform:uppercase" />
                            </div>


                            <div class="form-group col-sm-1 m-t-lg">
                                <label><input type="checkbox" id="cbIsIMO" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" onchange="EnableDisableIMOProprties();">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IMO</label>
                            </div>
                            <div class="form-group col-sm-2 m-t-xs m-l-n">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.IMOClass</label>
                                <input type="text" id="txtIMOClass" disabled="disabled" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="4" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.UNNumber</label>
                                <input type="text" id="txtUNNumber" disabled="disabled" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0" />
                            </div>
                            <div id="divUploadFiles" class="col-sm-1 m-t-27">
                                <button id="btn-UploadFiles" class="btn btn-lightblue btn-sm" data-toggle="modal" data-target="" onclick="DocsIn_FillControls();"><i class="fa fa-upload"></i>&nbsp;Uploaded Docs</button>
                            </div>


                            <div class="col-sm-6 m-t" style="clear:both;">
                                <label><input type="checkbox" id="cbIsInactive" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive</label><br />
                            </div>
                            <!-- Region Add / Edit Region Form -->
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">

                <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="Commodities_Insert(false);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Commodities_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                </button>
                <button class="btnClose btn btn-link btn-sm" id="btnClose" onclick="Commodities_UnlockRecord();" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>

<!--DocsIn-->
<div class="modal fade" id="DocsInModal" style="z-index: 1110;" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="DocsInModalLabel" aria-hidden="true">
    <div class="modal-dialog m-t-n-lg modalwidth-70">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none swapChildrenClass">
                    <span>&nbsp;Docs &nbsp;</span><label id="lblDocsInShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="DocsIn-form">
                    <fieldset>
                        @*<div class="form-group pull-in  has-error clearfix">*@
                        <div class="form-group  has-error clearfix">
                            <!--Upload Region Controls-->
                            <input id="inputFileUpload" type="file" multiple="multiple" class="btn-primary btn-sm " />
                            <div id="divUpload" class="m-t">
                                <input id="btnUploadFile" onclick="GeneralUpload_UploadFile();" class="btn btn-warning btn-sm" type="button" value="Upload Files" />
                                <progress></progress>
                            </div>
                            <button id="btn-DeleteDocsIn" type="button" class="float-right btn btn-sm btn-danger m-t-n-lg swapChildrenClass" onclick="GeneralUpload_DeleteList();"><i class="fa fa-trash-o"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete&nbsp;</b></button>

                            <!--End Upload Region Controls-->

                            <section class="panel panel-default m-t">
                                <!--Region: table header-->
                                <div class="table-responsive">
                                    <table id="tblDocsIn" class="table table-striped b-t b-light text-sm  table-hover">
                                        <thead>
                                            <tr class="swapChildrenClass">
                                                <th id="HeaderDeleteDocsInID" style="width:5%;">
                                                    <input id="cb-CheckAll-DocsIn" type="checkbox" />
                                                </th>
                                                <th>
                                                    @Forwarding.MvcApp.App_Resources.App_Resources.Serial
                                            </th>
                                            <th>
                                                @Forwarding.MvcApp.App_Resources.App_Resources.FileName
                                        </th>
                                        <th class="rounded-right"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!--Region: table footer-->
                        <footer class="panel-footer"></footer>
                        <!--Region: EOF table footer-->
                        <!--Region: EOF table header-->
                    </section>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal-footer swapChildrenClass">
        @*<button tabindex="1200" id="btnSaveDocsIn" type="button" class=" hide btn btn-primary btn-sm swapChildrenClass">
                <span class="glyphicon glyphicon-save"></span><b>&nbsp;@Tourism.MvcApp.App_Resources.App_Resources.Save&nbsp;</b></button>
            <button tabindex="2010" id="btnSaveandNewDocsIn" type="button" class="hide btn btn-primary btn-sm swapChildrenClass">
                <span class="glyphicon glyphicon-save"></span><b>&nbsp;@Tourism.MvcApp.App_Resources.App_Resources.SaveAndNew&nbsp;</b></button>*@
        <button tabindex="1210" id="btnCloseDocsIn" class="btnClose btn btn-link btn-sm" onclick="" data-dismiss="modal" aria-hidden="true"><b>@Forwarding.MvcApp.App_Resources.App_Resources.Close</b></button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
    </div>
</div>
</div>
</div>
<!--EOF DocsIn-->
