<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="MasterData" href="javascript:void(0);" onclick="LoadViews('SC')">
            @Forwarding.MvcApp.App_Resources.App_Resources.SC
        </a>
    </li>
    <li>
        <a id="SC_MasterData" href="javascript:void(0);" onclick="LoadViews(id)">
            @Forwarding.MvcApp.App_Resources.App_Resources.SC_MasterData
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.ItemsInquiry</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-ItemsInquiry">
    <!-- Add / Edit Region Modal --> <!--data-keyboard="false" data-backdrop="false" to prevent modal closure on pressing escape and pressing outside the modal-->
    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.ItemsInquiry
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div id="FilterSec" class="row text-sm wrapper hidden-print m-t-n-sm">
                <div class="swapChildrenClass">
                    <div class="form-group  col-sm-3">
                        <div class="col-sm-12">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Items</label>
                            <select id="slItems" class="input-sm form-control" data-required="" onchange=""></select>
                        </div>
                    </div>
                    <div class="form-group  col-sm-3">
                        <div class="col-sm-12">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Customer</label>
                            <select id="slCustomers" class="input-sm form-control" data-required="" onchange=""></select>
                        </div>
                    </div>
                    <div class="form-group  col-sm-3">
                        <div class="col-sm-12">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PriceList</label>
                            <select id="slPriceLists" class="input-sm form-control" data-required="" onchange=""></select>
                        </div>
                    </div>

                    <div class="form-group  col-sm-3">
                        <br />
                        <button id="btn-search1" class="btn btn-sm btn-lightblue" type="button" onclick="ItemsInquiry_Loading();"><i class="fa fa-search">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Search</i></button>
                    </div>

                    @*<div class="form-group  col-sm-3">

                    </div>*@
                </div>
                </div>

            
            


            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs">
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-12">






                    <div id="div-search-controls " class="input-group col-sm-9 hide">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.SearchStoreNameAccountName">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="SC_Transactions_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->
            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblItemsInquiry" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID" class="hide">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Code
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Type
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Cost
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Percentage
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Amount
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Qtyinstore
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.PriceList
                            </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>


                    <select id="hidden_slItems" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>


