<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a id="hl-homepage" href="javascript:void(0);"><i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
    </a></li>
    <li><a id="MasterData" href="javascript:void(0);" onclick="LoadViews('Partners')">@Forwarding.MvcApp.App_Resources.App_Resources.MasterData
    </a></li>
    <li><a id="Partners" href="javascript:void(0);" onclick="LoadViews(id)">@Forwarding.MvcApp.App_Resources.App_Resources.Partners
    </a></li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Agents</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-Agents">
    <!-- Region Options & Template  -->
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.Agents</h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs">
                    <button id="btn-NewAdd" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#AgentModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    
                    <input id="btnAddFromExcel-Agents" type="file" style="display:inline;" title="Import Items from Excel 97-2003" class="btn-lightblue btn-sm classHideForMESCOChildren hide" onchange="Agents_onFileSelected(event, id);" />
                    
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>&nbsp;Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>&nbsp;Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>&nbsp;Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.SearchCodeNameLocalName">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Agents_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <!--EOF Region the searh, delete, addnew line-->
            
            <!--Agents Modal-->
            
            <!--EOF Agents Modal-->
            
            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblAgents" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">@Forwarding.MvcApp.App_Resources.App_Resources.Code
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.PaymentTerm
                            </th>
                            <th class="hide">@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive
                            </th>
                            <th class="hide">@Forwarding.MvcApp.App_Resources.App_Resources.Notes
                            </th>
                            <th class="rounded-right hide"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--Region: table header-->

            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm"> @Forwarding.MvcApp.App_Resources.App_Resources.Showing 
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>
