<!--ShippingAgents Modal-->
<div class="modal fade" id="ShippingAgentModal" tabindex="-1" style="z-index: 2000" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ShippingAgentModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.ShippingAgent &nbsp;<label id="lblShippingAgentShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="ShippingAgent-form">
                    <fieldset>
                        <div class="form-group pull-in  has-error clearfix">
                            <input id="hShippingAgentID" type="hidden" />
                            <!--Wizard-->
                            <div class="wizard clearfix">
		                        <ul class="steps"> 
			                        <li data-target="#BasicDataShippingAgent" id="stepsBasicDataShippingAgent" class="active"><span class="badge badge-info">1</span>@Forwarding.MvcApp.App_Resources.App_Resources.BasicData</li> 
                                    <li data-target="#BillingShippingAgent"   id="stepsBillingShippingAgent" class="complete"><span class="badge badge-info">2</span>@Forwarding.MvcApp.App_Resources.App_Resources.Billing</li> 
			                        <li data-target="#tabAddressesShippingAgent" id="stepsAddressesShippingAgent" class="complete"><span class="badge badge-info">3</span>@Forwarding.MvcApp.App_Resources.App_Resources.Addresses</li> 
			                        <li data-target="#tabContactsShippingAgent"  id="stepsContactsShippingAgent" class="complete"><span class="badge badge-info">4</span>@Forwarding.MvcApp.App_Resources.App_Resources.Contacts</li> 
                                    <li data-target="#tabAccounting" id="stepsAccounting" class="complete hide classAccountingOption"><span class="badge badge-info">$</span>@Forwarding.MvcApp.App_Resources.App_Resources.Accounting</li> 
                                    @*------------*@
                                    <li data-target="#tabUploadFiles" id="stepsUploadFiles" class="complete hide classHideOutsidePartners"><span class="badge badge-info">↑</span>Upload</li>
                                    @*------------*@
		                        </ul> 
		                        <div class="actions" style="display:none;"> <!--Next & Previous buttons-->
			                        <button type="button" class="btn btn-default btn-xs btn-prev" disabled="disabled">@Forwarding.MvcApp.App_Resources.App_Resources.Prev</button> 
			                        <button type="button" class="btn btn-default btn-xs btn-next" data-last="Finish">@Forwarding.MvcApp.App_Resources.App_Resources.Next</button> 
		                        </div> 
	                        </div> 
	                        <div class="step-content">
                                <!--Basic Data-->
		                        <div class="step-pane active" id="BasicDataShippingAgent">
                                    <!-- start alert message region -->
                                    <div class="alert alert-danger div-error">
                                        @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                    </div>
                                    <!-- end alert message region -->
                                    <!-- Add / Edit Basic Data -->
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Code</label>
                                        <input type="text" id="txtShippingAgentCode" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" data-minlength="1" maxlength="10" placeholder="Generated Automatically" disabled="disabled" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                        <input type="text" id="txtShippingAgentName" disabled="disabled" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="true" maxlength="50" placeholder="ex. SEA WINGS USA" style="text-transform:uppercase"/>
                                    </div>                                        
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName</label>
                                        <input type="text" id="txtShippingAgentLocalName" disabled="disabled" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="50" placeholder="ex. SEA WINGS USA" style="text-transform:uppercase"/>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ForwarderAccountNumber</label>
                                        <input type="text" id="txtShippingAgentForwarderAccountNumber"  onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated" data-required="false" maxlength="20" placeholder="Forwarder Account No." style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ForwarderCreditNumber</label>
                                        <input type="text" id="txtShippingAgentForwarderCreditNumber" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated" data-required="false" maxlength="20" placeholder="Forwarder Credit No." style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.LocalCustomsCode</label>
                                        <input type="text" id="txtShippingAgentLocalCustomsCode" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="20" placeholder="Local Customs Code" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Website</label>
                                        <input type="text" id="txtShippingAgentWebsite" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" name="Website" data-required="false" data-minlength="0" maxlength="150" placeholder="ex. www.SEAWINGSUSA.com" onchange="ShippingAgents_SetWebSiteHref();" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                        <input type="text" id="txtShippingAgentNotes" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="50" placeholder="ex. Notes" style="text-transform:uppercase" />
                                    </div>
                                    
                                    <div class="form-group col-sm-6 m-t-sm">
                                        <a id="btnShippingAgentVisitWebsite" class="btn btn-info btn-sm m-t" target="_blank">
                                        <span class="fa fa-hand-o-right"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.VisitWebsite</a>
                                    </div>
                                    <div class="form-group col-sm-6 m-t">
                                        <label><input type="checkbox" id="cbShippingAgentIsInactive" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive</label><br />
                                    </div>
                                                
                                    <!--EOF Add / Edit Basic Data -->
		                        </div> 
                                <!--EOF Basic Data-->

                                <!--Billing-->
		                        <div class="step-pane" id="BillingShippingAgent">
                                    <!-- start alert message region -->
                                    <div class="alert alert-danger div-error">
                                        @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                    </div>
                                    <!-- end alert message region -->
                                    <!-- Add / Edit Billing -->
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.VATNumber</label>
                                        <input type="text" id="txtShippingAgentVATNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" data-minlength="0" maxlength="10" placeholder="Vat No." style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BankName</label>
                                        <input type="text" id="txtShippingAgentBankName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. CIB" style="text-transform:uppercase"/>
                                    </div>                                        
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.PaymentTerm</label>
                                        <select id="slShippingAgentPaymentTerms" name="slShippingAgentPaymentTerms" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b" data-required="false"></select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BankAddress</label>
                                        <input type="text" id="txtShippingAgentBankAddress" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="500" placeholder="ex. Address" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceCurrency</label>
                                        <select id="slShippingAgentCurrencies" name="slShippingAgentCurrencies" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b" data-required="false"></select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Swift</label>
                                        <input type="text" id="txtShippingAgentSwift" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="50" placeholder="ex. Swift Code" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.TaxeType</label>
                                        <select id="slShippingAgentTaxeTypes" name="slShippingAgentTaxeTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b" data-required="false"></select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BankAccountNumber</label>
                                        <input type="text" id="txtShippingAgentBankAccountNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Account No." style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6 m-t-27">
                                        <label><input type="checkbox" id="cbShippingAgentIsConsolidatedInvoice" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TaxExempted</label><br />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.IBANNumber</label>
                                        <input type="text" id="txtShippingAgentIBANNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. IBAN No." style="text-transform:uppercase" />
                                    </div>
                                    <!--EOF Add / Edit Billing -->
		                        </div> 
                                <!--EOF Billing-->

                                <!--Addresses-->
		                            <div class="step-pane" id="tabAddressesShippingAgent">
                                        <!-- start alert message region -->
                                            <div class="alert alert-danger div-error">
                                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                            </div>
                                        <!-- end alert message region -->
                                        @* The next line is to call the addresses modal from the new button *@
                                        <button id="btn-NewAddAddress" class="m-l btn btn-warning btn-sm" data-toggle="modal" data-target="#AddressModal" onclick="Addresses_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.NewAddress</button>
                                        <br /><br />
                                        <!--The id of the next div is used to fill the addresses in the textareas-->
                                        <div id="bodyShippingAgentAddresses"></div>
		                            </div> 
                                <!--EOFAddresses-->
                                <!--Contacts-->
		                            <div class="step-pane" id="tabContactsShippingAgent">
                                        <!-- start alert message region -->
                                            <div class="alert alert-danger div-error">
                                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                            </div>
                                        <!-- end alert message region -->
                                        @* The next line is to call the Contacts modal from the new button *@
                                        <button id="btn-NewAddContact" class="m-l btn btn-warning btn-sm" data-toggle="modal" data-target="#ContactModal" onclick="Contacts_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.NewContact</button>
                                        <br /><br />
                                        <!--The id of the next div is used to fill the Contacts in the textareas-->
                                        <div id="bodyShippingAgentContacts"></div>
		                            </div> 
                                <!--EOF Contacts-->
                                <!--Accounting-->
		                            <div class="step-pane" id="tabAccounting">
                                        <!-- start alert message region -->
                                            <div class="alert alert-danger div-error">
                                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                            </div>
                                        <!-- end alert message region -->                                        
                                        <div class="form-group col-sm-6">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.SupplierGroup</label>
                                            <select id="slShippingAgentSubAccountGroup" class="form-control m-b" onchange="FillSlAccountFromGroup('slShippingAgentAccount', 'slShippingAgentSubAccountGroup', 'slShippingAgentSubAccount', 0, 0);" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Account</label>
                                            <select id="slShippingAgentAccount" class="form-control m-b" @*onchange="FillSlSubAccount('slShippingAgentSubAccount', 'slShippingAgentAccount', 0, 0);"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.SubAccount</label>
                                            <select id="slShippingAgentSubAccount" class="form-control m-b" disabled="disabled" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.CostCenter</label>
                                            <select id="slShippingAgentCostCenter" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                        </div>                                    
                                        <!--The id of the next div is used to fill the Accounting in the textareas-->
                                        <div id="bodyShippingAgentAccounting"></div>
		                            </div> 
                                <!--Accounting-->
                                <!--UploadFiles-->
                                <div class="step-pane" id="tabUploadFiles">
                                    <!--Upload Region Controls-->
                                    <input id="inputFileUpload_ShippingAgents" type="file" multiple="multiple" class="btn-primary btn-sm " />
                                    <div id="divUpload" class="m-t">
                                        <input id="btnUploadFile" onclick="GeneralUpload_UploadFile();" class="btn btn-warning btn-sm" type="button" value="Upload Files" />
                                        <progress></progress>
                                    </div>
                                    <button id="btn-DeleteDocsIn" type="button" class="float-right btn btn-sm btn-danger m-t-n-lg swapChildrenClass" onclick="GeneralUpload_DeleteList();"><i class="fa fa-trash-o"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete&nbsp;</b></button>

                                    <!--End Upload Region Controls-->

                                    <section class="panel panel-default m-t">
                                        <!--Region: table header-->
                                        <div class="table-responsive">
                                            <table id="tblUploadedFiles_ShippingAgents" class="table table-striped b-t b-light text-sm  table-hover">
                                                <thead>
                                                    <tr class="swapChildrenClass">
                                                        <th id="HeaderDeleteUploadedFiles_ShippingAgents" style="width:5%;">
                                                            <input id="cb-CheckAll-UploadedFiles_ShippingAgents" type="checkbox" />
                                                        </th>
                                                        <th>
                                                            @Forwarding.MvcApp.App_Resources.App_Resources.Serial
                                                        </th>
                                                        <th>
                                                            @Forwarding.MvcApp.App_Resources.App_Resources.FileName
                                                        </th>
                                                        <th class="rounded-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!--Region: table footer-->
                                        <footer class="panel-footer"></footer>
                                        <!--Region: EOF table footer-->
                                        <!--Region: EOF table header-->
                                    </section>
                                </div>
                                <!--EOFUploadFiles-->

	                        </div>
                            <!--EOF Wizard-->
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnSaveShippingAgent" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save</button>
                <button type="button" id="btnSaveandNewShippingAgent" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>
                <button class="btnClose btn btn-link btn-sm" id="btnShippingAgentClose" @*onclick="ShippingAgents_UnlockRecord();"*@ data-dismiss="modal" aria-hidden="true" >@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div> 
        </div>
    </div>
</div>
<!--EOF ShippingAgents Modal-->