<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="CourierAndLastMile" href="javascript:void(0);" onclick="LoadViews('LastMileOrders')">
            @Forwarding.MvcApp.App_Resources.App_Resources.CourierAndLastMile
        </a>
    </li>
    <li>
        <a id="LastMileDomesticAWB" href="javascript:void(0);" onclick="LoadViews('LastMileOrders')">
            @Forwarding.MvcApp.App_Resources.App_Resources.LastMileOrders
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Dispatcher</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-DomesticAWB">
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Dispatcher
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
          
            <div class="row text-sm wrapper hidden-print m-t-n-sm swapChildrenClass">
                <div class="row text-sm wrapper hidden-print ">
                    <div id="div-main-options" class="col-sm-5 m-b-xs">
                        @*<button id="btn-NewAdd" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#RateModal"><i class="fa fa-plus"></i>&nbsp;New</button>*@
                        <button id="btn-NewAdd" type="button" onclick="ClearModalAWB();" class="btn btn-warning btn-sm swapChildrenClass" data-toggle="modal"><i class="fa fa-plus"></i><b>&nbsp;New&nbsp;</b></button>
                        <button type="button" id="btnAWBToRunner" class="btn btn-primary btn-sm swapChildrenClass" onclick="ShowAWBsModal();">
                            <b>&nbsp;AWBs&nbsp;</b>
                        </button>
                    </div>
                    <div id="div-search-option" class="col-sm-7">
                        <div id="div-search-controls" class="input-group col-sm-9">
                            <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Rate">
                            <span class="input-group-btn">
                                <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="DomesticAWB_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <div class="float-right col-sm-1">
                            <button id="btn-Delete" type="button" onclick="DomesticAWB_Delete();" class="float-right btn btn-sm btn-danger m-r-n"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--Region the searh, delete, addnew-->
            <!--Region: table header-->
            <div class="table-responsive  m-t-n" style="font-size:80%;">
                <table id="tblDomesticAWB" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th>AWB Number</th>
                            <th>creation Date</th>
                            <th>Shipper Name</th>
                            <th>Consignee Name</th>
                            <th>ActWgt</th>
                            <th>DimWgt</th>
                            <th>ChgWgt</th>
                            <th>Pcs</th>
                            <th>COD Amount</th>
                            <th>Description</th>
                            <th>Runner</th>
                            <th>Status</th>
                            <th class="rounded-right"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>

<select id="slRateBase" class="hide"><option value="">Select Rate</option></select>
<select id="slCityBase" class="hide" ><option value="">Select City</option></select>
<select id="slRegionBase" class="hide"><option value="">Select Region</option></select>


<!-- DomesticAWBModal  -->
<div class="modal fade" id="DomesticAWBModal" tabindex="-1"  style="z-index:200;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="DomesticAWBModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <div id="hExportedTable" class="hide"></div>
                <h3 class="m-b-none swapChildrenClass">
                    <span>&nbsp;Domestic  AWB &nbsp;</span><label id="lblShown" purpose="dynamicLabel" @*to be cleared*@ class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="DomesticAWB-form">
                    <fieldset>
                        <div class="form-group pull-in  has-error clearfix">
                            <input id="hID" type="hidden" />
                            <!-- start alert message region -->
                            @*<div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>*@
                            <!-- end alert message region -->
                            <div class="wizard clearfix">
                                <ul class="steps">
                                    <li data-target="#tabDomesticAWB" id="stepsDomesticAWB" class="complete active"><span class="badge badge-info">$</span>Domestic AWB</li>
                                    <li data-target="#tabRunner" id="stepsRunner" class="complete "><span class="badge badge-info">$</span>Runner</li>
                                </ul>
                            </div>
                            <div class="step-content">
                                <!--Runner-->
                                <div class="step-pane" id="tabDomesticAWB">
                                    <div class="row col-sm-12">
                                        <div class="col-sm-3">
                                            <label>AWB Number</label>
                                            <input id="txtAWBNumber" type="text" class="form-control parsley-validated input-sm" placeholder="AWB Number" data-required="true">
                                        </div>

                                        <div class="col-sm-3 m-t-md">
                                            <button type="button" id="btnCollapse" class="btn btn-primary btn-sm swapChildrenClass" onclick="Collapse_Shipper_Consignee();">
                                                <b>&nbsp;Collapse&nbsp;</b>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row col-sm-12" id="ShipperAndConsignee" style="padding-left: inherit;">
                                        <div class="col-sm-6">
                                            <div style="margin:20px;padding: 0;" class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"> Shipper </h3>
                                                </div>
                                                <div class="panel-body"  id="ShipperBody">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6" style="padding: 0;">

                                                                <div id="div-search-controls" class="input-group col-sm-12">
                                                                    <label>Shipper Name</label>
                                                                    <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                        <input id="txtSearchShipperName" tabindex="400" type="text" onfocus="DisableEnterKeyWithSearch(id);" onkeypress="DisableEnterKeyWithSearch(id);" class="form-control parsley-validated input-sm" placeholder="Search By Customer Name Or Code" data-required="true" style="text-transform:uppercase">
                                                                        <span class="input-group-btn">
                                                                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="GetShippersWithFilter();"><i class="fa fa-search"></i></button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Shipper</label>
                                                                <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                   @* <select id="slCustomerShipperID" onchange="GetCustomerAddress('Shipper'); LoadCustomerInfo('Shipper');" tabindex="700" class="form-control input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false">*@
                                                                    <select id="slCustomerShipperID" onchange="LoadShipperData();" tabindex="700" class="form-control input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false">
                                                                        <option value="0">Select Shipper Name</option>
                                                                    </select>
                                                                    <span class="input-group-btn">
                                                                        <button id="btn-NewAddShipperCustomer" class="btn btn-warning btn-sm m-l-n-lg" data-toggle="modal" data-target="#ShipperModal" onclick="Shipper_New();"><i class="fa fa-plus"></i></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group col-sm-6">
                                                                <label>City-From</label>
                                                                <select id="slCityFromShipper" name="slCityFrom" data-required="false" onchange="GetRegionsInCity('From');" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="0">Select City</option></select>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label>Region-From</label>
                                                                <select id="slRegionFromShipper" name="slRegionFrom" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Region</option></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Phone 1</label>
                                                                <input id="txtPhone1Shipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Phone 2</label>
                                                                <input id="txtPhone2Shipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Company Name</label>
                                                                <input id="txtCompanyNameShipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Sender Name</label>
                                                                <input id="txtSenderNameShipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Account No</label>
                                                                <input id="txtAccountNoShipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>City</label>
                                                                <input id="txtCityShipper" type="text" data-required="false" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Address</label>
                                                                <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                    <textarea id="txtAddressShipper" tabindex="700" class="form-control m-b input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false"></textarea>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div style="margin:20px;padding: 0;" class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"> Consignee </h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <div class="col-sm-12" style="padding: 0;">

                                                                <div id="div-search-controls" class="input-group col-sm-12">
                                                                    <label>Consignee Name</label>
                                                                    <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                        <input id="txtSearchConsigneeName" tabindex="400" type="text" onfocus="DisableEnterKeyWithSearch(id);" onkeypress="DisableEnterKeyWithSearch(id);" class="form-control parsley-validated input-sm" placeholder="Search By Customer Name Or Code" data-required="false" style="text-transform:uppercase">
                                                                        <span class="input-group-btn hide">
                                                                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="GetConsigneeWithFilter(); "><i class="fa fa-search"></i></button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class=" col-sm-6 hide">
                                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Consignee</label>
                                                                <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                    <select id="slCustomerConsigneeID" onchange="GetCustomerAddress('Consignee'); LoadCustomerInfo('Consignee');" tabindex="700" class="form-control input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false">
                                                                        <option value="0">Select Consignee Name</option>
                                                                    </select>
                                                                    <span class="input-group-btn">
                                                                        <button id="btn-NewAddConsigneeName" class="btn btn-warning btn-sm m-l-n-lg" data-toggle="modal" data-target="#ConsigneeModal" onclick="Consignee_New();"><i class="fa fa-plus"></i></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group col-sm-6">
                                                                <label>City-To</label>
                                                                <select id="slCityToConsignee" name="slCityFrom" onchange="GetRegionsInCity('To');" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select City</option></select>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label>Region-To</label>
                                                                <select id="slRegionToConsignee" name="slRegionFrom" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Region</option></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Phone 1</label>
                                                                <input id="txtPhone1Consignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Phone 2</label>
                                                                <input id="txtPhone2Consignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Company Name</label>
                                                                <input id="txtCompanyNameConsignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Sender Name</label>
                                                                <input id="txtSenderNameConsignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>Account No</label>
                                                                <input id="txtAccountNoConsignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>City</label>
                                                                <input id="txtCityConsignee" type="text" class="form-control parsley-validated input-sm" placeholder="">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-sm-6">
                                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Address</label>
                                                                <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                                    <textarea id="txtAddressConsignee" tabindex="700" class="form-control m-b input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false"></textarea>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row col-sm-12">
                                        <div style="margin:20px;padding: 0;" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"> Package Details </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <div class="col-sm-1">
                                                            <label>Act. Wgt/kg</label>
                                                            <input id="txtActWgt" type="text" class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <label>Dim. Wgt/kg</label>
                                                            <input id="txtDimWgt" type="number" class="form-control parsley-validated input-sm" placeholder="">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <label>Chg. Wgt/kg</label>
                                                            <input id="txtChgWgt" type="number" class="form-control parsley-validated input-sm" placeholder="">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <label>Pcs</label>
                                                            <input id="txtPcs" type="number" class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                        </div>
                                                        <div class="form-group col-sm-1">
                                                            <label>Quantity</label>
                                                            <input type="number" id="txtQuantity" class="form-control parsley-validated" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" data-required="false" maxlength="50" placeholder="1000" style="text-transform:uppercase" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label>Description</label>
                                                            <input id="txtDescription" type="text" class="form-control parsley-validated input-sm" placeholder="Description">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label>Remarks</label>
                                                            <textarea id="txtRemarks" type="text" class="form-control parsley-validated input-sm" placeholder="Remarks"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="form-group col-sm-1">
                                                            <button type="button" id="btnLoadRatesToCustomer" class="btn btn-primary btn-sm swapChildrenClass m-t-md" onclick="LoadRatesToCustomer();">
                                                                <b>&nbsp;Load Rates&nbsp;</b>
                                                            </button>
                                                        </div>
                                                        <div class="form-group col-sm-2">
                                                            <label>Customer Rates</label>
                                                            <select id="slRatesToCustomer" name="slRatesToCustomer" onchange="CustomerRateData();" class="form-control m-b" data-required="false" onfocus="DisableBackspaceKey(id);">
                                                                <option value="">&lt;--Select--&gt;</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-sm-2">
                                                            <label>Package Type</label>
                                                            <select id="slPackageTypeID" name="slPackageTypeID" class="form-control m-b" onfocus="DisableBackspaceKey(id);" data-required="false" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"></select>
                                                        </div>
                                                     
                                                        <div class="form-group col-sm-2">
                                                            <button type="button" id="btnLoadSellingAmount" class="btn btn-primary btn-sm swapChildrenClass m-t-md" onclick="LoadSellingAmount();">
                                                                <b>&nbsp;Load Shipping Fees&nbsp;</b>
                                                            </button>
                                                            <button id="btn-Recalculate" class="btn btn-sm btn-primary m-t-md hide" type="button" onclick="RecalculateCODAmount();"><i class="fa fa-refresh"></i></button>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <label>Shipping Fees</label>
                                                            <input id="txtCustomer_Rate_SellingAmount"  onkeyup="CalculateCODamount();" type="number" class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>Commodity Fees</label>
                                                            <input id="txtCustomer_Rate_CommodityFees"  onkeyup="CalculateCODamount();" type="number" class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <label>COD Amount</label>
                                                            <input id="txtCODAmount" disabled type="number" class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label>Rate Details</label>
                                                            <input id="txtRateDetails" type="text" disabled class="form-control parsley-validated input-sm" placeholder="" data-required="false">
                                                            <input id="txtRateDetails_Quantity" type="text" disabled class="form-control parsley-validated input-sm hide" placeholder="" data-required="false">
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--EOFDomesticAWB-->
                                <!--Runner-->
                                <div class="step-pane" id="tabRunner">
                                    <!-- start alert message region -->
                                    <div class="alert alert-danger div-error">
                                        @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                    </div>
                                    <!-- end alert message region -->
                                    @* The next line is to call the addresses modal from the new button *@
                                    <button id="btn-NewAddRunner" class="m-l btn btn-warning btn-sm hide" data-toggle="modal" data-target="#RunnerModal" onclick="Runner_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;Add Runner</button>
                                    <br /><br />
                                    <!--The id of the next div is used to fill the addresses in the textareas-->
                                    <div id="bodyRunner"></div>
                                    <div class="table-responsive  m-t-n" style="font-size:80%;">
                                        <table id="tblRunners" class="table table-striped b-t b-light text-sm  table-hover">
                                            <thead>
                                                <tr>
                                                    <th id="ID">
                                                        <input id="cb-CheckAll" type="checkbox">
                                                    </th>
                                                    <th>Payment Type</th>
                                                    <th>Store</th>
                                                    <th>Pickup Address</th>
                                                    <th>Estimated Received Date </th>
                                                    <th>Actual Received Date</th>
                                                    <th>Estimated ArrivalDateToStore</th>
                                                    <th class="rounded-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--EOFRunner-->
                            </div>
                            <!-- Region Add / Edit Region Form -->
                         
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer m-t-n-lg">
                <button type="button" id="btnSave" class="btn btn-primary btn-sm swapChildrenClass" onclick="DomesticAWB_Save();">
                    <span class="glyphicon glyphicon-save"></span><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Save&nbsp;</b>
                </button>
                <button type="button" id="btnSaveandNew" disabled="disabled" class="btn btn-primary btn-sm swapChildrenClass hide" onclick="DomesticAWB_Save(true);">
                    <span class="glyphicon glyphicon-save"></span><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew&nbsp;</b>
                </button>
                <button class="btnClose btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true"><b>@Forwarding.MvcApp.App_Resources.App_Resources.Close</b></button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!-- EOF DomesticAWBModal  -->
<!-- Region Options & Template  -->
<!-- Add / Edit Region Modal --> <!--data-keyboard="false" data-backdrop="false" to prevent modal closure on pressing escape and pressing outside the modal-->

<div class="modal fade" id="ShipperModal" tabindex="-1" style="z-index:300;" data-keyboard="false" data-backdrop="false" role="dialog" aria-labelledby="ShipperModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Shipper &nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
            </h3>
        </div>
        <!-- Region Add / Edit Region Form -->
        <div class="modal-body">
            <div class="span7 form vertical-mode" id="Shipper-form">
                <fieldset>
                    <div class="form-group pull-in has-error clearfix">
                        <input id="hID" type="hidden" />
                        <!-- start alert message region -->
                        <div class="alert alert-danger div-error">
                            @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                        </div>
                        <!-- end alert message region -->
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12" style="padding: 0;">
                                        <div id="div-search-controls" class="input-group col-sm-12">
                                            <label>Shipper Name</label>
                                            <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                                <input id="txtSearchShipperNameNew" tabindex="400" type="text" onfocus="DisableEnterKeyWithSearch(id);" onkeypress="DisableEnterKeyWithSearch(id);" class="form-control parsley-validated input-sm"  placeholder="shipper Name" data-required="false" style="text-transform:uppercase">
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label>City-From</label>
                                        <select id="slCityFromShipper_New" name="slCityFrom" onchange="GetRegionsInCity('From');" data-required="false" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select City</option></select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Region-From</label>
                                        <select id="slRegionFromShipper_New" name="slRegionFrom" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Region</option></select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label>Phone 1</label>
                                        <input id="txtPhone1Shipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Phone 2</label>
                                        <input id="txtPhone2Shipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label>Company Name</label>
                                        <input id="txtCompanyNameShipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Sender Name</label>
                                        <input id="txtSenderNameShipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label>Account No</label>
                                        <input id="txtAccountNoShipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                    <div class="col-sm-6">
                                        <label>City</label>
                                        <input id="txtCityShipper_New" type="text"  class="form-control parsley-validated input-sm"  placeholder="" >
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label>Address</label>
                                        <div id="div-search-controls" class="input-group col-sm-12" style="padding: 0;">
                                            <textarea id="txtAddressShipper_New" tabindex="700" class="form-control m-b input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- Endegion Add / Edit Region Form -->
        <div class="modal-footer">
            <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="Shippers_Insert(false);">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
            </button>
            <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Shippers_Insert(true);">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
            </button>
            <button class="btnClose btn btn-link btn-sm" id="btnClose" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="RunnerModal" tabindex="-1" style="z-index:300;" data-keyboard="false" data-backdrop="false" role="dialog" aria-labelledby="RunnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-70">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    Runner &nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="Shipper-form">
                    <fieldset>
                        <div class="form-group pull-in has-error clearfix">
                            <input id="hID" type="hidden" />
                            <!-- start alert message region -->
                            <div class="alert alert-danger div-error">
                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                            </div>
                            <!-- end alert message region -->
                                <div class="row">
                                    <div class="row col-sm-12">
                                        <div class="form-group col-sm-6">
                                            <label>Runner-From</label>
                                            <select id="slRunnerFromShipper" onchange="ShowRunnerFromShipperData();" name="slRunnerFrom" data-required="false" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select Runner From</option></select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>Runner-To</label>
                                            <select id="slRunnerToConsignee" onchange="ShowRunnerToConsigneeData();" name="slRunnerTo" data-required="false" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select Runner To</option></select>
                                        </div>
                                    </div>
                                    <div class="row col-sm-12">
                                        <div class="form-group col-sm-3">
                                            <label>Store</label>
                                            <select id="slStore" name="slStore" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Store</option></select>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label>Tracking Stage</label>
                                            <select id="slTrackingStageID" name="slTrackingStageID" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Tracking Stage</option></select>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Pickup Address</label>
                                            <input id="txtPickupAddress" type="text" class="form-control parsley-validated input-sm" autocomplete="off" placeholder="Pickup Address">
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Estimated Received Date</label>
                                            @*<input id="txtEstimatedReceivedDate_Custody" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Estimated Received Date">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtEstimatedReceivedDate_Custody" onchange="" autocomplete="off" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                    </div>     
                                    <div class="row col-sm-12">
                                        <div class="col-sm-3">
                                            <label>Actual Received Date</label>
                                            @*<input id="txtActualReceivedDate_Custody" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Actual Received Date">*@
                                            <div class="input-group date datetimepicker-input"  data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtActualReceivedDate_Custody" autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Estimated Arrival Date To Store</label>
                                            @*<input id="txtEstimatedArrivalDateToStore" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Estimated Arrival Date To Store">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtEstimatedArrivalDateToStore"  autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Actual Arrival Date To Store</label>
                                            @*<input id="txtActualArrivalDateToStore" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Actual Arrival Date To Store">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtActualArrivalDateToStore" autocomplete="off"  onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Estimated Delivery Date From</label>
                                            @*<input id="txtEstimatedDeliveryDateFrom" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Estimated Delivery Date From">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtEstimatedDeliveryDateFrom" autocomplete="off"  onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                         </div>
                                    </div>
                                    <div class=" row col-sm-12">
                                        <div class="col-sm-3">
                                            <label>Estimated Delivery Date To</label>
                                            @*<input id="txtEstimatedDeliveryDateTo" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Estimated Delivery Date To">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtEstimatedDeliveryDateTo" autocomplete="off"  onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                         </div>
                                        <div class="col-sm-3">
                                            <label>Actual Delivery Date</label>
                                            @*<input id="txtActualDeliveryDate" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Actual Delivery Date">*@
                                            <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                                <input id="txtActualDeliveryDate"  autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                            </div>
                                        </div>   
                                    </div>
                                </div>

                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endegion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnSaveRunner" class="btn btn-primary btn-sm" onclick="Runner_Save(false);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Shippers_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                </button>*@
                <button class="btnCloseRunner btn btn-link btn-sm" id="btnCloseRunner" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="RunnerAWBsTransactionsModal" tabindex="-1" style="z-index:300;" data-keyboard="false" data-backdrop="false" role="dialog" aria-labelledby="RunnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    AWBs Transactions &nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="Shipper-form">
                    <fieldset>
                        <div class="form-group pull-in has-error clearfix">
                            <input id="hID" type="hidden" />
                            <!-- start alert message region -->
                            <div class="alert alert-danger div-error">
                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                            </div>
                            <!-- end alert message region -->
                            <div class="">
                                <div class="row col-sm-12 hide">
                                    <div class="form-group col-sm-6">
                                        <label>Runner-From</label>
                                        <select id="slRunnerFromShipper" disabled onchange="ShowRunnerFromShipperData();" name="slRunnerFrom" data-required="false" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select Runner From</option></select>
                                    </div>
                                    <div class="form-group col-sm-6 hide">
                                        <label>Runner-To</label>
                                        <select id="slRunnerToConsignee" onchange="ShowRunnerToConsigneeData();" name="slRunnerTo" data-required="false" class="form-control m-b" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);"><option value="">Select Runner To</option></select>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="form-group col-sm-2">
                                        <label>Store</label>
                                        <select id="FslStore" name="slStore" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Store</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Tracking Stage</label>
                                        <select id="FRunnerAWBsTransactionsslTrackingStageID" name="slTrackingStageID" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Tracking Stage</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Shipper City</label>
                                        <select id="FslShipperCity" name="slShipperCity" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select City</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Shipper Region</label>
                                        <select id="FslShipperRegion" name="slShipperRegion" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Region</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Consignee City</label>
                                        <select id="FslConsigneeCity" name="slConsigneeCity" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select City</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Consignee Region</label>
                                        <select id="FslConsigneeRegion" name="slConsigneeRegion" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Region</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Search</label>
                                        <input id="txtSearchAll" tabindex="400" type="text" onfocus="DisableEnterKeyWithSearch(id);" onkeypress="DisableEnterKeyWithSearch(id);" class="form-control parsley-validated input-sm" placeholder="Customer Name " data-required="false" >                                   
                                     </div>
                                   
                                    <div class="form-group col-sm-2">
                                        <button type="button" id="btnDispatcherSearch" class="btn btn-primary btn-sm swapChildrenClass m-t-md" onclick="FilterAWB_DispatcherSearch();">
                                            <b>&nbsp;Search&nbsp;</b>
                                        </button>
                                    </div>

                                </div>
                                <hr>
                                <div class="row col-sm-12">
                                    <div class="form-group col-sm-2">
                                        <label>Runner From</label>
                                        <select id="slRunnersFrom" name="slRunnersFrom" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Runner</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label>Runner To</label>
                                        <select id="slRunnersTo" name="slRunnersTo" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Runner</option></select>
                                    </div>

                                    <div class="form-group col-sm-2">
                                        <label>Tracking Stage</label>
                                        <select id="slTrackingStageIDApply" name="slTrackingStageIDApply" data-required="false" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"><option value="">Select Tracking Stage</option></select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <button type="button" id="btnDispatcherApply" class="btn btn-primary btn-sm swapChildrenClass m-t-md" onclick="ApplyBaseOnRows_Dispatcher();">
                                            <b>&nbsp;Apply&nbsp;</b>
                                        </button>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <button type="button" id="btnDispatcherSaveAll" class="btn btn-primary btn-sm swapChildrenClass m-t-md" onclick="SaveAllBaseOnRows_Dispatcher();">
                                            <b>&nbsp;Save All&nbsp;</b>
                                        </button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-3">
                                        <label>Estimated Received Date</label>
                                        <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                            <input id="ApplytxtEstimatedReceivedDate_Custody" onchange="" autocomplete="off" data-required="true" class="form-control" size="16" type="text" value="">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Estimated Arrival Date To Store</label>
                                        <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                            <input id="ApplytxtEstimatedArrivalDateToStore" autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Estimated Delivery Date From</label>
                                        <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                            <input id="ApplytxtEstimatedDeliveryDateFrom" autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Estimated Delivery Date To</label>
                                        <div class="input-group date datetimepicker-input" data-date-format="dd/mm/yyyy hh:ii" data-link-field="dtp_input1">
                                            <input id="ApplytxtEstimatedDeliveryDateTo" autocomplete="off" onchange="" data-required="true" class="form-control" size="16" type="text" value="">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row col-sm-12">
                                    <div class="table-responsive  m-t-n" style="font-size:80%;">
                                        <table id="tblDispatcherTransaction_DomesticAWB" class="table table-striped b-t b-light text-sm  table-hover">
                                            <thead>
                                                <tr>
                                                    <th id="ID">
                                                        <input id="cb-CheckAll-Apply" type="checkbox" onchange="CheckAllRows_Apply();">
                                                    </th>
                                                    <th>AWB Number </th>
                                                    <th>Shipper Name </th>
                                                    <th>Shipper AccountNo </th>
                                                    <th>Consignee Name </th>
                                                    <th>Tracking Stage </th>
                                                    <th>Runner From</th>
                                                    <th>Runner To</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endegion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnSaveRunner" class="btn btn-primary btn-sm hide" onclick="Runner_Save(false);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Shippers_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                    </button>*@
                <button class="btnCloseRunner btn btn-link btn-sm" id="btnCloseRunner" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>

