<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a id="hl-homepage" href="javascript:void(0);"><i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
    </a></li>
    <li><a id="liGroupName" href="javascript:void(0);" @*onclick="LoadViews('Locations');"*@>@*@Forwarding.MvcApp.App_Resources.App_Resources.MasterData*@
    </a></li>
    <li><a id="liTabName" href="javascript:void(0);" @*onclick="LoadViews('Locations');"*@>@*@Forwarding.MvcApp.App_Resources.App_Resources.Locations*@
    </a></li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Ports</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-Ports">
    <!-- Add / Edit Region Modal -->
    <div class="modal fade" id="PortModal" tabindex="-1" data-keyboard="false" data-backdrop="false" role="dialog" aria-labelledby="PortModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-50">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>*@
                    <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.Port &nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    </h3>
                </div>
                <!-- Region Add / Edit Region Form -->
                <div class="modal-body">
                    <div class="span7 form vertical-mode" id="Port-form">
                        <fieldset>
                            <div class="form-group pull-in has-error clearfix">
                                <input id="hID" type="hidden" />
                                <!-- start alert message region -->
                                <div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>
                                <!-- end alert message region -->

                                <!-- Region Add / Edit Region Form -->
                                <div class="col-sm-9">
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Country</label>
                                        <select id="slCountry" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="true" @*onchange="Ports_SetPortCodeFirstTwoLetters();"*@><option value=""><--Select--></option></select>
                                    </div>
                                    <div class="form-group col-sm-6 hide classShowForFactory">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.City</label>
                                        <select id="slFactoryCity" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"><option value=""><--Select--></option></select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Code</label>
                                        @*i used the name attribute in the next line to validate the 1st 2 letters in the validateform fn. in mainapp*@
                                        <input id="txtCode" @*name="txtPortCode"*@ onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated"  @*data-minlength="5"*@ maxlength="50" placeholder="" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                        <input type="text" id="txtName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="true" maxlength="100" placeholder="ex. Alexandria" style="text-transform:uppercase"/>
                                    </div>
                                    <div class="form-group col-sm-6 classHideForFactory">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName</label>
                                        <input type="text" id="txtLocalName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="50" placeholder="ex. Alexandria" style="text-transform:uppercase"/>
                                    </div>

                                    <div class="form-group col-sm-6 classShowForFactory hide">
                                        <label>Address</label>
                                        <input type="text" id="txtAddress" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Address" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6 classShowForFactory hide">
                                        <label>Telephone Number</label>
                                        <input type="text" id="txtTelephoneNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Telephone Number" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6 classShowForFactory hide">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email</label>
                                        <input type="text" id="txtEmail" name="Email" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Email" style="text-transform:uppercase" />
                                    </div>
                                    <div class="form-group col-sm-6 classShowForFactory hide">
                                        <label>Contact Person</label>
                                        <input type="text" id="txtContactPerson" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Contact Person" style="text-transform:uppercase" />
                                    </div>
                                    
                                </div>
                                <div class="col-sm-3">
                                    <label><input type="checkbox" id="cbIsInactive" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive</label><br />
                                    <label><input type="checkbox" id="cbIsPort" onclick="Ports_EnableDisablePortTypes();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsPort</label><br />
                                    <label><input type="checkbox" id="cbIsOcean" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbPortType" value="Ocean" disabled="disabled" />&nbsp;<i class= 'fa fa-anchor ocean-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsOcean</label><br />
                                    <label><input type="checkbox" id="cbIsAir" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbPortType" value="Air" disabled="disabled">&nbsp;<i class= 'fa fa-plane air-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsAir</label><br />
                                    <label><input type="checkbox" id="cbIsInland" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbPortType" value="Inland" disabled="disabled">&nbsp;<i class= 'fa fa-truck inland-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInland</label>
                                </div>
                                <!-- Region Add / Edit Region Form -->
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Endegion Add / Edit Region Form -->
               <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="Ports_Insert(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save</button>
                    <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Ports_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" data-dismiss="modal" aria-hidden="true" >@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
                </div> 
            </div>
        </div>
    </div>
    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.Ports
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs">
                    <button id="btn-NewAdd" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#PortModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Code / Name / Local Name / Country">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Ports_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->

            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblPorts" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">@Forwarding.MvcApp.App_Resources.App_Resources.Code
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th class="hide">@Forwarding.MvcApp.App_Resources.App_Resources.LocalName
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.Country
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.IsPort
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.IsOcean
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.IsAir
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.IsInland
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive
                            </th>
                            <th class="rounded-right hide"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--Region: table header-->

            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm"> @Forwarding.MvcApp.App_Resources.App_Resources.Showing 
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>