<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="MasterData" href="javascript:void(0);" onclick="LoadViews('MasterData')">
            @Forwarding.MvcApp.App_Resources.App_Resources.MasterData
        </a>
    </li>
    <li>
        <a id="SC_MasterData" href="javascript:void(0);" onclick="LoadViews(id)">
            @Forwarding.MvcApp.App_Resources.App_Resources.MasterData
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Expenses</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-ExpensesModal">
    <!-- Add / Edit Region Modal --> <!--data-keyboard="false" data-backdrop="false" to prevent modal closure on pressing escape and pressing outside the modal-->
    <div class="modal fade" id="ExpensesModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ExpensesModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-50">
            @*<div class="modal-content modalwidth-100">*@
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.Expenses&nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    </h3>
                </div>
                <!-- Region Add / Edit Region Form -->
                <div class="modal-body">
                    <div class="span7 form vertical-mode" id="Expenses-form">
                        <fieldset>
                            <div class="form-group pull-in  clearfix">
                                <input id="hID" type="hidden" />
                                <!-- start alert message region -->
                                <div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>
                                <!-- end alert message region -->
                                <!-- Region Add / Edit Region Form -->
                                <div class="form-group has-error clearfix col-sm-4">
                                    <div class="col-sm-12">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                        <input id="txtName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated  input-sm" data-required="true" data-minlength="1"  placeholder="ex. ME" style="text-transform:uppercase" />
                                    </div>
                                </div>
                                <div class="form-group has-error clearfix col-sm-4">
                                    <div class="col-sm-12">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Account</label>
                                        <select id="slAccountID" class="input-sm form-control" data-required="true" onchange="GetSubAccount();"></select>
                                    </div>
                                </div>
                                <div class="form-group  clearfix col-sm-4">
                                    <div class="col-sm-12">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.SubAccount</label>
                                        <select id="slSubAccountID" class="input-sm form-control" data-required="false" onchange=""></select>
                                    </div>
                                </div>

                                @*<div class="form-group has-error clearfix col-sm-4">
                                    <div class="col-sm-12">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationAccount</label>
                                        <select id="slOperationAccountID" class="input-sm form-control" data-required="true" onchange=""></select>
                                    </div>
                                </div>*@

                                <div class="form-group clearfix col-sm-4 hide">
                                    <div class="col-sm-12">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.CostCenter</label>
                                        <select id="slCostCenterID" class="input-sm form-control" data-required="false" onchange=""></select>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Endregion Add / Edit Region Form -->
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="Expenses_Insert(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                    </button>
                    <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Expenses_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                    </button>
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" onclick="" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->

                </div>
            </div>
        </div>
    </div>
    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Expenses
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs">
                    <button id="btn-NewAdd" onclick="Expenses_ClearAllControls();" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#ExpensesModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Store Name / Account Name">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Expenses_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->
            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblExpenses" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.Account
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.SubAccount
                            </th>
                            @*<th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.SalesAccount
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.CostCenter
                            </th>*@
                            @*<th>
            @Forwarding.MvcApp.App_Resources.App_Resources.HasDetails
        </th>*@
                            <th>

                            </th>

                        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>
<!--Region: table header-->
<!--Region: footer-->
<footer class="panel-footer">
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                @Forwarding.MvcApp.App_Resources.App_Resources.Apply
            </button>
        </div>
        <div id="div-Text-Total" class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">
                @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
            </small>
        </div>
        <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>


        <select id="hidden_slAccount" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
        <select id="hidden_slSubAccount" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
    </div>
</footer>
<!--Region: footer-->
</section>
</div>
</div>