<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a id="hl-homepage" href="javascript:void(0);"><i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
    </a></li>
    <li>
        <a id="MasterData" href="javascript:void(0);" onclick="LoadViews('Invoicing')">
            @Forwarding.MvcApp.App_Resources.App_Resources.MasterData
    </a>
</li>
<li>
    <a id="Invoicing" href="javascript:void(0);" onclick="LoadViews(id)">
        @Forwarding.MvcApp.App_Resources.App_Resources.Invoicing
</a>
</li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceTypes</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-InvoiceTypes">
    <!-- Add / Edit InvoiceType Modal -->
    <div class="modal fade" id="InvoiceTypeModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="InvoiceTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-100">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>*@
                    <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceType &nbsp;<label id="lblShown" class="static-text-primary"></label>
                    </h3>
                </div>
                <div class="modal-body">
                    <!-- Region Add / Edit InvoiceType Form -->
                    <div class="span7 form vertical-mode" id="InvoiceType-form">
                        <fieldset>
                            <div class="form-group pull-in  has-error clearfix">
                                <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                    <div class="swapChildrenClass">
                                        <input id="hID" type="hidden" />
                                        <!-- start alert message region -->
                                        <div class="alert alert-danger div-error">
                                            @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                        </div>
                                        <!-- end alert message region -->
                                        <div class="form-group col-sm-3">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Code</label>
                                            <input id="txtCode" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated input-sm " data-required="false" maxlength="10" placeholder="Code" style="text-transform:uppercase" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                            <input type="text" id="txtName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm " data-required="true" maxlength="50" placeholder="Name" style="text-transform:uppercase" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName</label>
                                            <input type="text" id="txtLocalName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm " data-required="false" maxlength="50" placeholder="Local Name" style="text-transform:uppercase" />
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                            <input type="text" id="txtNotes" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control input-sm " data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                                        </div>
                                        <div class="form-group col-sm-3 hide">
                                            <label class="m-t-lg"><input type="checkbox" id="cbIsInactive" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive</label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                    <div class="swapChildrenClass">
                                        <div class="form-group col-sm-3">
                                            <label class="m-t-lg"><input type="checkbox" id="cbIsWarehouseType" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.WarehouseType</label>
                                        </div>
                                        <div class="col-sm-9"></div>
                                    </div>
                                </div>
                                <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                    <div class="swapChildrenClass">
                                        <div class="form-group col-sm-3">
                                            <label class="m-t-lg"><input type="checkbox" id="cbIsSendToETA" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Send To ETA</label>
                                        </div>
                                        <div class="col-sm-9"></div>
                                    </div>
                                </div>

                            </div>
                            @* The next commented part is when to cancel Islam's request and use select boxes *@
                            @*<div class="col-sm-2 m-t ">
                <button id="btn-BindCharges" class="form-group btn btn-warning btn-sm m-t-n-xs m-l" data-toggle="modal" data-target="#CheckboxesListModal" onclick="InvoiceTypes_GetAvailableCharges();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.BindCharge</button>
            </div>
            <div class="col-sm-3 m-t">
                <input id="txtChargeTypesSearch" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase; border-color:#cccccc;"  type="text" class="input-sm form-control m-t-n-xs m-l" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search">
            </div>
            <button id="btn-ChargeTypesSearch" class=" btn btn-sm btn-primary m-t-sm" type="button" onclick="InvoiceTypes_BindedChargeTypes_Search();"><i class="fa fa-search"></i></button>
            <div class="col-sm-1 float-right m-t-n-xs">
            <button id="btn-UnbindChargeTypes" type="button" class=" btn btn-sm btn-danger m-t m-r" onclick="InvoiceTypes_UnbindChargeTypes(0);"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Unbind</button>
            </div>*@
                            <div id="divChargeBindingControls" class="row hide">
                                <div class="swapChildrenClass">
                                    <div class="col-sm-2 m-t m-l">
                                        <label class="static-text-blue text-ul">@Forwarding.MvcApp.App_Resources.App_Resources.Selectchargetobind</label>
                                    </div>
                                    <div class="col-sm-3 m-t m-l-n-xl has-error">
                                        <select id="slChargeTypes" class="form-control m-b input-sm m-t-n-xs" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                    </div>



                                    <div class="col-sm-2 m-t ">
                                        <button id="btn-BindChargeFromCombo" class="form-group btn btn-warning btn-sm m-t-n-xs m-l-n-lg" data-toggle="modal" onclick="InvoiceTypes_BindOrUnbindChargeTypes(1);"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.BindCharge</button>
                                    </div>
                                    <div class="col-sm-3 m-t m-l-n-xl">
                                        <input id="txtChargeTypesSearch" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase; border-color:#cccccc;" type="text" class="input-sm form-control m-t-n-xs m-l" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Search">
                                    </div>
                                    <button id="btn-ChargeTypesSearch" class=" btn btn-sm btn-primary m-t-sm" type="button" onclick="InvoiceTypes_BindedChargeTypes_Search();"><i class="fa fa-search"></i></button>
                                    <div class="col-sm-1 float-right m-t-n-xs">
                                        <button id="btn-UnbindChargeTypes" type="button" class=" btn btn-sm btn-danger m-t m-r" onclick="InvoiceTypes_BindOrUnbindChargeTypes(0);"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Unbind</button>
                                    </div>

                                </div>
                            </div>
                            <div id="divBindedCharges" class="m-t static-text-blue" @*style="background-color:red!Important"*@>
                            </div>

                        </fieldset>
                    </div>
                    <!-- Endegion Add / Edit InvoiceType Form -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="InvoiceTypes_Insert(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save</button>
                    <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="InvoiceTypes_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" @*onclick="InvoiceTypes_UnlockRecord();"*@ data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
                </div>
            </div>
        </div>
    </div>
    <!-- Region Options & Template  -->
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceTypes
                </h3>
            </header>
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs">
                    <button id="btn-NewAdd" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#InvoiceTypeModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.SearchCodeNameLocalName">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="InvoiceTypes_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive swapChildrenClass">
                <table id="tblInvoiceTypes" class="table table-striped b-t b-light text-sm  table-hover ">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">@Forwarding.MvcApp.App_Resources.App_Resources.Code
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.LocalName
                            </th>
                            <th class="hide">@Forwarding.MvcApp.App_Resources.App_Resources.IsInactive
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.Notes
                            </th>
                            <th>@Forwarding.MvcApp.App_Resources.App_Resources.WarehouseType 
                            </th>
                            <th class="rounded-right hide"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm"> @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
        </section>
    </div>
</div>
