<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Administration" href="javascript:void(0);" onclick="LoadViews('Settings')">
            @Forwarding.MvcApp.App_Resources.App_Resources.Administration
        </a>
    </li>
    <li>
        <a id="admapp" href="javascript:void(0);" onclick="LoadViews(id)">
            @Forwarding.MvcApp.App_Resources.App_Resources.admapp
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.InvoicesApprovalTax</li>
</ul>
<!-- end breadcrumb  -->
<div id="div-Invoices">
    <!-- Region Options & Template  -->
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 id="h3InvoiceApprovalTax" class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.InvoicesApprovalTax</h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                @*<div id="div-main-options" class="col-sm-2 m-b-xs">
                <button id="btn-NewAdd-Remove" class="btn btn-warning btn-sm swapChildrenClass hide" data-toggle="modal" data-target="#OperationPayableApprovalModal"><i class="fa fa-plus"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New&nbsp;</b></button>
                <div id="div-option-buttons" class="btn-group hide">
                    <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>&nbsp;Copy </button>
                    <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>&nbsp;Print </button>
                    <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>&nbsp;Send </button>
                </div>
            </div>    *@

                <div id="div-search-option" class="col-sm-12 swapChildrenClass">

                    <input id="btnAddFromExcel" type="file" title="Import Items from Excel 97-2003" class="btn-info btn-sm m-t-xxs hide" onchange="onFileSelected(event);" />

                    <div class="input-group col-sm-2">
                        <input id="txtSearchFrom" tabindex="20" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.From" />
                        <span class="input-group-btn">
                            <button id="btn-filter-Date" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2">
                        <input id="txtSearchTo" tabindex="30" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" readonly="readonly" style="background-color:white; cursor:text;" class="form-control datepicker-input input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.To" />
                        <span class="input-group-btn">
                            <button id="btn-filter-Date" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2 ">
                        <select id="slBranch" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Branch">
                            <option value="0">@Forwarding.MvcApp.App_Resources.App_Resources.Branch</option>
                        </select>
                        <span class="input-group-btn">
                            <button id="btn-filter-Branch" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2">
                        <!--<select id="slOperation" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>-->
                        <input id="txtOperation" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Operation">
                        <span class="input-group-btn">
                            <button id="btn-filter-Operation" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2">
                        <!--<select id="slInvoiceNumber" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>-->
                        <input id="txtInvoiceNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceNo">
                        <span class="input-group-btn">
                            <button id="btn-filter-InvoiceNumber" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>
                    <div class="input-group col-sm-2 hide">
                        <select id="slInvoiceType" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                        <span class="input-group-btn">
                            <button id="btn-filter-InvoiceType" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                        </span>
                    </div>

                    <div class="col-sm-12 ">

                        <div class="col-sm-3">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Account</label>
                            <select id="slAccountCharge" style="" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="input-sm form-control" onchange="Details_FillSlSubAccountCharge('slSubAccountCharge', 0)"></select>
                        </div>
                        <div class="col-sm-3">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.SubAccount</label>
                            <select id="slSubAccountCharge" class="input-sm form-control" onchange="" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                        </div>

                    </div>


                    @*<div class="form-group input-group col-sm-2 m-t-xs swapChildrenClass">
            <label><input type="checkbox" checked="checked" id="cbHideApprovedOperationPayable" onchange="InvoiceApproval_LoadingWithPaging();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Hide Approved</label>
        </div>
        <div class="float-right col-sm-2 hide">
            <button id="btn-Delete-Remove" type="button" class="float-right btn btn-sm btn-danger m-r-n swapChildrenClass hide"><i class="fa fa-trash-o"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete&nbsp;</b></button>
        </div>*@
                </div>
            </div>
            <!--EOF Region the searh, delete, addnew line-->
            <!--Region: table header-->
            <div class="col-sm-12 swapChildrenClass ">
                <div class="form-group input-group col-sm-2">
                    <select id="slPartnerType" @*onchange="InvoiceApproval_PartnerTypeChanged();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    <span class="input-group-btn">
                        <button id="btn-filter-PartnerType" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_PartnerTypeChanged();"><i class="fa fa-filter"></i></button>
                    </span>
                </div>

                <div class="form-group input-group col-sm-3">
                    <select id="slPartner" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"></select>
                    <span class="input-group-btn">
                        <button id="btn-filter" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                    </span>
                </div>
                <div class="form-group input-group col-sm-2 classHideForInvoiceStatus">
                    <select id="slApprovalStatus" @*onchange="InvoiceApproval_LoadingWithPaging();"*@ onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false">
                        <option value="">@Forwarding.MvcApp.App_Resources.App_Resources.AllStates</option>
                        <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.Approved</option>
                        <option value="0" selected>@Forwarding.MvcApp.App_Resources.App_Resources.UnApproved</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="btn-filterByApprovalStatus" title="Filter" class="btn btn-sm btn-lightblue" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-filter"></i></button>
                    </span>
                </div>
                <div @*id="div-search-controls"*@ class="form-group input-group col-sm-2 swapChildrenClass">
                    <input id="txt-Search" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="">
                    <span class="input-group-btn">
                        <button id="btn-search" title="Search" class="btn btn-sm btn-primary swapChildrenClass" type="button" onclick="InvoiceApprovalTax_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-sm-3 swapChildrenClass form-group classHideForInvoiceStatus">
                    <select id="slCostCenter" style="width:210px;" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="classAccountingOption m-l-lg input-sm hide"></select>
                </div>
          

            </div>
            
           
            @*<div class="swapChildrenClass"></div>*@
            <div class="swapChildrenClass m-t-md col-sm-12 form-group">

                <select id="slNewInvoiceTypeForDraft" style="width:210px;" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="m-l input-sm m-t-n hide"><option value="0"></option></select>
                <button id="btn-ApproveAllSelected" type="button" class="btn btn-primary btn-sm m-l hide" onclick="InvoiceApprovalTax_SetApproval(true);"><i class="fa fa-check-square-o"></i>@Forwarding.MvcApp.App_Resources.App_Resources.ApproveSelected</button>
                &nbsp;<button id="btn-UnApproveAllSelected" type="button" class="btn btn-danger btn-sm" onclick="InvoiceApprovalTax_SetApproval(false);"><i class="fa fa-minus-square"></i>@Forwarding.MvcApp.App_Resources.App_Resources.UnApproveSelected</button>
                &nbsp;<button id="btn-ImportFromEDI" class="btn btn-lightblue btn-sm hide" data-toggle="modal" data-target="" onclick="CreateApprovedDraft_ImportFromEDIExcel();"><i class="fa fa-table"></i>&nbsp;Import from Excel</button>
                &nbsp;<button id="btn-InvoiceOptions" type="button" class="btn btn-sm btn-info swapChildrenClass classHideForInvoiceStatus" onclick="Invoices_PrintOptions();"><i class="fa fa-print swapChildrenClass"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.PrintOptions&nbsp;</button>
                &nbsp;<button id="btn-PrintMultipleInvoices" type="button" class="btn btn-sm btn-info swapChildrenClass hide" onclick="Invoices_PrintMultiple(0);"><i class="fa fa-print swapChildrenClass"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.PrintMultipleInvoices&nbsp;</button>
                &nbsp;<button id="btn-PrintMultipleDiffrenceInvoices" type="button" class="btn btn-sm btn-info swapChildrenClass hide" onclick="Invoices_PrintMultipleDiffrenceInvoices(0);"><i class="fa fa-print swapChildrenClass"></i>&nbsp;PrintMultiple&nbsp;</button>

                <button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger hide" onclick="Invoices_DeleteList();"><i class="fa fa-trash-o"></i>@Forwarding.MvcApp.App_Resources.App_Resources.Cancel</button>
            </div>

            @* to return delete from here check that no payments are made/ to make it more easy don't allow multi-check *@
            <div class="table-responsive  m-t-xs ">
                <table id="tblInvoices" class="table table-striped b-t b-light text-sm table-hover">
                    <thead>
                        <tr>
                            <th id="HeaderDeleteInvoiceID">
                                <input id="cb-CheckAll-Invoices" type="checkbox" />
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.Branch
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.InvoiceNumber
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.InvoiceDateAbbrev
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.PartnerName
                            </th>
                            <th class="hide">
                                @Forwarding.MvcApp.App_Resources.App_Resources.PartnerType
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.Vessel
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.Total
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.Currency
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.ExchangeRate
                            </th>
                            <th class="hide">
                                @Forwarding.MvcApp.App_Resources.App_Resources.InvoiceDate
                            </th>
                            <th class="hide">
                                @Forwarding.MvcApp.App_Resources.App_Resources.DueDate
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.OperationNo
                            </th>
                            <th>
                                @Forwarding.MvcApp.App_Resources.App_Resources.HBL
                            </th>
                            <th class="">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Status
                            </th>
                            <th class="">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Approval
                            </th>
                            <th class="rounded-right"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>

<!--EditInvoiceModal-->
<div class="modal fade" id="EditInvoiceModal" tabindex="-1" style="z-index: 1040;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="EditInvoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Invoice &nbsp;<label id="lblEditedInvoiceShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region EditInvoice Form -->
                <div class="span7 form vertical-mode" id="EditInvoice-form">
                    <fieldset>
                        <input id="hEditedInvoiceID" type="hidden" />
                        <input id="hEditedInvoiceOperationID" type="hidden" />
                        <input id="hEditedInvoiceMasterOperationID" type="hidden" />
                        <input id="hEditedInvoiceTypeCode" type="hidden" />

                        <div class="form-group pull-in has-error clearfix">
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Operation</label>
                                <select id="slEditInvoiceOperations" onchange="Invoices_InvoiceOperationChanged('slEditInvoiceOperations', 'Edit');" class="form-control input-sm" data-required="true"></select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.BillTo</label>
                                <select id="slEditInvoicePartner" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="Invoices_PartnerChanged('slEditInvoiceAddressTypes', id, 'txtEditInvoiceIssueDate', 'txtEditInvoiceDueDate', 'slEditInvoicePaymentTerms');" class="input-sm form-control" data-required="true"></select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressType</label>
                                <select id="slEditInvoiceAddressTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="input-sm form-control" data-required="true"></select>
                            </div>
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceNumber</label>
                                <input type="text" id="txtEditInvoiceNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" data-minlength="1" maxlength="15" placeholder="Generated Automatically" readonly="readonly" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CustomerReference</label>
                                <input type="text" id="txtEditInvoiceCustomerReference" class="input-sm form-control parsley-validated" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" data-required="false" data-minlength="0" maxlength="10" placeholder="Ref No." style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PaymentTerm</label>
                                <select id="slEditInvoicePaymentTerms" name="slInvoicePaymentTerms" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="Invoices_SetDueDate('txtEditInvoiceIssueDate' ,'txtEditInvoiceDueDate' ,id);" class="input-sm form-control" data-required="false"></select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceDate</label>
                                <input id="txtEditInvoiceIssueDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="cursor:text; background-color:white;" class="input-sm datepicker-input form-control" data-required="true" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DueDate</label>
                                <input id="txtEditInvoiceDueDate" type="text" readonly="readonly" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="input-sm datepicker-input form-control" data-required="true" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>


                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AmtwithoutTax</label>
                                <input type="text" id="txtEditInvoiceAmountWithoutVAT" disabled="disabled" class="form-control parsley-validated input-sm" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="7" placeholder="Amount" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 hide classShowForTaxOnHeader">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VAT</label>
                                <select id="slEditInvoiceTax" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="Invoices_ChangeAmountInInvoiceEdit(false, false);" class="form-control input-sm" data-required="false"></select>
                            </div>
                            <div class="form-group col-sm-1 hide classShowForTaxOnHeader">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Perc</label>
                                <input type="text" id="txtEditInvoiceTaxPercentage" disabled="disabled" class="form-control parsley-validated input-sm" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="4" placeholder="Tax (%)" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-1 hide classShowForTaxOnHeader">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VATAmt</label>
                                <input type="text" id="txtEditInvoiceTaxAmount" disabled="disabled" class="form-control parsley-validated input-sm" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="7" placeholder="Tax Amount" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 hide classShowForTaxOnHeader">
                                @*<label>@Forwarding.MvcApp.App_Resources.App_Resources.TaxDiscount</label>*@
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DeductedTax</label>
                                <select id="slEditInvoiceDiscount" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="Invoices_ChangeAmountInInvoiceEdit(false, false);" class="form-control input-sm" data-required="false"></select>
                            </div>
                            <div class="form-group col-sm-1 hide classShowForTaxOnHeader">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Perc</label>
                                <input type="text" id="txtEditInvoiceDiscountPercentage" disabled="disabled" class="form-control parsley-validated input-sm" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="4" placeholder="Discount (%)" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-1 hide classShowForTaxOnHeader">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DiscAmt</label>
                                <input type="text" id="txtEditInvoiceDiscountAmount" disabled="disabled" class="form-control parsley-validated input-sm" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="7" placeholder="Discount Amount" style="text-transform:uppercase" />
                            </div>


                            <div class="form-group col-sm-1">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.SpecialDisc</label>
                                <input type="text" id="txtEditInvoiceFixedDiscount" class="form-control parsley-validated input-sm" onchange="Invoices_ChangeAmountInInvoiceEdit(false, false);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="false" maxlength="7" placeholder="Special Discount" style="text-transform:uppercase" />
                            </div>

                            <div class="form-group col-sm-1">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Total</label>
                                <input type="text" id="txtEditInvoiceAmount" disabled="disabled" class="input-sm form-control parsley-validated" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="10" placeholder="0.00" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-1">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Currency</label>@*the bool parameter in Invoices_CurrencyChanged() is true for edit to set the control names*@
                                <select id="slEditInvoiceCurrency" disabled="disabled" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="Invoices_CurrencyChanged(true);" class="input-sm form-control" data-required="true"></select>
                            </div>
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ExchangeRate</label>
                                <input type="text" id="txtEditInvoiceMasterDataExchangeRate" disabled="disabled" class="input-sm form-control parsley-validated" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onkeypress="CheckValueIsDecimal(id);" data-required="true" maxlength="3" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.ExchangeRate" style="text-transform:uppercase" />
                            </div>

                            <div id="div-search-controls-nameAlreadyFound" class="input-group col-sm-4 float-right hide">
                                <input id="txtSearchInvoiceItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control m-t-md" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.SearchCodeNameLocalName">
                                <span class="input-group-btn">
                                    <button id="btn-SearchInvoiceItems" class="input-sm btn btn-md btn-primary m-t-md" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CustomsClearanceCert</label>
                                <select id="slEditInvoiceRoutingCCA" class="form-control input-sm" data-required="false"></select>
                            </div>
                            <div class="form-group col-sm-1">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.SOA</label>
                                <select id="slEditInvoiceRelatedToInvoice" class="form-control input-sm" data-required="false"><option value=""><--Select--></option></select>
                            </div>

                            <div class="form-group col-sm-2 classShowForGBL hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.TransactionType</label>
                                <div class="input-group">
                                    <select id="slEditInvoiceTransactionTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" onchange="" class="form-control input-sm" data-required="false"><option value=""><--Select--></option></select>
                                    <span title="Save Transaction Type" class="input-group-addon" onclick="Invoices_SaveTransactionType();" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-edit"></span></span>
                                </div>
                            </div>

                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.LeftSignature</label>
                                <div class="input-group">
                                    <input type="text" id="txtEditInvoiceLeftSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                                    <span title="Select Signature" class="input-group-addon" onclick="Invoices_OpenUserSignatureModal('Left');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-edit"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.MiddleSignature</label>
                                <div class="input-group">
                                    <input type="text" id="txtEditInvoiceMiddleSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                                    <span title="Select Signature" class="input-group-addon" onclick="Invoices_OpenUserSignatureModal('Middle');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-edit"></span></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.RightSignature</label>
                                <div class="input-group">
                                    <input type="text" id="txtEditInvoiceRightSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                                    <span title="Select Signature" class="input-group-addon" onclick="Invoices_OpenUserSignatureModal('Right');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-edit"></span></span>
                                </div>
                            </div><div class="form-group col-sm-2 hide classShowForTank">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Tank</label>
                                <select id="slEditInvoiceTank" disabled="disabled" class="form-control input-sm" data-required="false"><option value="">@Forwarding.MvcApp.App_Resources.App_Resources.Select</option></select>
                            </div>
                            <div class="form-group col-sm-2 hide classShowForELI">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.IssueDate</label>
                                <input id="txtEditInvoiceCreationDate" disabled="disabled" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="cursor:text; background-color:white;" class="input-sm datepicker-input form-control" data-required="true" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Select" />
                            </div>
                            <div class="form-group col-sm-1 classKDS">
                                <label>GRT</label>
                                <input type="text" id="txtEditInvoiceGRT" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                            </div>
                            <div class="form-group col-sm-1 classKDS">
                                <label>DWT</label>
                                <input type="text" id="txtEditInvoiceDWT" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                            </div>
                            <div class="form-group col-sm-1 classKDS">
                                <label>NRT</label>
                                <input type="text" id="txtEditInvoiceNRT" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                            </div>
                            <div class="form-group col-sm-1 classKDS">
                                <label>LOA</label>
                                <input type="text" id="txtEditInvoiceLOA" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="50" style="" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                <input type="text" id="txtEditInvoiceEditableNotes" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" data-minlength="0" maxlength="200" style="" />
                            </div>
                        </div>
                        <button id="btn-AddInvoiceItem" class="btn btn-warning btn-sm" data-toggle="modal" onclick="Invoices_GetAvailableItems();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.AddItems</button>
                        @*<button id="btn-DeleteInvoiceItem" type="button" class="float-right btn btn-sm btn-danger" onclick="Invoices_DeleteItems(true, true);"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.RemoveItems</button>*@
                        <button id="btn-DeleteInvoiceItem" type="button" class="float-right btn btn-sm btn-danger" onclick="Invoices_Update(true, true);"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.RemoveItems</button>
                        <div id="divEditInvoice" class="m-t-sm">
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion EditInvoice Form -->
            </div>
            <div class="modal-footer m-t-n-lg">
                <!--sherif-->
                <button type="button" id="btnSaveEditInvoice" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF EditInvoiceModal-->
<!--UpdatePartnerModal-->
<div class="modal fade" id="UpdatePartnerModal" tabindex="-1" style="z-index:2000;" @*data-keyboard="false"*@ data-backdrop="false" role="dialog" aria-labelledby="UpdatePartnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    <label id="lblUpdatePartnerShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    @*<button type="button" class="close" title="Close" data-dismiss="modal" onclick="MAWBStockSelect_ResetFunctionsNames();" aria-hidden="true">&times;</button>*@
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="UpdatePartnerModal-form">
                    <fieldset>
                        <input id="hUpdatePartnerID" type="hidden" />
                        <div class="col-sm-12"><h4 class="text-blue">If VAT Number is found then its client will be used.</h4></div>
                        <div class="form-group col-sm-6 m-t">
                            <label>Name</label>
                            <input type="text" id="txtUpdatePartnerClientName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control input-sm" placeholder="" />
                        </div>
                        <div class="form-group col-sm-6 m-t">
                            <label>VAT No</label>
                            @*<select id="slUpdatePartner" class="form-control input-sm"></select>*@
                            <input type="text" id="txtUpdatePartnerVATNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control input-sm" placeholder="" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnUpdatePartner" class="btn btn-primary btn-sm" onclick="">
                    Save <span class="fa fa-hand-o-right"></span>
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="MAWBStockSelect_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>*@
                <button class="btnClose btn btn-link btn-sm" title="Close" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!--EOF UpdatePartnerModal-->
<!--CheckboxesListModal-->
<div class="modal fade" id="CheckboxesListModal" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CheckboxesListModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.SelectItems &nbsp;<label id="lblShownItems" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region CheckboxesList Form -->
                <div class="span7 form vertical-mode" id="CheckboxesList-form">
                    <fieldset>
                        <div class="row">
                            <div id="div-search-controls-checkboxeslist" class="input-group m-l col-sm-5">
                                <input id="txtSearchItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Search" />
                                <span class="input-group-btn">
                                    <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div><br />

                        <div id="divCheckboxesList">
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion CheckboxesList Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                <button type="button" id="btnCheckboxesListApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply
                </button>
                <button class=" btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF CheckboxesListModal-->
<!--PrintInvoiceOptionsModal-->
<div class="modal fade" id="PrintInvoiceOptionsModal" tabindex="-1" style="z-index: 1040;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="PrintInvoiceOptionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-70">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <h3 class="m-b-none">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    Print Options &nbsp;<label id="lblPrintInvoiceOptionsShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region PrintInvoiceOptions Form -->
                <div class="span7 form vertical-mode" id="PrintInvoiceOptions-form">
                    <fieldset>
                        <div class="fprm-group col-sm-12 m-t">
                            <label class=""><input type="checkbox" id="cbPrintHeaderInvoice" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print Header</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintFooterInvoice" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print Footer</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintMBL" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print MB/L</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintHBL" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print HB/L</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintArabicItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Arabic Items</label>&emsp;
                            <label class=""><input type="checkbox" id="cbAddNotesToItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Add Notes to Items</label>&emsp;
                            <label class=""><input type="checkbox" id="cbLargeInvoice" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Large Inv.</label>&emsp;
                            <label class="hide"><input type="checkbox" id="cbPrintUSDTotal" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;EGP To USD</label>&emsp;
                            <label class="hide"><input type="checkbox" id="cbPrintReceivableNotes" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print Receivable Notes</label>
                            <br /><br />
                            <label class=""><input type="checkbox" id="cbPrintLeftSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.LeftSignature</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintMiddleSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.MiddleSignature</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintRightSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.RightSignature</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintStamp" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Stamp</label>&emsp;
                            <label class=""><input type="checkbox" id="cbPrintNotification" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print Notification</label>&emsp;
                            <label class="hide"><input type="checkbox" id="cbPrintStamp-Ar" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Stamp-Ar</label>&emsp;
                            <label class="hide"><input type="checkbox" id="cbPrintStamp-Kadmar" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Stamp-Kadmar</label>&emsp;
                        </div>

                        <div class="form-group col-sm-12 m-t hide classShowForSEF">
                            <label class=""><input type="checkbox" checked id="cbPrintLine" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Line</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintPOL" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintPOD" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POD</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintRefNo" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Ref No</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintPONumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;PO Number</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintNoOfContainers" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;No Of Contrs</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintCourier" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Courier</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintAWB" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;AWB</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintNoOfPackages" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;No Of Pkgs</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintChargeableWeight" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Chargeable Wgt</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintVolume" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Volume</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintSONumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;SO Number</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintShipper" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Shipper</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintBookingNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Booking Number</label>&emsp;
                            <label class=""><input type="checkbox" checked id="cbPrintGrossWeight" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Gross Wgt</label>&emsp;
                        </div>

                        <div class="form-group col-sm-2 m-t">
                            <select id="slInvoiceOriginal" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm">
                                <option value="">Original / Copy</option>
                                <option value="(Original)">Original</option>
                                <option value="(Copy)">Copy</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-7 m-t">
                            <label class=""><input type="radio" checked="checked" id="cbPrintBankDetailsFromDefaults" onchange="Invoices_PrintBankDetailsOptionChanged();" name="nameCbPrintBankDetailsOption" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print default bank details</label>&emsp;
                            <label class=""><input type="radio" id="cbPrintBankDetailsFromTemplate" onchange="Invoices_PrintBankDetailsOptionChanged();" name="nameCbPrintBankDetailsOption" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Print template bank details</label>&emsp;
                            <label class=""><input type="radio" id="cbPrintBankDetailsNone" onchange="Invoices_PrintBankDetailsOptionChanged();" name="nameCbPrintBankDetailsOption" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Don't print bank details</label>
                        </div>
                        <div class="form-group col-sm-3 m-t m-l-n-lg">
                            <select id="slBankTemplate" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm hide"></select>
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion PrintInvoiceOptions Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                <button type="button" data-dismiss="modal" id="btnSavePrintInvoiceOptions" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;OK
                </button>
                @*<button class=" btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>*@
            </div>
        </div>
    </div>
</div>
<!--EOF PrintInvoiceOptionsModal-->
<!--SelectUserSignatureModal-->
<div class="modal fade" id="SelectUserSignatureModal" tabindex="-1" style="z-index:2000;" @*data-keyboard="false"*@ data-backdrop="false" role="dialog" aria-labelledby="SelectUserSignatureModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    Select UserSignature&nbsp;<label id="lblSelectUserSignatureShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    @*<button type="button" class="close" title="Close" data-dismiss="modal" onclick="MAWBStockSelect_ResetFunctionsNames();" aria-hidden="true">&times;</button>*@
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="SelectUserSignatureModal-form">
                    <fieldset>
                        <input id="hSelectUserSignatureID" type="hidden" />
                        <div class="form-group col-sm-6 m-t">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.LeftSignature</label>
                            <select id="slEditInvoiceSignature" class="form-control input-sm" onclick="" data-required="false"></select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnApplySignature" class="btn btn-primary btn-sm" onclick="Invoices_OpenUserModal();">
                    Apply <span class="fa fa-hand-o-right"></span>
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="MAWBStockSelect_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>*@
                <button class="btnClose btn btn-link btn-sm" id="btnClose" title="Close" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!--EOF SelectUserSignatureModal-->
<!--SetInvoiceStatusModal-->
<div class="modal fade" id="SetInvoiceStatusModal" tabindex="-1" style="z-index:2000;" @*data-keyboard="false"*@ data-backdrop="false" role="dialog" aria-labelledby="SetInvoiceStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.InvoiceStatus&nbsp;<label id="lblSetInvoiceStatusShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    @*<button type="button" class="close" title="Close" data-dismiss="modal" onclick="MAWBStockSelect_ResetFunctionsNames();" aria-hidden="true">&times;</button>*@
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="SetInvoiceStatusModal-form">
                    <fieldset>
                        <input id="hInvoiceIDToSetStatus" type="hidden" />
                        <div class="form-group col-sm-6">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PaymentStatus</label>
                            <select id="slEditInvoiceManualPaymentStatus" class="form-control input-sm" onclick="" data-required="false">
                                <option value="0"><--Select--></option>
                                <option value="10">@Forwarding.MvcApp.App_Resources.App_Resources.UnPaid</option>
                                <option value="30">@Forwarding.MvcApp.App_Resources.App_Resources.Paid</option>
                            </select>
                        </div>
                        <div class="col-sm-6 m-t-lg">
                            &emsp;<label><input type="checkbox" id="cbIsInvoiceDelivered">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delivered</label>
                        </div>

                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnSaveInvoiceStatus" class="btn btn-primary btn-sm" onclick="InvoiceStatus_SaveManualStatus();">
                    <span class="fa fa-pencil"> @Forwarding.MvcApp.App_Resources.App_Resources.Save</span>
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="MAWBStockSelect_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>*@
                <button class="btnClose btn btn-link btn-sm" title="Close" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!--EOF SetInvoiceStatusModal-->
<!--voucherModal-->
<div class="modal fade" id="VoucherModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="VoucherModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="m-b-none swapChildrenClass">
                    <span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.CashReceivingVoucher &nbsp;</span><label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="JournalTypes-form">
                    <fieldset>
                        <div class="form-group pull-in  has-error clearfix">
                            <input id="hID" type="hidden" />
                            <!-- start alert message region -->
                            @*<div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>*@
                            <!-- end alert message region -->
                            <!-- Region Add / Edit Region Form -->
                            <div class="swapChildrenClass">
                                <div class="form-group col-sm-6">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Amount</label>
                                    <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtAmount" class="form-control parsley-validated input-sm" data-required="true" maxlength="50" placeholder="" style="text-transform:uppercase" />
                                </div>

                                <div class="form-group col-sm-6">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.WHT</label>
                                    <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtWHT" class="form-control parsley-validated input-sm" data-required="true" maxlength="50" placeholder="" style="text-transform:uppercase" />
                                </div>
                                <div class="form-group col-sm-8">
                                    <label>Reference</label>
                                    <input type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" id="txtReference" class="form-control parsley-validated input-sm" data-required="true" maxlength="500" placeholder="" style="text-transform:uppercase" />
                                </div>

                            </div>
                            @*<div class="col-sm-6 m-t-27 ">
                                    <label><input type="checkbox" id="cbIsReligional" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Religional</label><br />
                                </div>*@
                            <!-- Region Add / Edit Region Form -->
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary btn-sm swapChildrenClass" onclick="Voucher_Insert(false);">
                    <span class="glyphicon glyphicon-save"></span><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Save&nbsp;</b>
                </button>

                <button class="btnClose btn btn-link btn-sm" id="btnClose" onclick="" data-dismiss="modal" aria-hidden="true"><b>@Forwarding.MvcApp.App_Resources.App_Resources.Close</b></button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
