<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Administration" href="javascript:void(0);" onclick="LoadViews('Settings')">
            @Forwarding.MvcApp.App_Resources.App_Resources.Administration
    </a>
</li>
<li>
    <a id="Settings" href="javascript:void(0);" onclick="LoadViews(id)">
        @Forwarding.MvcApp.App_Resources.App_Resources.Settings
</a>
</li>
<li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.Defaults</li>
</ul>
<!-- end breadcrumb  -->
<style>

    .note-editor .note-toolbar .note-insert .note-btn[aria-label="Picture"] {
        display: none !important;
    }

    .note-editor .note-toolbar .note-insert .note-btn[aria-label="Video"] {
        display: none !important;
    }
</style>
<div id="div-Defaults">
    <!-- Add / Edit Region Modal -->
    <div class="modal fade" id="DefaultsModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="DefaultsModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-100">
            <div class="modal-content m-t-n-lg">
                <div class="modal-header">
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.Defaults &nbsp;<label id="lblDefaultsShown" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region Add / Edit Region Form -->
                <div class="modal-body m-t-n-lg">
                    <div class="span7 form vertical-mode" id="Vessel-form">


                        <div class="wizard wizard-vertical ">
                            <ul class="steps">
                                <li data-target="#BasicData" id="stepsBasicData" onclick="" class="active"><span class="badge badge-info" style="background-color:midnightblue;">1</span>@Forwarding.MvcApp.App_Resources.App_Resources.BasicData</li>
                                <li data-target="#EmailSetting" id="stepsEmailSetting" onclick="" class="complete non_basic"><span class="badge badge-info" style="background-color:midnightblue;">2</span>@Forwarding.MvcApp.App_Resources.App_Resources.Email_Setting</li>
                            </ul>
                            <div class="actions" style="display:none;">
                                <!--Next & Previous buttons-->
                                <button type="button" class="btn btn-default btn-xs btn-prev" disabled="disabled">@Forwarding.MvcApp.App_Resources.App_Resources.Prev</button>
                                <button type="button" class="btn btn-default btn-xs btn-next" data-last="Finish">@Forwarding.MvcApp.App_Resources.App_Resources.Next</button>
                            </div>
                        </div>









                        <div class="step-content">
                            <fieldset>
                                <input id="hID" type="hidden" />
                                <!-- start alert message region -->
                                <div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>
                                <div class="form-group pull-in  has-error clearfix">
                                    <div class="step-pane active step-content m-t-n-lg" id="BasicData">
                                        <div class="row text-sm wrapper hidden-print m-t-sm">
                                            <!-- end alert message region -->
                                            <!-- Region Add / Edit Region Form -->
                                            <div class="form-group col-sm-3 m-t-n">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CompanyName</label>
                                                <input type="text" id="txtCompanyName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="true" maxlength="200" placeholder="ex. InfoSysTech" />
                                            </div>
                                            <div class="form-group col-sm-3 m-t-n">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CompanyLocalName</label>
                                                <input type="text" id="txtCompanyLocalName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="true" maxlength="200" placeholder="إنفوسيستك" />
                                            </div>
                                            <div class="form-group col-sm-2 m-t-n">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Branch</label>
                                                <select id="slBranches" name="slBranches" class="input-sm form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="true"></select>
                                            </div>
                                            <div class="form-group col-sm-2 m-t-n">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Currency</label>
                                                <select id="slCurrency" disabled="disabled" class="input-sm form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                            </div>
                                            <div class="form-group col-sm-2 m-t-n">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ForeignCurrency</label>
                                                <select id="slForeignCurrency" disabled="disabled" class="input-sm form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressLine1</label>
                                                <input type="text" id="txtAddressLine1" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Address Line 1" style="" />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Phones</label>
                                                <input type="text" id="txtPhones" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Phones" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressLine2</label>
                                                <input type="text" id="txtAddressLine2" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Address Line 2" style="" />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Faxes</label>
                                                <input type="text" id="txtFaxes" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Faxes" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressLine3</label>
                                                <input type="text" id="txtAddressLine3" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Address Line 3" style="" />
                                            </div>

                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Website</label>
                                                <input type="text" id="txtWebsite" name="Website" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" data-minlength="0" maxlength="100" placeholder="ex. www.infosystech.com" style="" />
                                            </div>
                                            <div class="form-group col-sm-6 hide">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressLine4</label>
                                                <input type="text" id="txtAddressLine4" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Address Line 4" style="" />
                                            </div>
                                            <div class="form-group col-sm-6 hide">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AddressLine5</label>
                                                <input type="text" id="txtAddressLine5" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Address Line 5" style="" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.BankName</label>
                                                <input type="text" id="txtCompanyBankName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="150" placeholder="Bank Name" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AccountName</label>
                                                <input type="text" id="txtCompanyAccountName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="150" placeholder="Account Name" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.BankAddress</label>
                                                <input type="text" id="txtCompanyBankAddress" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="Bank Address" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.SwiftCode</label>
                                                <input type="text" id="txtCompanySwift" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="50" placeholder="Swift Code" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.AccountNumber</label>
                                                <input type="text" id="txtCompanyAccountNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="Account Number" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.TaxNumber</label>
                                                <input type="text" id="txtCompanyTaxNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="Tax Number" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VatIDNo</label>
                                                <input type="text" id="txtVatIDNo" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="VAT ID Number" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>Com.Reg.No.</label>
                                                <input type="text" id="txtCommericalRegNo" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="Commerical Registration Number" style="text-transform:uppercase" />
                                            </div>

                                            <div class="form-group col-sm-2" style="clear:both;">
                                                <label>Inv.Left Sign Title</label>
                                                <input type="text" id="txtInvoiceLeftPosition" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Inv.Left Signature</label>
                                                <input type="text" id="txtInvoiceLeftSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Inv.Middle Sign Title</label>
                                                <input type="text" id="txtInvoiceMiddlePosition" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Inv.Middle Signature</label>
                                                <input type="text" id="txtInvoiceMiddleSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Inv.Right Sign Title</label>
                                                <input type="text" id="txtInvoiceRightPosition" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Inv.Right Signature</label>
                                                <input type="text" id="txtInvoiceRightSignature" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Small Business Below</label>
                                                <input type="text" id="txtSmallBusinessBelow" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="20" placeholder="Small Business Volume Below" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>Medium Business Below</label>
                                                <input type="text" id="txtMediumBusinessBelow" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="20" placeholder="Medium Business Volume Below" style="text-transform:uppercase" />
                                            </div>

                                            <div class="form-group col-sm-6" style="clear:both;">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.SL_InvoicesComments</label>
                                                <textarea id="txtSL_InvoicesComments" style="resize:none;" class="input-sm form-control parsley-validated"></textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PurchaseInvoicesComments</label>
                                                <textarea id="txtPurchaseInvoicesComments" style="resize:none;" class="input-sm form-control parsley-validated"></textarea>
                                            </div>

                                            <div class="form-group col-sm-1 hide">
                                                <label>Imp-OC</label>
                                                <input type="text" id="txtImportOceanDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Imp-AI</label>
                                                <input type="text" id="txtImportAirDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Imp-Land</label>
                                                <input type="text" id="txtImportInlandDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Exp-OC</label>
                                                <input type="text" id="txtExportOceanDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Exp-AI</label>
                                                <input type="text" id="txtExportAirDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Exp-Land</label>
                                                <input type="text" id="txtExportInlandDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Dom-OC</label>
                                                <input type="text" id="txtDomesticOceanDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Dom-AI</label>
                                                <input type="text" id="txtDomesticAirDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-1 hide">
                                                <label>Dom-Land</label>
                                                <input type="text" id="txtDomesticInlandDays" onfocus="CheckValueIsInteger(id);" onkeypress="CheckValueIsInteger(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="2" placeholder="Days" style="text-transform:uppercase" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label><input type="checkbox" id="cbIsAddChargeAuto" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Add Charges Automatically</label><br />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label><input type="checkbox" id="cbShowUserSalesmen" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Show User Salesmen & Customers</label><br />
                                            </div>

                                        </div>

                                    </div>
                                    <div class="step-pane  step-content m-t-n-lg" id="EmailSetting">
                                        <div class="row text-sm wrapper hidden-print m-t-n-sm">

                                            <div class="form-group col-sm-4">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email</label>
                                                <input type="text" id="txtEmail" name="Email" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="input-sm form-control parsley-validated" data-required="false" maxlength="100" placeholder="ex. Faxes" style="" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email_Password</label>
                                                <input id="txtEmail_Password" name="EmailPassword" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="password" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Email Password" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email_DisplayName</label>
                                                <input id="txtEmail_DisplayName" name="Email_DisplayName" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Display Name" />
                                            </div>
                                        </div>
                                        <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                            <div class="form-group col-sm-4">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email_Host</label>
                                                <input id="txtEmail_Host" name="Email_Host" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Email Host" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Email_Port</label>
                                                <input id="txtEmail_Port" name="Email_Port" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="number" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Email_Port" />
                                            </div>
                                            <div class="form-group col-sm-4 m-t-27">
                                                <label><input type="checkbox" id="cbEmail_IsSSL" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Email_IsSSL</label><br />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h3>Signature</h3>
                                            <div class="col-sm-12 text-sm wrapper hidden-print m-t-n-sm">
                                                <textare id="txtEmail_Footer"></textare>
                                            </div>
                                        </div>
                                        @*send test email*@
                                        <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                            <h3>@Forwarding.MvcApp.App_Resources.App_Resources.SendTestEmail @Forwarding.MvcApp.App_Resources.App_Resources.TestYourSetting</h3>
                                        </div>
                                        <div class="row text-sm wrapper hidden-print m-t-n-sm">
                                            <div class="form-group col-sm-2">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.To</label>
                                                <input id="txtEmail_To" name="Email_To" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="To" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Subject</label>
                                                <input id="txtEmail_Subject" name="Email_Subject" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Subject" />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Body</label>
                                                <input id="txtEmail_Body" name="Email_Subject" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="Body" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <button type="button" id="btnSendTestEmail" class="btn btn-warning btn-sm" onclick="SendTestEmail();" style="margin-top: 25px;">
                                                    <span class="fa fa-envelope-o"></span> @Forwarding.MvcApp.App_Resources.App_Resources.SendTestEmail
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Region Add / Edit Region Form -->
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!-- Endregion Add / Edit Region Form -->
                <div class="modal-footer m-t-n-lg">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="Defaults_Insert(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                    </button>
                    @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="Defaults_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>*@
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" @*onclick="Vessels_UnlockRecord();"*@ data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EOF Add / Edit Region Modal -->

<div id="div-Data">
    <div id="div-Options">
        <div id="div-Action" class="radius-top-left-right">
        </div>
    </div>
    <section class="panel panel-default">
        <header class="panel-heading">
            <h3 class="m-b-none">
                @Forwarding.MvcApp.App_Resources.App_Resources.Defaults
        </h3>
    </header>
    <!--Region the searh, delete, addnew-->
    <div class="row text-sm wrapper hidden-print ">
        <div id="div-main-options" class="col-sm-5 m-b-xs">
            @*<button id="btn-NewAdd" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#DefaultsModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>*@
            <div id="div-option-buttons" class="btn-group hide">
                <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>&nbsp;Copy </button>
                <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>&nbsp;Print </button>
                <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>&nbsp;Send </button>
            </div>
        </div>
        <div id="div-search-option" class="col-sm-7">
            <div id="div-search-controls" class="input-group col-sm-9">
                @*<input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Code / Name / Local Name">
                    <span class="input-group-btn">
                        <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Vessels_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                    </span>*@
            </div>
            <div class="float-right col-sm-1">
                @*<button id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n hide"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>*@
            </div>
        </div>
    </div>
    <!--Region the searh, delete, addnew-->
    <!--Region: table header-->
    <div class="table-responsive">
        <table id="tblDefaults" class="table table-striped b-t b-light text-sm  table-hover">
            <thead>
                <tr>
                    <th id="ID" class="hide">
                        <input id="cb-CheckAll" type="checkbox" />
                    </th>
                    <th>
                        @Forwarding.MvcApp.App_Resources.App_Resources.CompanyName
                </th>
                <th>
                    @Forwarding.MvcApp.App_Resources.App_Resources.CompanyLocalName
            </th>
            <th>
                @Forwarding.MvcApp.App_Resources.App_Resources.Branch
        </th>
        <th>
            @Forwarding.MvcApp.App_Resources.App_Resources.Currency
    </th>
    <th>
        @Forwarding.MvcApp.App_Resources.App_Resources.ForeignCurrency
</th>
<th>
    @Forwarding.MvcApp.App_Resources.App_Resources.Website
</th>
<th class="rounded-right"></th>
</tr>
</thead>
<tbody></tbody>
</table>
</div>
<!--Region: table header-->
<!--Region: footer-->
<footer class="panel-footer">
    <div class="row hide">
        <div class="col-sm-4 hidden-xs">
            <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                @Forwarding.MvcApp.App_Resources.App_Resources.Apply
            </button>
        </div>
        <div id="div-Text-Total" class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">
                @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
            </small>
        </div>
        <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
    </div>
</footer>
<!--Region: footer-->
</section>
</div>

</div>
