<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a id="hl-homepage" href="javascript:void(0);" onclick="LoadViews('hl-homepage')"><i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
    </a></li>
    <li><a id="Administration" href="javascript:void(0);" onclick="LoadViews('Settings')">@Forwarding.MvcApp.App_Resources.App_Resources.Administration
    </a></li>
    <li><a id="Settings" href="javascript:void(0);" onclick="LoadViews(id)">@Forwarding.MvcApp.App_Resources.App_Resources.Settings
    </a></li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.MergeDuplicate</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-MergeDuplicate">


    <div id="div-Data">
       
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.MergeDuplicate
            </h3>
        </header>


            <div class="span7 form vertical-mode" id="MergeDuplicate-form">
                <fieldset class="">



                    <div style="margin-left:25%;" class="form-group  col-sm-5 ">
                        <br>
                        <div class="form-group col-sm-12">
                            <div class="form-group">

                                <div id="div_ItemsType" style="border:dashed 1px black!important; overflow-y:scroll;">
                                    <label class="">&nbsp;<input onchange="ClearItems();" type="radio" checked value="1" name="ItemType" id="cbIsCustomer" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Customers&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <label class="">&nbsp;<input onchange="ClearItems();" type="radio" checked value="2" name="ItemType" id="cbIsAgent" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Agents&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <label class="">&nbsp;<input onchange="ClearItems();" type="radio" checked value="11" name="ItemType" id="cbIsCustody" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Custody&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <label class=""><input type="radio" onchange="ClearItems();" value="10" name="ItemType" id="cbIsSubAccount" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.SubAccounts&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    @*<label class=""><input type="radio" onchange="ClearItems();" value="3" name="ItemType" id="cbIsLines" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Lines&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <label class=""><input type="radio" onchange="ClearItems();" value="4" name="ItemType" id="cbIsCompanies" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Companies&nbsp;&nbsp;&nbsp;&nbsp; </label>
        <label class=""><input type="radio" onchange="ClearItems();" value="5" name="ItemType" id="cbIsItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Items&nbsp;&nbsp;&nbsp;&nbsp; </label>*@

                                </div>
                            </div>

                        </div>
                        <br />
                        <div id="div-search-controls" class="input-group col-sm-12">
                            <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Search">
                            <span class="input-group-btn">
                                <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="Fill_Items();">@Forwarding.MvcApp.App_Resources.App_Resources.GetItems &nbsp;&nbsp;<i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <br>
                        <div class="form-group form-group m-t-n">
                            <div class="col-sm-12">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Final</label>
                                <select id="slDestinationItems" class="input-sm form-control" onchange="BlockDuplicateChoices();"></select>
                            </div>

                        </div>
                        <br>
                        <div class="form-group  col-sm-12 m-t-n">
                            <div class="form-group">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.SelectDuplicateItems</label>
                                <div id="div_DuplicatedItems" style="border:solid 3px black!important; height:300px; overflow-y:scroll;">
                                    <ul id="ul_DuplicatedItems"></ul>

                                </div>
                            </div>

                        </div>

                        <div class="form-group  col-sm-12">
                            <div class="form-group">
                                <button type="button" id="btnSave" class="btn btn-danger btn-sm float-right" onclick="Merge();">
                                    <span class="fa fa-retweet"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Merge
                                </button>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>




            <footer class="panel-footer">
                <div class="row">

                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>
