<!-- start breadcrumb  -->
<style>
    * {
        box-sizing: border-box;
    }
    /**
    * This can be extended to anything to make it get slightly bigger on hover,
    * which is a pretty commonly desired effect
    */
    .big-on-hover {
        transform: scale(1, 1);
    }

        .big-on-hover:hover {
            transform: scale(1.2, 1.2);
        }

    /**
    * Reusable single-direction margin declaration
    */
    .margin, p, .flag {
        margin-top: 0;
        margin-bottom: 2%;
    }

        .margin:last-child, p:last-child, .flag:last-child {
            margin-bottom: 0;
        }

    /**
    * Flag Object
    * Original Source: http://csswizardry.com/2013/05/the-flag-object/
    */
    .flag {
        display: table;
        width: 100%;
    }

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;
    }

    .flag--top .flag__image, .flag--top
    .flag__body {
        vertical-align: top;
    }

    .flag--bottom .flag__image, .flag--bottom
    .flag__body {
        vertical-align: bottom;
    }

    .flag__image {
        padding-right: 2%;
    }

        .flag__image > img {
            display: block;
            max-width: none;
        }

    .flag--rev .flag__image {
        padding-right: 0;
        padding-left: 2%;
    }

    .flag__body {
        width: 100%;
    }

    /**
    * Notification Styles
    */
    .note {
        position: relative;
        overflow: hidden;
        color: white;
        background-color: #E91E63;
    }

    .note--secondary {
        background-color: #263238;
    }

    .note--success {
        background-color: #4CAF50;
    }

    .note--warning {
        background-color: #FFC107;
    }

    .note--error {
        background-color: #d50000;
    }

    .note--info {
        background-color: #03A9F4;
    }

    .note__icon,
    .note__text {
        padding: 2%;
    }

    .note__icon {
        min-width: 80px;
        text-align: center;
        font-size: 32px;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .note__text {
        padding-right: 48px;
        font-size: 2rem;
    }

    .note__close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 29px;
        line-height: 30px;
        font-size: 24px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: all 0.25s;
    }

        .note__close:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

    .note:hover .note__close {
        opacity: 1;
    }
</style>
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Accounting" href="javascript:void(0);" onclick="LoadViews('LoadingandDischarging')">
            @Forwarding.MvcApp.App_Resources.App_Resources.LoadingandDischarging
        </a>
    </li>
    <li>
        <a id="LoadingandDischargingOperations" href="javascript:void(0);" onclick="LoadViews(id)">
            @Forwarding.MvcApp.App_Resources.App_Resources.LD_WorkersGroup
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.LD_Workers</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-LD_Workers">
    <!-- Add / Edit Region Modal --> <!--data-keyboard="false" data-backdrop="false" to prevent modal closure on pressing escape and pressing outside the modal-->
    <div class="modal fade" id="LD_WorkersModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="LD_WorkersModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-100">
            @*<div class="modal-content modalwidth-100">*@
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.LD_Workers&nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    </h3>
                </div>
                <!-- Region Add / Edit Region Form -->
                <div class="modal-body">
                    <div class="span7 form vertical-mode" id="LD_Workers-form">
                        <fieldset>
                            <div class="form-group pull-in  clearfix">
                                <input id="hID" type="hidden" />
                                <!-- start alert message region -->
                                <div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>
                                <!-- end alert message region -->
                                <!-- Region Add / Edit Region Form -->


                                <div class="row form-group swapChildrenClass">

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Serial</label>
                                        <input type="text" disabled="disabled" id="txtSerial" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>


                                    <div class="col-sm-3 hide">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.SearchByOperationSerial</label>&nbsp;<label style="font-size: 1.5rem; color: #94d334;" class="fa fa-search"></label>&nbsp;
                                        <select id="slHeaderID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.SearchByOperationSerial</label>&nbsp;<label style="font-size: 1.5rem; color: #94d334;" class="fa fa-search"></label>&nbsp;
                                        <select id="slOperationID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>

                                    <div class="col-sm-2 hide">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.LoadingandDischarging</label>
                                        <input type="text" disabled="disabled" id="txtLoadingandDischarging" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Operation</label>
                                        <input type="text" disabled="disabled" id="txtOperationNo" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>
                                    <div class="col-sm-2 hide">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Vessel</label> 
                                        <input type="text" disabled="disabled" id="txtVesselName" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Client</label>
                                        <input type="text" disabled="disabled" id="txtClient" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>
                                </div>

                                <div class="row form-group swapChildrenClass">

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.OpenDate</label>
                                        <input id="txtOpenDate" onchange="" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control input-sm" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Select" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.StartDate</label>
                                        <input id="txtFromDate" onchange="" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control input-sm" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Select" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.CloseDate</label>
                                        <input id="txtToDate" onchange="" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control input-sm" data-date-format="dd/mm/yyyy" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Select" />
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ExpectedQty</label>
                                        <input type="text" id="txtExpectedTotalQty" class="input-sm form-control" data-required="false" onchange="" />
                                    </div>


                                </div>

                                <div class="row swapChildrenClass">
                              
                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Vessel</label>
                                        <select id="slVesselD" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Commodity</label>
                                        <select id="slCommodityID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>


                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ServiceType</label>
                                        <select id="slMoveTypeID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BerthNo</label>
                                        <input id="txtBerthNo" onchange="" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="form-control input-sm" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Select" />
                                    </div>
                                
                                </div>

                                <div class="row form-group swapChildrenClass">

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Supplier</label>
                                        <select id="slSupplierID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange=""></select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Type</label>
                                        <select id="slWorkersTypeID" class="input-sm form-control CanEdit HasSearch" data-required="true" onchange="">
                                            <option value="10">عمال شحن و تفريغ</option>
                                            <option value="20">وناشين</option>
                                            <option value="30">عمال تعبئه</option>

                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                        <textarea id="txtNotes" style="resize:none;" rows="2" class="form-control parsley-validated Edit-input  input-sm"></textarea>
                                    </div>

                                </div>
                            </div>
                        </fieldset>


                    </div>
                    <div style="border: 2px dashed #80808021;">
                        <div class="row swapChildrenClass">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">                        <h3>@Forwarding.MvcApp.App_Resources.App_Resources.LD_Workers</h3></div>
                            <div class="col-sm-4"></div>

                        </div>
                        <div class="row swapChildrenClass">
                            <div class="col-sm-4 swapChildrenClass" style="display: inline-flex;">
                                <input type="file" class="input-sm form-control" name="ImportExcel" title="Select File" id="excelfileWorker" style="width: 60%;" accept=".xls,.xlsx">
                                <a id="btnImportExcel18" class="btn btn-primary btn-sm" onclick="ImportExcel_LD_Workers('#excelfileWorker' , 0 , 'Workers');">
                                    <span class="fa" fa-table"=""></span>Upload Workers Excel -رفع اكسل ببيانات العمال و الوناشين
                                </a>
                            </div>
                            <div class="col-sm-8">
                            </div>
                        </div>
                        <div class="row" style="max-height:250px; overflow-y:scroll">
                            <div class="form-group   col-sm-12">

                                <div class="table-responsive">
                                    <table id="tblWorkers" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>@Forwarding.MvcApp.App_Resources.App_Resources.Date</th>
                                                <th>@Forwarding.MvcApp.App_Resources.App_Resources.periods</th>
                                                <th>@Forwarding.MvcApp.App_Resources.App_Resources.Count</th>
                                                <th>@Forwarding.MvcApp.App_Resources.App_Resources.Amount</th>
                                                <th>@Forwarding.MvcApp.App_Resources.App_Resources.Total</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
                <!-- Endregion Add / Edit Region Form -->
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="LD_Workers_Save(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                    </button>
                    <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm hide" onclick="LD_Workers_Save(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                    </button>
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" onclick="" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->

                </div>
            </div>
        </div>
    </div>
    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.LD_Workers
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-5 m-b-xs ">
                    <button id="btn-NewAdd" onclick="LD_Workers_ClearAllControls();" class="btn btn-warning btn-sm " data-toggle="modal" data-target="#LD_WorkersModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Name">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="LD_Workers_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1 ">
                        <button id="btn-Delete" type="button" onclick="LD_Workers_DeleteList();" class="float-right btn btn-sm btn-danger m-r-n "><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->
            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblLD_Workers" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Serial
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.OperationSerial
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Supplier
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Type
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Notes
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>

                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>


<select id="hidden_slTruckers" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
<select id="hidden_slCities" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
<select id="hidden_slEquipments" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>


<table id="tblExcel"></table>