<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);" onclick="LoadViews(id);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Reports" href="javascript:void(0);" onclick="LoadViews('Statistics')">
            @Forwarding.MvcApp.App_Resources.App_Resources.Reports
        </a>
    </li>
    <li>
        <a id="Statistics" href="javascript:void(0);" onclick="LoadViews('Statistics');">
            @Forwarding.MvcApp.App_Resources.App_Resources.Statistics
        </a>
    </li>
    <li id="liFormName" class="active"></li>
</ul>
<!-- end breadcrumb  -->

<div id="div-OperationsStatistics">
    <!-- Region Options & Template  -->
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <div id="hExportedTable" class="hide"></div>
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.FilterBy</h3>
                @*<h3 class="m-b-none">Best Print Using Internet Explorer</h3>*@
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print m-l">
                <div id="div-main-options">
                    <!--Region Filter-->
                    <div id="divTransportFilter" class="btn-group m-l" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllTransports" title="All Types"> <input type="radio" name="options">   <i class="fa text-active"></i>All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-ocean" title="Ocean"> <input type="radio" name="options"> <i class="fa text-active ">    </i> <i class="fa fa-anchor   "></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-air" title="Air"> <input type="radio" name="options"> <i class="fa text-active ">  </i> <i class="fa fa-plane    "></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-inland" title="Inland"> <input type="radio" name="options"> <i class="fa text-active  "></i> <i class="fa fa-truck     "></i>    </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div id="divDirectionFilter" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllDirections" title="All Directions"> <input type="radio" name="options">   <i class="fa text-active"></i>All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-import" title="Import"> <input type="radio" name="options">   <i class="fa text-active">    </i> <i class="fa fa-arrow-circle-down"></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-export" title="Export"> <input type="radio" name="options">   <i class="fa text-active">  </i> <i class="fa fa-external-link      "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-domestic" title="Domestic"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-home                   "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-crossbooking" title="CrossBooking"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-arrows                   "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-reexport" title="ReExport"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-repeat                   "></i> </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div id="divBLTypeFilter" class="btn-group hide" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllBLTypes" title="All B/L Types"> <input type="radio" name="options">   <i class="fa text-active"></i> @Forwarding.MvcApp.App_Resources.App_Resources.All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-direct" title="Direct"> <input type="radio" name="options">   <i class="fa text-active">    </i> <i class="fa fa-indent"></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-house" title="House"> <input type="radio" name="options">   <i class="fa text-active">  </i> <i class="fa fa-link      "></i>  </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-master" title="Master"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-book                   "></i> </label>
                    </div>
                    @*  to get the StageID selected $("#ulOperationStages li[class=active]").val() *@
                    &nbsp;&nbsp;&nbsp;
                    @*<div class="btn-group m-r">
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><span class="dropdown-label">@Forwarding.MvcApp.App_Resources.App_Resources.AllStages</span> <span class="caret"></span></button>
            <ul id="ulOperationStages" class="dropdown-menu dropdown-select">*@
                    @*<li class="active" value="0"><a href="#"><input type="radio" name="d-s-r">ALL STAGES</a></li>
            <li class="" value="1"><a href="#"><input type="radio" name="d-s-r">CREATED</a></li>
            <li class="" value="2"><a href="#"><input type="radio" name="d-s-r">SENT</a></li>
            <li class="" value="3"><a href="#"><input type="radio" name="d-s-r">DRAFT</a></li>
            <li class="" value="5"><a href="#"><input type="radio" name="d-s-r">DECLINED</a></li>
            <li class="" value="4"><a href="#"><input type="radio" name="d-s-r">ACCEPTED</a></li>*@
                    @*<li class="disabled"><a href="#"><input type="radio" name="d-s-r" disabled="">I'm disabled</a></li>*@
                    @*</ul>
            </div>*@
                    <br /><br />
                    <div class="form-group col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Branch</label>
                        <select id="slBranch" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 classShowForUnSalemen ">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Salesman</label>
                        <select id="slSalesman" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForBLStatistics">
                        <label>House Number</label>
                        <input type="text" id="txtHouseNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.CreatedBy</label>
                        <select id="slCreator" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationMan</label>
                        <select id="slOperationMan" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Customer</label>
                        <select id="slCustomer" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POLCountry</label>
                        <select id="slCountryPOL" onchange="OperationsStatistics_ClearPorts('slPOL');" class="form-control input-sm"><option value="">@Forwarding.MvcApp.App_Resources.App_Resources.SelectFromMenu</option></select>
                    </div>
                    <div class="form-group  col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POL</label>
                        <div class="input-group">
                            <select id="slPOL" class="input-sm form-control"><option value="">@Forwarding.MvcApp.App_Resources.App_Resources.SelectFromMenu</option></select>
                            <span title="Refresh POLs" class="input-group-addon" onclick="OperationsStatistics_RefereshPorts('slCountryPOL', 'slPOL');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-refresh"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.PODCountry</label>
                        <select id="slCountryPOD" onchange="OperationsStatistics_ClearPorts('slPOD');" class="form-control input-sm"><option value="">@Forwarding.MvcApp.App_Resources.App_Resources.SelectFromMenu</option></select>
                    </div>
                    <div class="form-group  col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POD</label>
                        <div class="input-group">
                            <select id="slPOD" class="input-sm form-control"><option value="">@Forwarding.MvcApp.App_Resources.App_Resources.SelectFromMenu</option></select>
                            <span title="Refresh PODs" class="input-group-addon" onclick="OperationsStatistics_RefereshPorts('slCountryPOD', 'slPOD');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-refresh"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Agent</label>
                        <select id="slAgent" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForBLStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notify</label>
                        <select id="slNotify" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BookingParty</label>
                        <select id="slBookingParty" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.CustomsClearanceAgent</label>
                        <select id="slCustomsClearanceAgent" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    @*<div class="form-group col-sm-3 m-t-n-sm"><br><br><br><br></div>*@
                    <div class="form-group col-sm-3 hide">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Currency</label>
                        <select id="slCurrency" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Invoice No</label>
                        <input type="text" id="txtInvoiceNumbers" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="ex. 3/Invoice" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Customer Ref.</label>
                        <input type="text" id="txtCustomerReference" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>PO Number</label>
                        <input type="text" id="txtPONumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Supplier Ref.</label>
                        <input type="text" id="txtSupplierReference" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-1 hide classShowForOperationsStatistics">
                        <label>Master BL</label>
                        <input type="text" id="txtMasterBL" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Commodity</label>
                        <select id="slCommodity" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>

                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ShippingLine</label>
                        <select id="slShippingLine" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Airline</label>
                        <select id="slAirline" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Vessel</label>
                        <select id="slVessel" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Voy.</label>
                        <input type="text" id="txtVoyageOrTruckNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Booking No</label>
                        <input type="text" id="txtBookingNumbers" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Service</label>
                        <select id="slMoveType" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Agent Network</label>
                        <select id="slNetwork" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 hide classShowForOperationsStatistics">
                        <label>Customer Network</label>
                        <select id="slCustomerNetwork" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>Task</label>
                        <select id="slTrackingStage" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>Task Status</label>
                        <select id="slTrackingStageStatus" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm">
                            <option value=""><--All--></option>
                            <option value="1">Done</option>
                            <option value="0">Not Done</option>
                        </select>
                    </div>
                    <div class="col-sm-1 m-t-27 hide classShowForOperationsStatistics">
                        <label> <input type="checkbox" id="cbIsClearanceTask" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp; Clearance </label>
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>Certificate No.</label>
                        <input type="text" id="txtCertificateNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>Qasima No</label>
                        <input type="text" id="txtQasimaNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>

                        <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                            <label>Tank/Flexi</label>
                            <input type="text" id="txtTankOrFlexiNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                        </div>

                        <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationStatus</label>
                            <select id="slOperationStages" onchange="OperationsStatistics_OperationStatusChanged();" class="form-control input-sm"></select>
                        </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ShipmentType</label>
                        <select id="slShipmentType" class="form-control input-sm">
                            <option value=""><--Select--></option>
                            <option value="1">FCL</option>
                            <option value="2">LCL</option>
                            <option value="3">FTL</option>
                            <option value="4">LTL</option>
                            <option value="5">Consolidation</option>
                            <option value="10">Flexi</option>
                            <option value="20">Tank</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-2">
                        <label>Gross Wgt</label>
                        <input type="text" id="txtGrossWeight" autocomplete="off" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" class="form-control input-sm" maxlength="10" placeholder="0.0">
                    </div>
                    <div class="form-group col-sm-2  classShowForOperationsManagement">
                        <label>Trucker</label>
                        <select id="slFilterTrucker" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-2  ">
                        <label>Clearance Type</label>
                        <select id="slCC_ClearanceType" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-2">
                        <label>Quotation No</label>
                        <input type="text" id="txtFilterQuotation" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="Quotation No" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-3 hide classShowForNIL">
                        <label>Courier No</label>
                        <input type="text" id="txtMainRouteNotes" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-2 hide classShowForClosed">
                        <label>From Close Date</label>
                        <input id="txtFromCloseDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForClosed">
                        <label>To Close Date</label>
                        <input id="txtToCloseDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>Form13</label>
                        <input type="text" id="txtForm13Number" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase">
                    </div>
                    <div class="form-group col-sm-2 hide classShowForFilterInvoices" style="clear:both;">
                        <label>Invoice From</label>
                        <input id="txtFromInvoiceDate" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" readonly data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForFilterInvoices">
                        <label>Invoice To</label>
                        <input id="txtToInvoiceDate" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" readonly data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>


                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>From ETD</label>
                        <input id="txtFromDate_ETD"  type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>To ETD</label>
                        <input id="txtToDate_ETD"  type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>

                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>From ETA</label>
                        <input id="txtFromDate_ETA"  type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForOperationsStatistics">
                        <label>To ETA</label>
                        <input id="txtToDate_ETA"  type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>

                    <div class="form-group col-sm-2" style="clear:both;">
                        <label>From Open Date</label>
                        <input id="txtFromDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label>To Open Date</label>
                        <input id="txtToDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>

                    @*<div class="col-sm-3 m-l-n-sm m-t-sm">
            <br />
            <label> <input type="checkbox" id="cbIncludeCurrenciesDetails" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> Show Currencies Details</label>
            <br /><br />
        </div>*@

                    @*<div class="btn-group m-t-n-xs m-r hide">
            <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><span class="dropdown-label">PDF File</span> <span class="caret"></span></button>
            <ul id="ulReportTypes" class="dropdown-menu dropdown-select">
            </ul>
        </div>*@
                    <div class="col-sm-2 m-t-27 hide classShowForOperationsStatistics">
                        <label> <input type="checkbox" id="cbOperationsWOInvoices" onchange="OperationsStatistics_cbIsWorkFlowChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp; Oper. w/o Inv. </label>
                        <br><label> <input type="checkbox" id="cbIsWithoutVAT" onchange="OperationsStatistics_cbIsWorkFlowChanged();" onfocusv="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp; Neglect VAT </label>
                        <br><label> <input type="checkbox" id="cbIsWorkFlow" onchange="OperationsStatistics_cbIsWorkFlowChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp; Work Flow </label>
                    </div>
                    <div class="col-sm-2 m-t-27 hide classShowForOperationsStatistics">
                        <label> <input type="checkbox" id="cbFilterInvoices" onchange="OperationsStatistics_cbFilterInvoicesChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp; Filter Invoices </label>
                        <br><label> <input type="checkbox" id="cbIsMatch">&nbsp; Match </label>
                        </div>
                    </div>
                    <div class="col-sm-9 m-t-md">
                        <div class="form-group col-sm-7">
                            <button id="btn-print" type="button" class="btn btn-lightblue btn-sm" onclick="OperationsStatistics_Print('Print', false);"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                            <button id="btn-ExportToExcel" type="button" onclick="OperationsStatistics_Print('Excel', false);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>
                            <button id="btn-ExportToExcel_WithCurrencies" type="button" onclick="OperationsStatistics_Print('Excel', true);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.ExportExcelWithDetailedCurrencies&nbsp;</b></button>
                            <button id="btn-SelectOperations" type="button" class="btn btn-info btn-sm hide classShowForOperationsStatistics" onclick="OperationsStatistics_SelectOperations();"><i class="fa fa-check-square-o"></i><b>&nbsp;Select Operations</b></button>
                            <button id="btn-SelectColumns" type="button" class="btn btn-warning btn-sm" onclick="OperationsStatistics_SelectColumns();"><i class="fa fa-print"></i><b>&nbsp;Add / Remove Columns</b></button>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <input type="text" id="txtToEmail" placeholder="Send Email To" class="form-control input-sm">
                                <span id="btn-SendEmail" title="Send PDF Report as Email " class="input-group-addon" onclick="OperationsStatistics_Print('Email');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-envelope">&nbsp; @Forwarding.MvcApp.App_Resources.App_Resources.Send</span>&nbsp;</span>
                            </div>
                        </div>




                    </div>
                    <!--EOF Region Filter-->
                </div>
            </div>
            <!--EOF Region the searh, delete, addnew line-->


        </section>
    </div>
</div>
<!--ModalSelectColumns-->
<div class="modal fade" id="ModalSelectColumns" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ModalSelectColumnsLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    &nbsp;<label id="lblShownItems" purpose="dynamicLabel" class="static-text-primary">Select columns to show:</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region SelectColumns Form -->
                <div class="span7 form vertical-mode" id="SelectColumns-form">
                    <fieldset>
                        @*<div class="row">
                                <div id="div-search-controls" class="input-group m-l col-sm-5">
                                    <input id="txtSearchItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div><br />*@

                        <button id="btn-CheckAllColumns" type="button" class="btn btn-lightblue btn-sm m-l" onclick="SetSelectedColumns(true);"><i class="fa "></i><b>&nbsp;Check All</b></button>
                        <button id="btn-ClearAllColumns" type="button" class="btn btn-warning btn-sm m-l" onclick="SetSelectedColumns(false);"><i class="fa "></i><b>&nbsp;Clear All</b></button>
                        
                        <div id="divSelectColumns" class="m-t" style="clear:both;">
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBranch" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Branch</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbSalesman" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Salesman</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbIssueDate" class="classCheckColumn" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Issue Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbOperState" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Oper. State</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBookingParty" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Booking Party</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbClient" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Client</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbShipper" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Shipper</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbConsignee" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Consignee</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbEndUser" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;EndUser</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbAgent" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Agent</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCustomsClearanceAgent" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Customs.Clr.Agent</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbLine" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Line</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCommodity" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Commodity</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbIncoterm" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Incoterm</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbQuotation" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Quotation</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbContainerTypes" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Container Types</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbContainerNumbers" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Container Nos</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPackages" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Packages</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbDescriptionOfGoods" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Desc.of Goods</label>
                            </div>
                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbInvoices" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Invoices</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbInvoiceDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;First Inv.Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCustomerRef" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;CustomerRef</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPONo" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;PO No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPODate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;PO Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPOValue" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;PO Value</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbReleaseNo" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;<span id="spanKDMReference">Release No</span></label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbReleaseDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Release Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbReleaseValue" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Release Value</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbSupplierRef" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;SupplierRef</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCarrier" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Carrier</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBookingNo" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;BookingNo</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbMBL" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;M B/L(MAWB)</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbHBL" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;HBL(HAWB)</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbTEUs" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;TEUs</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbVessel" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Vessel</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbVoy" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Voy</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPOL" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPOD" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POD</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCutOffDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;CutOffDate</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbETAPOL" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL ETA</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbETDPOL" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL ETD</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbATDPOL" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL ATD</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbETAPOD" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POD ETA</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbATAPOD" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POD ATA</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbTask" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Task</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbAllTask" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;All Tasks</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbNetwork" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Agent Network</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbMoveTypeName" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Service Type</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbGrossWeightSum" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Gross Weight</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbNetWeightSum" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Net Weight</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbVolumeSum" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Vol(CBM)</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbChargeableWeightSum" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Chg.Weight</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCertificateNumber" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Certificate Number</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCertificateValue" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Certificate Val.</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCertificateDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Certificate Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbQasimaNumber" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Qasima Number</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbQasimaDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Qasima Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbForm13Number" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Form13</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCloseDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Close Date</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCreator" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Created By</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbCustomerNetwork" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Customer Network</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbClearanceType" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Clearance Type</label>
                            </div>

                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbReceivables" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Inv/Revenue</label>
                            </div>
                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbPayables" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Payables/Cost</label>
                            </div>
                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbProfit" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Profit</label>
                            </div>
                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbMargin" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Margin</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbOperationMan" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Operation man</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbTrucker" class="classCheckColumn" checked onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Trucker</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbOperationWithInvoiceSerial" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Oper.WithInv.Ser.</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbShipmentType" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Shipment Type</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbACIDNo" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ACID No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbReceivingDate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Receiving Doc Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbDODate" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;D/O Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbFreeTime" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Free Days</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbNotes" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Daily Update</label>
                            </div>
                            @*<div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbReceivablesWithCurrencies" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Invoices With Currencies</label>
                            </div>
                            <div class="col-sm-2 hide">
                                <label><input type="checkbox" id="cbPayablesWithCurrencies" class="classCheckColumn" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Payables With Currencies</label>
                            </div>*@



                        </div>
                    </fieldset>
                </div>
                <!-- Endegion SelectColumns Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                @*<button type="button" id="btnSelectColumnsApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply</button>*@

                <button id="btn-print-FromSelect" type="button" class="btn btn-lightblue btn-sm" onclick="OperationsStatistics_Print('Print', false);"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                <button id="btn-ExportToExcel-FromSelect" type="button" onclick="OperationsStatistics_Print('Excel', false);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>
                <button id="btn-ExportToExcel_WithCurrencies-FromSelect" type="button" onclick="OperationsStatistics_Print('Excel', true);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.ExportExcelWithDetailedCurrencies&nbsp;</b></button>

                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF ModalSelectColumns-->

<!--ModalSelectColumns_BLStatistics-->
<div class="modal fade" id="ModalSelectColumns_BLStatistics" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ModalSelectColumns_BLStatisticsLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    &nbsp;<label id="lblShownItems" purpose="dynamicLabel" class="static-text-primary">Select columns to show:</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region SelectColumns_BLStatistics Form -->
                <div class="span7 form vertical-mode" id="SelectColumns_BLStatistics-form">
                    <fieldset>
                        @*<div class="row">
                                <div id="div-search-controls" class="input-group m-l col-sm-5">
                                    <input id="txtSearchItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div><br />*@

                        <div id="divSelectColumns_BLStatistics">
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsHouseNumber" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;HouseNumber</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsDismissalPermissionSerial" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Dismissal Permission No.</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsClient" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Client</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsPOrC" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;P/C</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsCustomerReference" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;CustomerRef</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsForwarderOrNotify" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Forwarder/Notify</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsGrossWeight" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Gross(KG)</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsVolume" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Vol(CBM)</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsPackages" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Packages</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsContainerTypes" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Containers</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsGoodsDescription" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Goods Desc.</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsMovementType" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ServiceType</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsSalesman" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Salesman</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsETA" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ETA</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsATA" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ATA</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsInvoices" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Invoices</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsVessel" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Vessel</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsPOL" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsReleaseDate" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ReleaseDate</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsWarehouse" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Warehouse</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsPODate" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;<span id="spanCbPODate">PODate</span></label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBLStatisticsNotes" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Notes</label>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <!-- Endegion SelectColumns_BLStatistics Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                @*<button type="button" id="btnSelectColumns_BLStatisticsApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply</button>*@

                <button id="btn-print-FromSelect-BLStatistics" type="button" class="btn btn-lightblue btn-sm" onclick="OperationsStatistics_Print('Print', false);"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                <button id="btn-ExportToExcel-FromSelect-BLStatistics" type="button" onclick="OperationsStatistics_Print('Excel',false);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>

                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF ModalSelectColumns_BLStatistics-->

<!--CheckboxesListModal-->
<div class="modal fade" id="CheckboxesListModal" tabindex="-1" @*style="z-index: 3000;"*@ data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CheckboxesListModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    <label id="lblShownOperations" purpose="dynamicLabel" class="static-text-primary">Select Operations :</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region CheckboxesList Form -->
                <button id="btn-ClearAllOperations" type="button" class="btn btn-warning btn-sm m-l m-t-xs" onclick="OperationsStatistics_ClearAllOperations();"><i class="fa "></i><b>&nbsp;Clear All</b></button>
                <div class="col-sm-3 float-right">
                    <div id="div-search-controls" class="input-group m-t-xs">
                        <input id="txtSearchItems" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Operation Code" />
                        <span class="input-group-btn">
                            <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button" onclick="OperationsStatistics_FilterOperationsModal();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>


                <div class="form-group col-sm-2 float-right m-t-n">
                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.To</label>
                    <input id="txtToDateSelectOperations" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                </div>
                <div class="form-group col-sm-2 float-right m-t-n">
                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.From</label>
                    <input id="txtFromDateSelectOperations" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                </div>

                <div style="clear:both;" class="span7 form vertical-mode m-t-sm" id="CheckboxesList-form">
                    <fieldset>

                        <div id="divCheckboxesList">
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion CheckboxesList Form -->
            </div>
            <div class="modal-footer m-t-n">
                <!--sherif-->
                <button id="btn-print-FromSelectOperations" type="button" class="btn btn-lightblue btn-sm" onclick="OperationsStatistics_Print('Print', false);"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                <button id="btn-ExportToExcel-FromSelectOperations" type="button" onclick="OperationsStatistics_Print('Excel', false);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>
                <button id="btn-ExportToExcel_WithCurrencies-FromSelectOperations" type="button" onclick="OperationsStatistics_Print('Excel', true);" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.ExportExcelWithDetailedCurrencies&nbsp;</b></button>
                <button type="button" id="btnCheckboxesListApply" class="btn btn-primary btn-sm hide">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply
                </button>
                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF CheckboxesListModal-->
