<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);" onclick="LoadViews(id);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Reports" href="javascript:void(0);" onclick="LoadViews('Statistics')">
            @Forwarding.MvcApp.App_Resources.App_Resources.Reports
    </a>
</li>
<li>
    <a id="Statistics" href="javascript:void(0);" onclick="LoadViews(id);">
        @Forwarding.MvcApp.App_Resources.App_Resources.Statistics
</a>
</li>
<li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.ProfitStatistics</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-ProfitStatistics">
    <!-- Region Options & Template  -->
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <div id="hExportedTable" class="hide"></div>
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.FilterBy</h3>
                @*<h3 class="m-b-none">Best Print Using Internet Explorer</h3>*@
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print m-l">
                <div id="div-main-options">
                    <!--Region Filter-->
                    <div id="divTransportFilter" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllTransports" title="All Types"> <input type="radio" name="options">   <i class="fa text-active"></i>All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-ocean" title="Ocean"> <input type="radio" name="options"> <i class="fa text-active ">    </i> <i class="fa fa-anchor   "></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-air" title="Air"> <input type="radio" name="options"> <i class="fa text-active ">  </i> <i class="fa fa-plane    "></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-inland" title="Inland"> <input type="radio" name="options"> <i class="fa text-active  "></i> <i class="fa fa-truck     "></i>    </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div id="divDirectionFilter" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllDirections" title="All Directions"> <input type="radio" name="options">   <i class="fa text-active"></i>All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-import" title="Import"> <input type="radio" name="options">   <i class="fa text-active">    </i> <i class="fa fa-arrow-circle-down"></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-export" title="Export"> <input type="radio" name="options">   <i class="fa text-active">  </i> <i class="fa fa-external-link      "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-domestic" title="Domestic"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-home                   "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-crossbooking" title="CrossBooking"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-arrows                   "></i> </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-reexport" title="ReExport"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-repeat                   "></i> </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div id="divBLTypeFilter" class="btn-group hide" data-toggle="buttons">
                        <label class="btn btn-sm btn-default active" id="lbl-filter-AllBLTypes" title="All B/L Types"> <input type="radio" name="options">   <i class="fa text-active"></i> @Forwarding.MvcApp.App_Resources.App_Resources.All</label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-direct" title="Direct"> <input type="radio" name="options">   <i class="fa text-active">    </i> <i class="fa fa-indent"></i>    </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-house" title="House"> <input type="radio" name="options">   <i class="fa text-active">  </i> <i class="fa fa-link      "></i>  </label>
                        <label class="btn btn-sm btn-default       " id="lbl-filter-master" title="Master"> <input type="radio" name="options">   <i class="fa text-active"></i> <i class="fa fa-book                   "></i> </label>
                    </div>
                    @*  to get the StageID selected $("#ulOperationStages li[class=active]").val() *@
                    &nbsp;&nbsp;&nbsp;
                    @*<div class="btn-group m-r">
                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><span class="dropdown-label">@Forwarding.MvcApp.App_Resources.App_Resources.AllStages</span> <span class="caret"></span></button>
                        <ul id="ulOperationStages" class="dropdown-menu dropdown-select">*@
                    @*<li class="active" value="0"><a href="#"><input type="radio" name="d-s-r">ALL STAGES</a></li>
                        <li class="" value="1"><a href="#"><input type="radio" name="d-s-r">CREATED</a></li>
                        <li class="" value="2"><a href="#"><input type="radio" name="d-s-r">SENT</a></li>
                        <li class="" value="3"><a href="#"><input type="radio" name="d-s-r">DRAFT</a></li>
                        <li class="" value="5"><a href="#"><input type="radio" name="d-s-r">DECLINED</a></li>
                        <li class="" value="4"><a href="#"><input type="radio" name="d-s-r">ACCEPTED</a></li>*@
                    @*<li class="disabled"><a href="#"><input type="radio" name="d-s-r" disabled="">I'm disabled</a></li>*@
                    @*</ul>
                        </div>*@
                    <br /><br />
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Branch</label>
                        <select id="slBranch" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Salesman</label>
                        <select id="slSalesman" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Customer</label>
                        <select id="slCustomer" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Agent</label>
                        <select id="slAgent" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ShippingLines</label>
                        <select id="slShippingLines" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.BookingParty</label>
                        <select id="slBookingParty" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ChargeType</label>
                        <select id="slChargeType" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Service</label>
                        <select id="slMoveType" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n hide">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceType</label>
                        <select id="slInvoiceType" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group col-sm-3 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationStatus</label>
                        <select id="slOperationStages" onchange="ProfitStatistics_OperationStatusChanged();" class="form-control input-sm"></select>
                    </div>

                    <div class="form-group col-sm-2 m-l-n" style="clear:both;">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POLCountry</label>
                        <select id="slCountryPOL" onchange="ProfitStatistics_ClearPorts('slPOL');" class="form-control input-sm"><option value=""><--All--></option></select>
                    </div>

                    <div class="form-group  col-sm-2 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POL</label>
                        <div class="input-group">
                            <select id="slPOL" class="input-sm form-control"><option value=""><--All--></option></select>
                            <span title="Refresh POLs" class="input-group-addon" onclick="ProfitStatistics_RefereshPorts('slCountryPOL', 'slPOL');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-refresh"></span></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.PODCountry</label>
                        <select id="slCountryPOD" onchange="ProfitStatistics_ClearPorts('slPOD');" class="form-control input-sm"><option value=""><--All--></option></select>
                    </div>
                    <div class="form-group  col-sm-2 m-l-n">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.POD</label>
                        <div class="input-group">
                            <select id="slPOD" class="input-sm form-control"><option value=""><--All--></option></select>
                            <span title="Refresh PODs" class="input-group-addon" onclick="ProfitStatistics_RefereshPorts('slCountryPOD', 'slPOD');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-refresh"></span></span>
                        </div>
                    </div>

                    <div class="input-group col-sm-2 m-l-n hide classShowForIncludeChargeDetails">
                        <label>Supplier Type</label>
                        <select id="slPartnerType" onchange="InvoicesReports_PartnerTypeChanged();" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-2 m-l-n hide classShowForIncludeChargeDetails">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Supplier</label>
                        <select id="slPartner" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"><option value=""><--Select--></option></select>
                    </div>
                    <div class="form-group col-sm-2 m-l-n hide classShowForIncludeChargeDetails">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.SupplierInvoiceNumber</label>
                        <input type="text" id="txtSupplierInvoiceNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" maxlength="100" placeholder="" style="text-transform:uppercase" />
                    </div>
                    <div class="col-sm-1 m-t hide classShowForIncludeChargeDetails">
                        <label><input type="checkbox" id="cbIsOfficial" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Official</label>
                        @*&emsp;<label><input type="checkbox" id="cbIsUsedInOperationStatement" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Billed Invoices</label>*@</div>

                    <div class="form-group col-sm-2 m-l-n" style="clear:both;">
                        <label>From Date</label>
                        <input id="txtFromOpenDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 ">
                        <label>To Date</label>
                        <input id="txtToOpenDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>

                    <div class="form-group col-sm-1 m-l-n hide classShowForIncludeChargeDetails-Rename">
                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Currency</label>
                        <select id="slCurrency" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                    </div>

                    <div class="form-group col-sm-2 m-l-n hide classShowForELI classShowForELC">
                        <label>From Invoice Date</label>
                        <input id="txtFromInvoiceDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForELI classShowForELC">
                        <label>To Invoice Date</label>
                        <input id="txtToInvoiceDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    @*<br /><br /><br /><br />*@
                    <div class="form-group col-sm-2 m-l-n hide classShowForClosed">
                        <label>From Close Date</label>
                        <input id="txtFromCloseDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>
                    <div class="form-group col-sm-2 hide classShowForClosed">
                        <label>To Close Date</label>
                        <input id="txtToCloseDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                    </div>

                    <div class="col-sm-12" style="clear:both;">
                        <label class="m-l-n m-t-sm"> <input type="radio" name="nameReportOption" checked="checked" onchange="ProfitStatistics_ReportOptionChanged();" id="cbIncludeCurrenciesDetails" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> With Currencies Details</label>
                        <label class="m-l-lg m-t-sm"> <input type="radio" name="nameReportOption" id="cbIncludeChargeDetails" onchange="ProfitStatistics_ReportOptionChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> With Charge Details</label>
                        <label class="m-l-lg m-t-sm"> <input type="radio" name="nameReportOption" id="cbGroupByOperations" onchange="ProfitStatistics_ReportOptionChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> Group By Operations</label>
                    </div>

                    <div class="col-sm-12" style="clear:both;">
                        <label class="m-l-n m-t-sm"> <input type="radio" name="nameDateOption" checked="checked" onchange="" id="cbFilterOpenDate" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> Open Date</label>
                        <label class="m-l-lg m-t-sm"> <input type="radio" name="nameDateOption" id="cbFilterInvoiceDate" onchange="" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"> Invoice Date</label>
                    </div>

                    <div>
                        @*<div class="btn-group m-t-n-xs m-r hide">
                                <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><span class="dropdown-label">PDF File</span> <span class="caret"></span></button>
                                <ul id="ulReportTypes" class="dropdown-menu dropdown-select">
                                </ul>
                            </div>*@


                        <div class="col-sm-3 m-l-n m-t-sm hide">
                            <div id="secChargesTypes" class="m-t-xs  col-sm-12 panel panel-default">
                                <div class="">
                                    <label class="swapChildrenClass"><input type="checkbox" id="cbCheckAllChargesTypes" onchange="cbCheckAllChargesTypesChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);"><u>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.ChargesTypes&nbsp;</u></label><br />
                                </div>
                                <div id="divCbChargesTypes" style="width:104%; height:370px; font-size:100%; overflow:scroll;">
                                </div>
                            </div>
                            <div id="hExportedTable" class="hide"></div>
                        </div>



                        <div class="col-sm-6 m-l-n m-t-sm" data-toggle="buttons">
                            <div class="form-group col-sm-7">
                                <button id="btn-SelectOperations" type="button" class="btn btn-info btn-sm" onclick="ProfitStatistics_SelectOperations();"><i class="fa fa-check-square-o"></i><b>&nbsp;Select Operations</b></button>
                                <button id="btn-print" type="button" class="btn btn-lightblue btn-sm" onclick="ProfitStatistics_Print('Print');"><i class="fa fa-print"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</button>
                                <button id="btn-ExportToExcel" type="button" onclick="ProfitStatistics_Print('Excel');" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>
                                <button id="btn-SelectColumns" type="button" class="btn btn-warning btn-sm hide classShowForIncludeChargeDetails" onclick="ProfitStatistics_SelectColumns();"><i class="fa fa-print"></i><b>&nbsp;Add / Remove Columns</b></button>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="input-group">
                                    <input type="text" id="txtToEmail" placeholder=" Send Email To " class="form-control input-sm">
                                    <span id="btn-SendEmail" title="Send PDF Report as Email " class="input-group-addon" onclick="ProfitStatistics_Print('Email');" style="background-color:green;padding:5px!important;color:white;cursor:pointer;"><span class="fa fa-envelope">&nbsp; @Forwarding.MvcApp.App_Resources.App_Resources.Send</span>&nbsp;</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 m-t">
                        <label><input type="checkbox" id="cbWithVAT" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;With VAT</label>
                        &emsp;<label><input type="checkbox" id="cbIsUsedInOperationStatement" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Billed Invoices</label>
                        &emsp;<label><input type="checkbox" id="cbIsMarginRegardingRevenue" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Margin Regarding Revenue</label>
                        &emsp;<label class="hide classShowForIncludeChargeDetails-Rename"><input type="checkbox" id="cbIsShowSupplierData" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Show Supplier Data</label>
                    </div>
                </div>
                <!--EOF Region Filter-->
            </div>
    </div>
    <!--EOF Region the searh, delete, addnew line-->
    </section>
</div>
</div>

<!--ModalSelectColumns-->
<div class="modal fade" id="ModalSelectColumns" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ModalSelectColumnsLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    &nbsp;<label id="lblShownItems" purpose="dynamicLabel" class="static-text-primary">Select columns to show:</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region SelectColumns Form -->
                <div class="span7 form vertical-mode" id="SelectColumns-form">
                    <fieldset>
                        @*<div class="row">
                                <div id="div-search-controls" class="input-group m-l col-sm-5">
                                    <input id="txtSearchItems" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search" />
                                    <span class="input-group-btn">
                                        <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div><br />*@

                        <div id="divSelectColumns">
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbOperationCode" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;OperationCode</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbOpenDate" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Oper.Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbBookingParty" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;BookingParty</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbClient" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Client</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbSupplier" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Supplier</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbSupplierInvoiceNo" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Supplier Inv</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPOL" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POL</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPOD" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;POD</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbContainerType" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Cont.Types</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbChargeType" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;ChargeType</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbConsignee" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Consignee</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbReleaseNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Release No</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbChargeableWeight" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Chg.Wgt</label>
                            </div>

                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbPayableIssueDate" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Payable Issue Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbInvoiceIssueDate" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Invoice Issue Date</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbExchangeRate" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Pay. Ex. Rate</label>
                            </div>
                            <div class="col-sm-2">
                                <label><input type="checkbox" id="cbExchangeRateInvoice" checked="checked" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;Inv. Ex. Rate</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion SelectColumns Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                @*<button type="button" id="btnSelectColumnsApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply</button>*@

                <button id="btn-print-FromSelect" type="button" class="btn btn-lightblue btn-sm" onclick="ProfitStatistics_Print('Print');"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                <button id="btn-ExportToExcel-FromSelect" type="button" onclick="ProfitStatistics_Print('Excel');" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>

                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF ModalSelectColumns-->
<!--CheckboxesListModal-->
<div class="modal fade" id="CheckboxesListModal" tabindex="-1" @*style="z-index: 3000;"*@ data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CheckboxesListModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-90">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    <label id="lblShownOperations" purpose="dynamicLabel" class="static-text-primary">Select Operations :</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region CheckboxesList Form -->
                <button id="btn-ClearAllOperations" type="button" class="btn btn-warning btn-sm m-l m-t-xs" onclick="OperationsStatistics_ClearAllOperations();"><i class="fa "></i><b>&nbsp;Clear All</b></button>
                <div class="col-sm-3 float-right">
                    <div id="div-search-controls" class="input-group m-t-xs">
                        <input id="txtSearchItems" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Operation Code" />
                        <span class="input-group-btn">
                            <button id="btn-SearchItems" class="btn btn-sm btn-primary" type="button" onclick="OperationsStatistics_FilterOperationsModal();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group col-sm-2 float-right m-t-n">
                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.To</label>
                    <input id="txtToDateSelectOperations" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                </div>
                <div class="form-group col-sm-2 float-right m-t-n">
                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.From</label>
                    <input id="txtFromDateSelectOperations" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="background-color:white; cursor:text;" class="input-sm datepicker-input form-control" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                </div>

                <div style="clear:both;" class="span7 form vertical-mode m-t-sm" id="CheckboxesList-form">
                    <fieldset>

                        <div id="divCheckboxesList">
                        </div>
                    </fieldset>
                </div>
                <!-- Endegion CheckboxesList Form -->
            </div>
            <div class="modal-footer m-t-n">
                <!--sherif-->
                <button id="btn-print-FromSelectOperations" type="button" class="btn btn-lightblue btn-sm" onclick="ProfitStatistics_Print('Print');"><i class="fa fa-print"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Print</b></button>
                <button id="btn-ExportToExcel-FromSelectOperations" type="button" onclick="ProfitStatistics_Print('Excel');" class="btn btn-sm btn-primary"><i class="fa fa-table"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.TraExportExcel&nbsp;</b></button>
                @*<button type="button" id="btnCheckboxesListApply" class="btn btn-primary btn-sm hide">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply</button>*@
                <button class=" btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
                @*<button type="button" data-dismiss="modal" id="btnCheckboxesListApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;OK</button>*@
                @*<button class=" btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>*@
            </div>
        </div>
    </div>
</div>
<!--EOF CheckboxesListModal-->
