<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);" onclick="LoadViews(id);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="ContainerTrackingGroup" href="javascript:void(0);" onclick="LoadViews('ContainerTrackingGroup')">
            @Forwarding.MvcApp.App_Resources.App_Resources.ContainerTracking
        </a>
    </li>
    @*<li><a id="ContainerTrackingTab" href="javascript:void(0);" onclick="LoadViews(ContainerTrackingGroup)">@Forwarding.MvcApp.App_Resources.App_Resources.ContainerTracking
        </a></li>*@
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.XMLFileBL </li>
</ul>


<div id="div-ContainerReports">

    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>

        <div class="row">
            @*<div class="col-sm-12">*@
            <section class="panel panel-default">
                <header class="panel-heading font-bold">
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.XMLFileBL
                    </h3>
                </header>
                <div class="panel-body">
                    <div class="form-group input-group col-sm-3 swapChildrenClass m-l-n">
                        <select id="slXmlTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false" onchange="XmlTypeChanged();">
                            <option value="">select xml type</option>
                            <option value="SailingSchedule">Sailing Schedule</option>
                            <option value="BookingRequestConfirmation" disabled>Booking Request/Confirmation</option>
                            <option value="BlShippingInstructions" disabled>Bl/Shipping Instructions</option>
                            <option value="CarrierIntegration" disabled>Carrier Integration</option>
                            <option value="ShipmentStatus">Shipment Status</option>
                            <option value="Rate" disabled>Rate</option>
                            <option value="FileBl">File Bl</option>
                            <option value="InterAllianceBilling">Inter Alliance Billing</option>
                            <option value="InvoiceAcknowledgement">Invoice/Acknowledgement</option>
                            <option value="InformationBroker" disabled>Information Broker</option>
                            <option value="EIManagement" disabled>EI Management</option>
                            <option value="WWAAcknowledgement" disabled>WWA Acknowledgement</option>
                            <option value="CargoManagement" disabled>Cargo Management</option>
                            <option value="DataWarehouse" disabled>Data Warehouse</option>
                        </select>
                    </div>

                    <div class="form-group input-group col-sm-3 swapChildrenClass m-l-n">
                        @*<label>@Forwarding.MvcApp.App_Resources.App_Resources.Operations</label>*@
                        <select id="slMasterOperations" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="input-sm form-control CanEdit HasSearch" data-required="false">
                            <option>@Forwarding.MvcApp.App_Resources.App_Resources.SearchByOperationSerial</option>
                        </select>
                    </div>

                    <button id="btnGenerateXML" type="button" class="btn btn-lightblue btn-sm hide" onclick="GenerateXML();"><i class="fa fa-print"></i><b>&nbsp;Generate XML</b></button>
                    
                    <input id="btnReadFromXML" type="file" style="display:inline;" title="Import Items from XML" class="btn-lightblue btn-sm hide" onchange="ReadFromXML_FileBL(event, id);" />

                </div>


            </section>
            @*</div>*@
        </div>




    </div>




</div>

