<!-- start breadcrumb  -->
<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="ReceiptsAndPayments" href="javascript:void(0);" onclick="LoadViews('ReceiptsAndPaymentsTransactions')">
            @Forwarding.MvcApp.App_Resources.App_Resources.ReceiptsAndPaymentsGroup
    </a>
</li>
<li>
    <a id="ReceiptsAndPaymentsMasterData" href="javascript:void(0);" onclick="LoadViews('ShipLink')">
        @Forwarding.MvcApp.App_Resources.App_Resources.ShipLink
</a>
</li>
<li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.ShipLinkClients</li>
</ul>
<!-- end breadcrumb -->

<div id="div-ShipLinkClients">
    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h3 class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.ShipLinkClients
                </h3>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print m-t-n-sm">
                <div id="div-main-options" class="col-sm-3 m-b-xs">
                    <button id="btn-NewAdd" class="btn btn-primary btn-sm swapChildrenClass hide" data-toggle="modal" data-target="#ShipLinkClientsModal"><i class="fa fa-link"></i><b>&nbsp;LinkClients&nbsp;</b></button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>&nbsp;Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>&nbsp;Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>&nbsp;Send </button>
                    </div>
                </div>
                <div class="m-t-n-xs col-sm-1">
                    <h4>@Forwarding.MvcApp.App_Resources.App_Resources.Group</h4>
                </div>
                <div class="col-sm-3">
                    <select id="slClientGroup" class="form-control input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="true"></select>
                </div>
                <div id="div-search-option" class="col-sm-5">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase"  type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="ShipLinkClients_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button id="btn-Delete-Hide" type="button" class="float-right btn btn-sm btn-danger m-r-n swapChildrenClass hide"><i class="fa fa-trash-o"></i><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete&nbsp;</b></button>
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->

            <!--Region: table header-->
            <div class="table-responsive m-t-n">
                <table id="tblShipLinkClients" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>
                            <th>Client name</th>
                            <th>Arabic Name</th>
                            <th class="rounded-right hide"></th>
                        </tr>
                    </thead>
                    <tbody style="font-size:100%;">
                    </tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm"> @Forwarding.MvcApp.App_Resources.App_Resources.Showing 
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>
