<!--SelectContainersAndPackagesModal-->
<div class="modal fade" id="SelectContainersAndPackagesModal" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="SelectContainersAndPackagesModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-80">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.SelectContainersPackages
            </h3>
        </div>
        <div class="modal-body">
            <!-- Region SelectContainersAndPackages Form -->
            <div class="span7 form vertical-mode" id="SelectContainersAndPackages-form">
                <fieldset>
                    <div class="row">
                        <div id="div-search-controls" class="input-group m-l col-sm-5">
                            <input id="txtSearchContainersAndPackages" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search Code / Name" />
                            <span class="input-group-btn">
                                <button id="btn-SearchContainersAndPackages" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div><br />

                    <div id="divSelectContainersAndPackages">
                    </div>
                </fieldset>
            </div>
            <!-- Endegion SelectContainersAndPackages Form -->
        </div>
        <div class="modal-footer">
            <!--sherif-->
            <button type="button" id="btnSelectContainersAndPackagesApply" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Apply
            </button>
            <button class=" btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
        </div>
    </div>
</div>
</div>
<!--EOF SelectContainersAndPackagesModal-->
<!-- Add / Edit Package Modal -->
<div class="modal fade" id="EditPackageModal" tabindex="-1" style="z-index: 3050;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="EditPackageModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-60">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Type &nbsp;<label id="lblPackageShown" purpose="dynamicLabel" class="static-text-primary"></label>
            </h3>
        </div>
        <div class="modal-body">
            <!-- Region Add / Edit EditCharge Form -->
            <div class="span7 form vertical-mode" id="EditPackage-form">
                <fieldset>
                    <div class="form-group pull-in  has-error clearfix">
                        <input id="hPackageID" type="hidden" />
                        <!-- start alert message region -->
                        @*<div class="alert alert-danger div-error">
                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                            </div>*@
                        <!-- end alert message region -->
                        <!--Region Packages in case of LCL or LTL or IsAir-->
                    <div id="divPackagesInfo">
                        @*<div class="form-group col-sm-4">
            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageType</label>
            <input id="txtPackageType" disabled="disabled" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text"  class="form-control parsley-validated input-sm" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
        </div>*@
                        <div class="form-group col-sm-4">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageType</label>
                            <select id="slPackageTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="true"></select>
                        </div>
                        <div id="divShipmentContainers" class="form-group col-sm-4 hide">
                            <label>Placed On</label>
                            <select id="slShipmentContainers" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"></select>
                        </div>

                        <div class="form-group col-sm-2" style="clear:both;">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Quantity</label>
                            <input type="text" id="txtPackagesQuantity" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" onchange="CalculateVolume();" class="form-control parsley-validated input-sm" data-type="number" data-required="false" maxlength="8" placeholder="0" />
                        </div>

                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Length</label>
                            <input type="text" id="txtLength" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Width</label>
                            <input type="text" id="txtWidth" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Height</label>
                            <input type="text" id="txtHeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                            <input type="text" id="txtVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>VolumetricWt</label>
                            <input type="text" id="txtVolumetricWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>

                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeight</label>
                            <input type="text" id="txtNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightTON</label>
                            <input type="text" id="txtNetWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                            <input type="text" id="txtGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightTON</label>
                            <input type="text" id="txtGrossWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>

                        <div class="form-group col-sm-2">
                            <label>Chg.Wt</label>
                            <input type="text" id="txtChargeableWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>

                        @*<div class="form-group col-sm-10 m-t">
            <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
            <input id="txtPackageDescriptionOfGoods" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text"  class="form-control parsley-validated" data-required="false" maxlength="500" placeholder="" style="text-transform:uppercase" />
        </div>*@
                        <div class="form-group col-sm-5 m-t-xs">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                            <textarea id="txtPackageDescriptionOfGoods" maxlength="500" class="form-control col-sm-12 textDivOperations" style="text-transform:uppercase;"></textarea>
                        </div>

                    </div>
                        <!--EOF Region Packages in case of LCL or LTL or IsAir-->
                    </div>

                </fieldset>
            </div>
            <!-- Endegion Add / Edit EditCharge Form -->
        </div>
        <div class="modal-footer">
            <button id="btnSavePackage" type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
            </button>
            <button id="btnSaveAndNewPackage" type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
            </button>
            <button class="btnClose btn btn-link btn-sm" id="btnClosePackage" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
        </div>
    </div>
</div>
</div>
<!-- Region Options & Template  -->
<!-- Add / Edit Container Modal And ContainerPackages Table-->
<div class="modal fade" id="EditContainerModal" style="z-index: 3050;" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="EditContainerModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Container &nbsp;<label id="lblContainerShown" purpose="dynamicLabel" class="static-text-primary"></label>
            </h3>
        </div>
        <div class="modal-body">
            <!-- Region Add / Edit EditCharge Form -->
            <div class="span7 form vertical-mode m-l m-r" id="EditOperationContainer-form">
                <fieldset>
                    <!--Container Fields-->
                    <div class="form-group pull-in  has-error clearfix">
                        <input id="hContainerID" type="hidden" />
                        <!-- start alert message region -->
                        @*<div class="alert alert-danger div-error">
                                @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                            </div>*@
                        <!-- end alert message region -->
                        <!--Region Containers in case of FCL or FTL-->
                        @*<div id="divContainersInfo" class=""></div>*@
                            @*<div class="form-group col-sm-6">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.ContainerType</label>
                                    <input id="txtContainerType" readonly="readonly" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text"  class="form-control parsley-validated" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                                </div>*@
                    <div id="divContainersInfo" class="col-sm-12 swapChildrenClass">
                        <div class="form-group col-sm-1 m-t-n-xs input-sm">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.ContainerType</label>
                            <select id="slContainerTypes" name="slContainerTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm"></select>
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Quantity</label>
                            <input type="text" id="txtNumberOfContainers" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm disabled" maxlength="2" placeholder="" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.ContainerNumber</label>
                            <input type="text" id="txtContainerNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="ex. ABCD1234567" style="text-transform:uppercase" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.CarrierSeal</label>
                            <input type="text" id="txtCarrierSeal" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="15" placeholder="Carrier Seal" style="text-transform:uppercase" />
                        </div>
                        <div class="form-group col-sm-2 hide">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.ShipperSeal</label>
                            <input type="text" id="txtShipperSeal" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="15" placeholder="Shipper Seal" style="text-transform:uppercase" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.TareWeightAbbrev</label>
                            <input type="text" id="txtTareWeight" name="txtTareWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                            <input type="text" id="txtContainerVolume" name="txtContainerVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightAbbrev</label>
                            <input type="text" id="txtContainerNetWeight" name="txtContainerNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightTON</label>
                            <input type="text" id="txtContainerNetWeightTON" name="txtContainerNetWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                            <input type="text" id="txtContainerGrossWeight" name="txtContainerGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightTON</label>
                            <input type="text" id="txtContainerGrossWeightTON" name="txtContainerGrossWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-1">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.VGMKG</label>
                            <input type="text" id="txtVGM" name="txVGM" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                        </div>
                        <div class="form-group m-t-n-xs col-sm-2 float-right">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                            <textarea id="divContainerGoodsDescription" maxlength="800" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase;"></textarea>
                        </div>
                    </div>
                            @*<div class="form-group col-sm-2"><br /><br /><br /><br /></div>*@
                            <div class="col-sm-12 swapChildrenClass">
                                <div class="form-group col-sm-1 m-t-lg">
                                    <label><input type="checkbox" id="cbIsReefer" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" onchange="EnableDisableReeferProprties();">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Reefer</label>
                                </div>
                                <div class="form-group col-sm-1 m-t-lg">
                                    <label><input type="checkbox" id="cbIsNOR" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" onchange="EnableDisableReeferProprties();">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.NOR</label>
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.MinTemperature</label>
                                    <input type="text" id="txtMinTemp" disabled="disabled" onkeypress="CheckValueIsNegativeOrPositiveDecimal(id);" onfocus="CheckValueIsNegativeOrPositiveDecimal(id);" onblur="CheckDecimalPlacesAndNegativeSigns(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.MaxTemperature</label>
                                    <input type="text" id="txtMaxTemp" disabled="disabled" onkeypress="CheckValueIsNegativeOrPositiveDecimal(id);" onfocus="CheckValueIsNegativeOrPositiveDecimal(id);" onblur="CheckDecimalPlacesAndNegativeSigns(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Humidity</label>
                                    <input type="text" id="txtHumidity" disabled="disabled" onkeypress="CheckValueIsNegativeOrPositiveDecimal(id);" onfocus="CheckValueIsNegativeOrPositiveDecimal(id);" onblur="CheckDecimalPlacesAndNegativeSigns(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Ventilation</label>
                                    <input type="text" id="txtVentilation" disabled="disabled" onkeypress="CheckValueIsNegativeOrPositiveDecimal(id);" onfocus="CheckValueIsNegativeOrPositiveDecimal(id);" onblur="CheckDecimalPlacesAndNegativeSigns(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-lg m-l">
                                    <label><input type="checkbox" id="cbIsIMO" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" onchange="EnableDisableIMOProprties();">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IMO</label>
                                </div>
                                <div class="form-group col-sm-1 m-t-xs m-l-n">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.IMOClass</label>
                                    <input type="text" id="txtIMOClass" disabled="disabled" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="4" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.UNNumber</label>
                                    <input type="text" id="txtUNNumber" disabled="disabled" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0" />
                                </div>
                                <div class="form-group col-sm-1 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.FlashPoint</label>
                                    <input type="text" id="txtFlashPoint" disabled="disabled" onkeypress="CheckValueIsNegativeOrPositiveDecimal(id);" onfocus="CheckValueIsNegativeOrPositiveDecimal(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0.0" />
                                </div>
                                <div class="form-group col-sm-2 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.NumberOfPackages</label>
                                    <input type="text" id="txtNumberOfPackagesOnContainer" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0" />
                                </div>
                            </div>
                                <div class="form-group col-sm-2 m-t-xs">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageTypes</label>
                                    <select id="slPackageTypesOnContainer" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"></select>
                                </div>
                                <div class="form-group col-sm-2 m-t-xs ">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.LotNo </label>
                                    <input type="text" id="txtLotNumber" onkeypress="DisableEnterKey(id);" onfocus="DisableEnterKey(id);" class="form-control parsley-validated input-sm" maxlength="20" placeholder="" style="text-transform:uppercase;" />
                                </div>
                                @*<div class="form-group col-sm-6">
                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Quantity</label>
                <input type="text" id="txtContainersQuantity" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated" data-type="number" data-required="false" maxlength="8" placeholder="0" />
            </div>*@
                            <div class="col-sm-12 swapChildrenClass">
                                <div class="form-group col-sm-2 m-t-xs hide">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Operator</label>
                                    <select id="slOperator" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2 m-t-xs hide classShowForTank">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.TankNumber</label>
                                    <input type="text" id="txtTankOrFlexiNumber" autocomplete="off" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="20" placeholder="ex. ABCD1234567" style="text-transform:uppercase" />
                                </div>
                                <div class="form-group col-sm-1 m-t-27">
                                    <label><input type="checkbox" id="cbIsSentToWarehouse" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Senttowarehouse</label>
                                </div>
                                <div class="form-group col-sm-1 m-t-27">
                                    <label><input type="checkbox" id="cbIsTankLoaded" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Loaded</label>
                                </div>
                            </div>
                            <div class="col-sm-12 swapChildrenClass">
                                <div class="col-sm-2 m-t-sm " style="clear:both">
                                    <button id="btn-NewAddContainerPackage" disabled="disabled" class="form-control btn btn-warning btn-sm m-t-n-xs input-sm" data-toggle="modal" data-target="#EditContainerPackageModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.AddPackage</button>
                                </div>
                                <div class="col-sm-2  m-t-sm ">
                                    <button id="btn-ApplyReeferPropertiesToAll" title="Apply reefer properties to all existing containers" class="form-control btn btn-info btn-sm m-t-n-xs input-sm" onclick="OperationContainersAndPackages_ApplyReeferPropertiesToAll();" data-toggle="modal" data-target="#"><i class="fa fa-hand-o-up"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.ReeferPropToAll</button>
                                </div>
                                <div class="form-group col-sm-2 m-t-sm ">
                                    <button id="btn-CalculateVGMFromDetails" class="btn btn-lightblue btn-sm m-t-n-xs" data-toggle="modal" @*data-target="#PartnerModal"*@ onclick="OperationContainersAndPackages_CalculateVGM('txtTareWeight', 'txtContainerGrossWeight', 'txtVGM');"><i class="fa fa-edit"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.CalcVGM</button>
                                </div>

                                <div class="col-sm-3 m-t-md hide">
                                    <input id="txtContainerPackagesSearch" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase; border-color:#cccccc;" type="text" class="input-sm form-control m-t-n-xs m-l-n" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Search">
                                </div>
                                <button id="btn-ContainerPackagesSearch" class=" btn btn-sm btn-primary m-l-n-lg m-t-27 hide" type="button" onclick="ContainerPackages_Search();"><i class="fa fa-search"></i></button>
                                <div class="col-sm-2 float-right m-t-n">
                                    <button id="btn-DeleteContainerPackage" type="button" class=" btn btn-sm btn-danger m-t-md m-r" onclick="ContainerPackages_DeleteList();"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            
                        <!--EOF Region Containers in case of FCL or FTL-->

                    </div>
                    <!--EOF Container Fields-->
                    <!--ContainerPackages Table Region-->
                    <div id="divContainerPackages">
                        @*<div class="col-sm-2 m-l-n">
                                <button id="btn-NewAddContainerPackage" disabled="disabled" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#EditContainerPackageModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.AddPackage</button>
                            </div>*@
                        @*<div class="col-sm-3 m-l-n-lg">
                                <input id="txtContainerPackagesSearch" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase; border-color:#cccccc;"  type="text" class="input-sm form-control m-l-n" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="Search">
                            </div>
                            <button id="btn-ContainerPackagesSearch" class=" btn btn-sm btn-primary m-l-n-lg" type="button" onclick="ContainerPackages_Search();"><i class="fa fa-search"></i></button>
                        *@
                        @*<button id="btn-DeleteContainerPackage" type="button" class="float-right btn btn-sm btn-danger" onclick="ContainerPackages_DeleteList();"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>*@

                        <section class="panel panel-default m-t" style="overflow: scroll; width: auto; height: 270px;">
                            <div class="table-responsive">
                                <table id="tblContainerPackages" class="table table-striped b-t b-light text-sm  table-hover">
                                    <thead>
                                        <tr>
                                            <th id="HeaderDeleteContainerPackagesID">
                                                <input id="cb-CheckAll-ContainerPackages" type="checkbox" />
                                            </th>
                                            <th id="ContainerPackagesHouseCodeHeader" class="hide">
                                                @Forwarding.MvcApp.App_Resources.App_Resources.House
                                        </th>
                                        <th>
                                            @Forwarding.MvcApp.App_Resources.App_Resources.PackageType
                                    </th>
                                    <th>
                                        @Forwarding.MvcApp.App_Resources.App_Resources.Quantity
                                </th>
                                <th>
                                    @Forwarding.MvcApp.App_Resources.App_Resources.Volume
                            </th>
                            <th class="hide">
                                @Forwarding.MvcApp.App_Resources.App_Resources.NetWeightAbbrev
                        </th>
                        <th>
                            @Forwarding.MvcApp.App_Resources.App_Resources.GrossWeight
                    </th>
                    <th>
                        @Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods
                </th>
                <th class="hide">
                    @Forwarding.MvcApp.App_Resources.App_Resources.MarksAndNumbers
            </th>

            <th class="rounded-right hide"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>
</section>
<div id="divContainerPackagesSummary" class="form-group float-right m-r-lg">
    <!--i need those Divs for not to start from a new line-->
    @Forwarding.MvcApp.App_Resources.App_Resources.NumberOfPackages &nbsp;<label id="lblTotalNumberOfContainerPackages" purpose="dynamicLabel" class="static-text-blue"></label>
</div>
</div>
<!--EOF ContainerPackages Table Region-->
</fieldset>
</div>
<!-- Endegion Add / Edit EditCharge Form -->
</div>
<div class="modal-footer m-t-n">
    <button id="btnSaveContainer" type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
    </button>
    <button id="btnSaveAndNewContainer" type="button" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
    </button>
    <button class="btnClose btn btn-link btn-sm" id="btnContainerClose" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
</div>
</div>
</div>
</div>
<!-- Region Options & Template  -->
<!-- Add / Edit ContainerPackage Modal -->
<div class="modal fade" id="EditContainerPackageModal" tabindex="-1" style="z-index: 3060;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="EditContainerPackageModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-70">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>*@
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.Type &nbsp;<label id="lblContainerPackageShown" purpose="dynamicLabel" class="static-text-primary"></label>
            </h3>
        </div>
        <div class="modal-body">
            <!-- Region Add / Edit EditContainerPackage Form -->
            <div class="span7 form vertical-mode" id="EditContainerPackage-form">
                <fieldset>
                    <div class="form-group pull-in  has-error clearfix m-l m-r">
                        <input id="hContainerPackageID" type="hidden" />
                        <!-- start alert message region -->
                        <div class="alert alert-danger div-error">
                            @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                        </div>
                        <!-- end alert message region -->
                        <!--ContainerPackagesInfo-->
                        <div class="form-group col-sm-4">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageType</label>
                            <select id="slContainerPackageTypes" name="slContainerPackageTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm"></select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Quantity</label>
                            <input type="text" id="txtContainerPackageQuantity" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" onchange="ContainerPackages_CalculateVolume();" class="form-control parsley-validated input-sm" data-type="number" data-required="false" maxlength="8" placeholder="0" />
                        </div>


                        <div class="col-sm-6"><div><br /><br /><br /><br /></div></div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Length</label>
                            <input type="text" id="txtContainerPackageLength" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="ContainerPackages_CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Width</label>
                            <input type="text" id="txtContainerPackageWidth" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="ContainerPackages_CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Height</label>
                            <input type="text" id="txtContainerPackageHeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" onchange="ContainerPackages_CalculateVolume();" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                            <input type="text" id="txtContainerPackageVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2 hide">
                            <label>Chg.Wt</label>
                            <input type="text" id="txtContainerPackageVolumetricWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2 hide">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeight</label>
                            <input type="text" id="txtContainerPackageNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                            <input type="text" id="txtContainerPackageGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" data-required="false" maxlength="11" placeholder="0.0" />
                        </div>

                        <div class="form-group col-sm-8 m-t-xs hide">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.MarksAndNumbers</label>
                            <input id="txtContainerPackageMarksAndNumbers" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text" class="form-control parsley-validated input-sm" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                        </div>
                        @*<div class="form-group col-sm-8 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                                <input id="txtContainerPackageDescriptionOfGoods" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" type="text"  class="form-control parsley-validated input-sm" data-required="false" maxlength="500" placeholder="" style="text-transform:uppercase" />
                            </div>*@
                        <div class="form-group col-sm-5 m-t-xs">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                            <textarea id="txtContainerPackageDescriptionOfGoods" maxlength="500" class="form-control col-sm-12 textDivOperations" style="text-transform:uppercase;"></textarea>
                        </div>
                        <!--EOF ContainerPackagesInfo-->
                    </div>
                </fieldset>
            </div>
            <!-- Endegion Add / Edit EditCharge Form -->
        </div>
        <div class="modal-footer">
            <button id="btnSaveContainerPackage" type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
            </button>
            <button id="btnSaveAndNewContainerPackage" type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
            </button>
            <button class="btnClose btn btn-link btn-sm" id="btnCloseContainerPackage" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
        </div>
    </div>
</div>
</div>
<!-- Region Options & Template  -->
<!--CargoPropertiesModal-->
<div class="modal fade" id="CargoPropertiesModal" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CargoPropertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-80">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.CargoProperties
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region CargoProperties Form -->
                <div class="span7 form vertical-mode" id="CargoProperties-form">
                    <fieldset>
                        <div id="divCargoProperties">
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.TareWeightAbbrev</label>
                                <input type="text" id="txtCargoTareWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                                <input type="text" id="txtCargoGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightTON</label>
                                <input type="text" id="txtCargoGrossWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VGMKG</label>
                                <input type="text" id="txtCargoVGM" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightAbbrev</label>
                                <input type="text" id="txtCargoNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightTON</label>
                                <input type="text" id="txtCargoNetWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                                <input type="text" id="txtCargoVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VolumetricWt</label>
                                <input type="text" id="txtCargoVolumetricWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ChgWtkg</label>
                                <input type="text" id="txtCargoChargeableWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NumberOfPackages</label>
                                <input type="text" id="txtCargoNumberOfPackages" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0" />
                            </div>
                            <div class="form-group col-sm-3 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageTypes</label>
                                <select id="slCargoPackageTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"><option value=""><--Select--></option></select>
                            </div>
                            <div class="form-group col-sm-3 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PlacedOn</label>
                                <select id="slCargoPlacedOnContainer" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"><option value=""><--Select--></option></select>
                            </div>
                            <div class="form-group col-sm-2">
                                <button id="btn-CalculateVGM" class="btn btn-info btn-sm m-t-lg" data-toggle="modal" @*data-target="#PartnerModal"*@ onclick="CargoProperties_CalculateVGM();"><i class="fa fa-edit"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.CalcVGM</button>
                            </div>

                            <div class="form-group col-sm-6" style="clear:both;">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.MarksAndNumbers</label>
                                <textarea id="divCargoMarksAndNumbers" maxlength="1500" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase; height:200px;"></textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                                <textarea id="divCargoGoodsDescription" maxlength="1500" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase; height:200px;"></textarea>
                            </div>


                            <div id="divShipmentPackageBtns" class="classHideForMaster hide" style="clear:both;">
                                <button id="btn-AddShipmentPackage" class="btn btn-warning btn-sm" data-toggle="modal" @*data-target="#ShipmentPackageModal"*@ onclick="ShipmentPackage_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.AddCargo</button>
                                @*<button id="btn-MultiRowEditShipmentPackage" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ShipmentPackageModal" onclick="ShipmentPackage_MultiRowEdit();"><i class="fa fa-pencil"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.MultiEdit</button>*@
                                <button id="btn-DeleteShipmentPackage" type="button" class="float-right btn btn-sm btn-danger" onclick="ShipmentPackage_DeleteList();"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                            </div>
                            <div id="divShipmentPackage" class="m-t-xs classHideForMaster hide">
                                <section class="panel panel-default">
                                    <header class="panel-heading font-bold text-ul">@Forwarding.MvcApp.App_Resources.App_Resources.Packages</header>
                                    <!--Region: table header-->
                                    <div class="table-responsive" style="width:100%; height:175px; overflow:scroll;">
                                        <table id="tblShipmentPackage" class="table table-striped b-t b-light text-sm  table-hover">
                                            <thead>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!--Region: EOF table header-->
                                    <!--Region: table footer-->
                                    <footer class="panel-footer">
                                        <span id="spanNoShipmentPackage" class="hide">No Packages</span>
                                    </footer>
                                    <!--Region: EOF table footer-->
                                </section>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <!-- Endegion CargoProperties Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                <button type="button" id="btn-SaveCargoProperties" onclick="" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF CargoPropertiesModal-->
