<!-- start breadcrumb  -->


<style>
    * {
        box-sizing: border-box;
    }
    /**
* This can be extended to anything to make it get slightly bigger on hover,
* which is a pretty commonly desired effect
*/
    .big-on-hover {
        transform: scale(1, 1);
    }

        .big-on-hover:hover {
            transform: scale(1.2, 1.2);
        }

    /**
* Reusable single-direction margin declaration
*/
    .margin, p, .flag {
        margin-top: 0;
        margin-bottom: 24px;
    }

        .margin:last-child, p:last-child, .flag:last-child {
            margin-bottom: 0;
        }

    /**
* Flag Object
* Original Source: http://csswizardry.com/2013/05/the-flag-object/
*/
    .flag {
        display: table;
        width: 100%;
    }

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;
    }

    .flag--top .flag__image, .flag--top
    .flag__body {
        vertical-align: top;
    }

    .flag--bottom .flag__image, .flag--bottom
    .flag__body {
        vertical-align: bottom;
    }

    .flag__image {
        padding-right: 24px;
    }

        .flag__image > img {
            display: block;
            max-width: none;
        }

    .flag--rev .flag__image {
        padding-right: 0;
        padding-left: 24px;
    }

    .flag__body {
        width: 100%;
    }

    /**
* Notification Styles
*/
    .note {
        position: relative;
        overflow: hidden;
        color: white;
        background-color: #E91E63;
    }

    .note--secondary {
        background-color: #263238;
    }

    .note--success {
        background-color: #4CAF50;
    }

    .note--warning {
        background-color: #FFC107;
    }

    .note--error {
        background-color: #d50000;
    }

    .note--info {
        background-color: #03A9F4;
    }

    .note__icon,
    .note__text {
        padding: 24px;
    }

    .note__icon {
        min-width: 80px;
        text-align: center;
        font-size: 32px;
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .note__text {
        padding-right: 48px;
    }

    .note__close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 29px;
        line-height: 30px;
        font-size: 24px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: all 0.25s;
    }

        .note__close:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

    .note:hover .note__close {
        opacity: 1;
    }

</style>





<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="Accounting" href="javascript:void(0);" onclick="LoadViews('FA')">
            @Forwarding.MvcApp.App_Resources.App_Resources.FA
        </a>
    </li>
    <li>
        <a id="FA_MasterData" href="javascript:void(0);" onclick="LoadViews(id)">
            @Forwarding.MvcApp.App_Resources.App_Resources.FA_MasterData
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.FA_Assets</li>
</ul>
<!-- end breadcrumb  -->

<div id="div-FA_AssetsModal">
    <!-- Add / Edit Region Modal --> <!--data-keyboard="false" data-backdrop="false" to prevent modal closure on pressing escape and pressing outside the modal-->
    <div class="modal fade" id="FA_AssetsModal" tabindex="-1" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="FA_AssetsModalLabel" aria-hidden="true">
        <div class="modal-dialog modalwidth-100">
          
            @*<div class="modal-content modalwidth-100">*@
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.FA_Assets&nbsp;<label id="lblShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    </h3>
                </div>
                <!-- Region Add / Edit Region Form -->
                <div class="modal-body">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <div class="span7 form vertical-mode" id="FA_Assets-form">
                        <fieldset>
                            <div class="form-group pull-in   clearfix">
                                <input id="hID" type="hidden" />
                                <!-- start alert message region -->
                                <div class="alert alert-danger div-error">
                                    @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
                                </div>
                                <div class="wizard  swapChildrenClass">
                                    <ul class="steps ">
                                        <li data-target="#BasicData" id="stepsBasicData" onclick="" class="active"><span class="badge badge-info" style="background-color:midnightblue;">1</span>@Forwarding.MvcApp.App_Resources.App_Resources.BasicData</li>
                                        <li data-target="#FA_Location" id="stepsEmailSetting" onclick="" class="complete non_basic"><span class="badge badge-info" style="background-color:midnightblue;">2</span>@Forwarding.MvcApp.App_Resources.App_Resources.FA_Location</li>
                                        <li data-target="#FA_Purchase" id="stepsUserSalesmen" onclick="" class="complete non_basic"><span class="badge badge-info" style="background-color:midnightblue;">3</span>@Forwarding.MvcApp.App_Resources.App_Resources.FA_Purchase</li>
                                        <li data-target="#FA_DepreciationData" id="stepsUserSalesmen" onclick="" class="complete non_basic"><span class="badge badge-info" style="background-color:midnightblue;">4</span>@Forwarding.MvcApp.App_Resources.App_Resources.FA_DepreciationData</li>

                                    </ul>
                                    <div class="actions" style="display:none;">
                                        <!--Next & Previous buttons-->
                                        <button type="button" class="btn btn-default btn-xs btn-prev" disabled="disabled">@Forwarding.MvcApp.App_Resources.App_Resources.Prev</button>
                                        <button type="button" class="btn btn-default btn-xs btn-next" data-last="Finish">@Forwarding.MvcApp.App_Resources.App_Resources.Next</button>
                                    </div>
                                </div>
                                <br />
                                <div class="step-content m-t-lg " style="padding:0px!important;">
                               
                                    <div class="step-pane active step-content   m-b-none m-t-lg " id="BasicData">

                                        <div class="row swapChildrenClass">

                                            <div class="col-sm-3">
                                                <div> <input id="cbIsFromSC_Transactions" onchange="ShowHideTransactionsArea(true);" type="radio" name="cbFrom" /> &nbsp; من اذن صرف &nbsp;</div>
                                                <div> <input id="cbIsManual" type="radio" onchange="ShowHideTransactionsArea(false);" name="cbFrom" />&nbsp; ادخال يدوي &nbsp;</div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="SC_TransactionsSection hide">
                                                    <label>اذون الصرف</label>
                                                    <select id="slSC_TransactionsDetails" class="input-sm form-control CanEdit" data-required="false" onchange="GetDataFromPS(this);"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2"></div>

                                        </div>
                                        <div class="row swapChildrenClass">
                                            <div class="col-sm-12"></div>
                                        </div>
                                            <div class="row swapChildrenClass">
                                                <div class="form-group has-error  col-sm-2">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.AssetCode</label>
                                                    <input type="text" id="txtCode" class="input-sm form-control CanEdit" data-required="true" onchange="" />

                                                </div>
                                                <div class="form-group  has-error  col-sm-2">

                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.BarCode</label>
                                                    <input type="text" onkeyup="GenerateBarCode();" onkeydown="GenerateBarCode();" oninput="GenerateBarCode();" onblur="GenerateBarCode();" id="txtBarCode" class="input-sm form-control CanEdit" data-required="true" style="text-transform:uppercase" onchange="GenerateBarCode();" />

                                                </div>
                                                <div class="form-group has-error  col-sm-2">


                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Name</label>
                                                    <input type="text" id="txtName" class="input-sm form-control CanEdit IsFromPS" data-required="true" onchange="" />

                                                </div>
                                                <div class="form-group has-error  col-sm-2">

                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.AssetType</label>
                                                    <select id="slGroupID" class="input-sm form-control CanEdit" data-required="true" onchange="FA_GetGroupPercentage(this);"></select>

                                                </div>
                                                <div class="form-group  false  col-sm-3 hide">

                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.BarCodeType</label>
                                                    <select id="slBarCodeType" class="input-sm form-control CanEdit" data-required="true" onchange="GenerateBarCode();">
                                                        <option value="code39">code 39</option>
                                                        <option value="ean8">EAN 8</option>
                                                        <option value="ean13">EAN 13</option>
                                                        <option value="upc">UPC</option>
                                                        <option value="std25">standard 2 of 5 (industrial) (std25)</option>
                                                        <option value="int25">interleaved 2 of 5 (int25)</option>
                                                        <option value="code11">code 11</option>
                                                        <option value="code93">code 93</option>
                                                        <option value="code128">code 128</option>
                                                        <option value="codabar">codabar</option>
                                                        <option value="msi">MSI</option>
                                                        <option value="datamatrix">Data Matrix</option>
                                                    </select>

                                                </div>
                                                <div class="form-group  has-error   col-sm-4">
                                                    <div id="BarCodeImg" class="col-sm-12">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="step-pane row swapChildrenClass m-t-lg  step-content " id="FA_Location">


                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-12">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Branch</label>
                                                    <select id="slBranchID" class="input-sm form-control  IsFromPS" data-required="true" onchange="CheckIfBranchHasAssets(this);"></select>
                                                </div>
                                            </div>
                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-12">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Devison</label>
                                                    <select id="slDevisonID" class="input-sm form-control " data-required="true" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-12">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Department</label>
                                                    <select id="slDepartmentID" class="input-sm form-control " data-required="true" onchange=""></select>
                                                </div>
                                            </div>




                                        </div>

                                        <div class="step-pane  row swapChildrenClass m-t-lg step-content" id="FA_Purchase">

                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-6">

                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.PurchasingAmount</label>
                                                    <input type="text" id="txtPurchasingAmount" class="input-sm form-control CanEdit IsFromPS" data-required="true" onkeydown="SplitPurchasingAmount();" onchange="SplitPurchasingAmount();" onblur="CalculateDistructions();" />
                                                    <br />
                                                    <span id="PurchasingAmountWithComma" style="color:blue; border: blue thin dashed;font-size: 2rem;padding: 5px;"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Qty</label>
                                                    <input type="text" id="txtQty" class="input-sm form-control CanEdit IsFromPS" data-required="true" onblur="" />
                                                </div>
                                            </div>
                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-3">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Currency</label>
                                                    <select id="slCurrencyID" class="input-sm form-control CanEdit IsFromPS" data-required="true" onchange="CalculateDistructions();"></select>
                                                </div>
                                                <div class="col-sm-9">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.PurchasingAmountLocal</label>
                                                    <input disabled="disabled" type="text" id="txtPurchasingAmountLocal" class="input-sm form-control" data-required="true" onblur="CalculateDistructions();" />
                                                    <br />
                                                    <span id="PurchasingAmountLocalWithComma" style="color:blue; border: blue thin dashed;font-size: 2rem;padding: 5px;"></span>
                                                </div>
                                            </div>
                                            <div class="form-group has-error  col-sm-4">
                                                <div class="col-sm-12">
                                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.PurchasingDate</label>
                                                    <input id="txtPurchasingDate" readonly="readonly" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" onchange="" class="datepicker-input form-control input-sm inputvalue CanEdit IsFromPS" data-date-format="dd/mm/yyyy">
                                                </div>
                                            </div>




                                        </div>

                                        <div class="step-pane row  m-t-lg  step-content " id="FA_DepreciationData">

                                            <div class="row swapChildrenClass m-t-lg col-sm-12">
                                                <div class="form-group has-error  col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.ScrappingAmount</label>
                                                        <input type="text" id="txtScrappingAmount" class="input-sm form-control CanEdit" data-required="true" onblur="CalculateDistructions();" />
                                                    </div>
                                                </div>
                                                <div class="form-group has-error  col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.OpeningDepreciationAmount</label>
                                                        <input type="text" id="txtOpeningDepreciationAmount" class="input-sm form-control CanEdit" data-required="true" onblur="CalculateDistructions();" />
                                                    </div>
                                                </div>
                                                <div class="form-group has-error  col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.IntialAmount</label>
                                                        <input disabled="disabled" type="text" id="txtIntialAmount" class="input-sm form-control" data-required="true" onblur="CalculateDistructions();" />
                                                    </div>
                                                </div>
                                                <div class="form-group has-error  col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.StartDepreciationDate</label>
                                                        <input id="txtStartDepreciationDate" readonly="readonly" onchange="" type="text" onfocus="DisableEnterKey(id);" data-required="true" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control input-sm inputvalue CanEdit" data-date-format="dd/mm/yyyy" placeholder="Select Date" />

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row swapChildrenClass m-t-lg swapChildrenClass">
                                                <div class="form-group has-error  col-sm-3">
                                                    <div class="col-sm-6">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.IsNotDepreciable</label>
                                                        <input id="cbIsNotDepreciable" type="checkbox" onfocus="DisableEnterKey(id);"
                                                               data-required="true" onkeypress="DisableEnterKey(id);" onchange="ClearDetails(this);" style="cursor:text;" class=" inputvalue input-sm CanEdit IsFromPS" data-date-format="dd/mm/yyyy">

                                                    </div>

                                                    <div class="col-sm-3">
                                                        <div style="width: 100px; margin-top: 10px;">
                                                            <label>اصل متناقص</label>
                                                            <input id="radio_decreasing" onchange="AssetType(1);" type="radio" name="cbFrom" checked />
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-3">

                                                        <div style="width: 100px; margin-top: 10px;">
                                                            <label>اصل ثابت</label>
                                                            <input id="radio_Fixed" onchange="AssetType(2);" type="radio" name="cbFrom" />

                                                        </div>


                                                    </div>

                                                    <div class="col-sm-2 hide ">

                                                        <div style="width: 100px; margin-top: 10px;">
                                                            <label>أصل متغير</label>
                                                            <input id="cbIsFromSC_Transactions" onchange="AssetType(3);" type="radio" name="cbFrom" />

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row swapChildrenClass m-t-lg swapChildrenClass">
                                                <div class="form-group   col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.Percentage %</label>
                                                        <input id="txtPercentage" onblur="FA_AssetsDestructions_BindTableRows(false);" type="number" onfocus="DisableEnterKey(id);" data-required="false" onkeypress="DisableEnterKey(id);" style="cursor:text;" class=" form-control input-sm inputvalue CanEdit" />
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-3">
                                                    <div class="col-sm-12">
                                                        <label>@Forwarding.MvcApp.App_Resources.App_Resources.FA_LastAmount</label>
                                                        <input id="txtLastAmount" onchange="" disabled="disabled" type="number" onfocus="DisableEnterKey(id);" data-required="false" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-3">

                                                </div>
                                                <div class="form-group  col-sm-3">

                                                </div>
                                            </div>
                                            <div class="row swapChildrenClass m-t-lg">
                                                <div class="form-group   col-sm-12">

                                                    <a id="btnAddDetails" class="btn btn-warning hide  float-left bordered btn-sm" onclick="FA_Assets_AddDetails();">
                                                        <span class="fa fa-plus"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Add
                                                    </a>
                                                    <div class="table-responsive">
                                                        <table id="tblFA_AssetsDestructions" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.FromDate</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.ToDate</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.Percentage</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.Days</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.Months</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.Years</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.DayAmount</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.MonthAmount</th>
                                                                    <th>@Forwarding.MvcApp.App_Resources.App_Resources.YearAmount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>

                                                        </table>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Endregion Add / Edit Region Form -->
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary btn-sm" onclick="FA_Assets_Insert(false);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                    </button>
                    <button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="FA_Assets_Insert(true);">
                        <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew
                    </button>
                    <button class="btnClose btn btn-link btn-sm" id="btnClose" onclick="" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->

                </div>
            </div>
        </div>
    </div>
    <!-- Region Options & Template  -->

    <div id="div-Data">
        <div id="div-Options">
            <div id="div-Action" class="radius-top-left-right">
            </div>
        </div>
        <section class="panel panel-default">
            <header class="panel-heading row swapChildrenClass">
                <div class="col-sm-3">
                    <h3 class="m-b-none">
                        @Forwarding.MvcApp.App_Resources.App_Resources.FA_Assets
                    </h3>
                </div>
                <div class="col-sm-9">
                    <div class="flag note note--warning AssetsNotifications hide">
                        <div class="flag__image note__icon" onclick="FA_Assets_GetSC_TransactionDetails();">
                            <i class="fa fa-bell"></i>
                        </div>
                        <div class="flag__body note__text AssetsNotificationsBody">
                            Warning! Please correct the things.
                        </div>
                        <a href="#" class="note__close hide">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </header>
            <!--Region the searh, delete, addnew-->
            <div class="row text-sm wrapper hidden-print ">
                <div id="div-main-options" class="col-sm-2 m-b-xs">
                    <button id="btn-NewAdd" onclick="FA_Assets_ClearAllControls();" class="btn btn-warning btn-sm hide" data-toggle="modal" data-target="#FA_AssetsModal"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.New</button>
                    <div id="div-option-buttons" class="btn-group hide">
                        <button id="btn-Copy" type="button" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy </button>
                        <button id="btn-Print" type="button" class="btn btn-sm btn-default"><i class="fa fa-print"></i>Print </button>
                        <button id="btn-Send" type="button" class="btn btn-sm btn-default"><i class="fa fa-envelope-o"></i>Send </button>
                    </div>
                </div>

                <div class="form-inline  col-sm-3">
                    <div class="col-sm-12">
                        <select id="slBranchID_Filter" class="input-sm form-control"  onchange="FA_Assets_LoadingWithPaging();"></select>
                    </div>
                </div>
                <div id="div-search-option" class="col-sm-7">
                    <div id="div-search-controls" class="input-group col-sm-9">
                        <input id="txt-Search" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.BarCode / @Forwarding.MvcApp.App_Resources.App_Resources.Name">
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-sm btn-primary" type="button" onclick="FA_Assets_LoadingWithPaging();"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <div class="float-right col-sm-1">
                        <button onclick="FA_Assets_DeleteList();" id="btn-Delete" type="button" class="float-right btn btn-sm btn-danger m-r-n"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                    </div>
                </div>
            </div>
            <!--Region the searh, delete, addnew-->
            <!--Region: table header-->
            <div class="table-responsive">
                <table id="tblFA_Assets" class="table table-striped b-t b-light text-sm  table-hover">
                    <thead>
                        <tr>
                            <th id="ID">
                                <input id="cb-CheckAll" type="checkbox" />
                            </th>

                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Code
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Name
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Branch
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Devison
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Department
                            </th>

                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Group
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.MaterialIssueVouchers
                            </th>
                            <th class="th-sortable" data-toggle="class">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Approved
                            </th>
                            <th>

                            </th>
                            <th></th>
                            <th class="th-sortable" data-toggle="class">

                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!--Region: table header-->
            <!--Region: footer-->
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                        </button>
                    </div>
                    <div id="div-Text-Total" class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">
                            @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                            <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                            <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                        </small>
                    </div>
                    <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>

                    <input type="hidden" id="hSubAccountID" />
                    <input type="hidden" id="hApproved" />
                    <input type="hidden" id="hUsed" />
                    <input type="hidden" id="hSerialNo" />
                    <select id="hidden_slAccount" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
                    <select id="hidden_slSubAccount" style="visibility:hidden" class="input-sm form-control" data-required="false" onchange=""></select>
                </div>
            </footer>
            <!--Region: footer-->
        </section>
    </div>
</div>