<ul id="ul-breadcrumb" class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li>
        <a id="hl-homepage" href="javascript:void(0);" onclick="LoadViews(id);">
            <i class="fa fa-home icon-home"></i><span>@Forwarding.MvcApp.App_Resources.App_Resources.HomePage</span>
        </a>
    </li>
    <li>
        <a id="ContainerTrackingGroup" href="javascript:void(0);" onclick="LoadViews('ContainerTrackingGroup')">
            @Forwarding.MvcApp.App_Resources.App_Resources.ContainerTracking
        </a>
    </li>
    <li class="active">@Forwarding.MvcApp.App_Resources.App_Resources.ShippingOrders </li>
</ul>

<!--Operations Modal-->
<div class="modal fade" id="ShipmentModal" tabindex="-1" style="z-index: 1040;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="ShipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100 m-t-n-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    House &nbsp;<label id="lblShownShipment" purpose="dynamicLabel" class="static-text-primary"></label>
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="Shipment-form">
                    <fieldset>
                        <div class="form-group pull-in  has-error clearfix">
                            <input id="hShipmentID" type="hidden" />
                            <input id="hOperationID" type="hidden" />
                            <input id="hHouseParentID" type="hidden" />

                            @*<input id="hShipmentBLType" type="hidden" />
        <input id="hShipmentBLTypeIconName" type="hidden" />
        <input id="hShipmentBLTypeIconStyle" type="hidden" />*@

                            <!-- start alert message region -->
                            @*<div class="alert alert-danger div-error">
            @Forwarding.MvcApp.App_Resources.App_Resources.ErrorMessage
        </div>*@
                            <!-- end alert message region -->
                            <!--Wizard-->
                            @*<div class="row m-l m-r">*@
                            <!--Radio Buttons-->
                            @*<div class="col-sm-2">
            <br />
            <section class="panel panel-default m-t-n">
                <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.BLType</header>
                <label class="m-l"><input type="radio" id="cbIsDirect" onchange="Operations_BLTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbBLType" value="1">&nbsp;<i class= 'fa fa-indent direct-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Direct</label><br />
                <label class="m-l"><input type="radio" id="cbIsHouse"  onchange="Operations_BLTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbBLType" value="2">&nbsp;<i class= 'fa fa-link house-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.House</label><br />
                <label class="m-l"><input type="radio" id="cbIsMaster" onchange="Operations_BLTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbBLType" value="3">&nbsp;<i class= 'fa fa-book master-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Master</label><br />
            </section>
            <section class="panel panel-default m-t-n">
                <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.Direction</header>
                <label class="m-l"><input type="radio" id="cbIsImport"   onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="1">&nbsp;<i class= 'fa fa-arrow-circle-down import-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Import</label><br />
                <label class="m-l"><input type="radio" id="cbIsExport"   onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="2">&nbsp;<i class= 'fa fa-external-link export-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Export</label><br />
                <label class="m-l"><input type="radio" id="cbIsDomestic" onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="3">&nbsp;<i class= 'fa fa-home domestic-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Domestic</label><br />
            </section>
            <section class="panel panel-default m-t-n">
                <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.TransportMode</header>
                <label class="m-l"><input type="radio" id="cbIsOcean"  onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="1">&nbsp;<i class= 'fa fa-anchor ocean-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsOcean</label><br />
                <label class="m-l"><input type="radio" id="cbIsAir"    onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="2">&nbsp;<i class= 'fa fa-plane air-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsAir</label><br />
                <label class="m-l"><input type="radio" id="cbIsInland" onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="3">&nbsp;<i class= 'fa fa-truck inland-icon-style'/>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInland</label><br />
            </section>
            <section id="secShipmentType" class="panel panel-default m-t-n">
                <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.ShipmentType</header>
                <div id="divOceanType">
                    <label class="m-l"><input type="radio" id="cbIsFCLForBLDocuments" onchange="Operations_ShipmentTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbShipmentType" value="1">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.FCL</label><br />
                    <label class="m-l"><input type="radio" id="cbIsLCLForBLDocuments" onchange="Operations_ShipmentTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbShipmentType" value="2">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.LCL</label>
                </div>
                <div id="divInlandType" class="hide">
                    <label             class="m-l"><input type="radio" id="cbIsFTLForBLDocuments" onchange="Operations_ShipmentTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbShipmentType" value="3">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.FTL</label><br />
                    <label             class="m-l"><input type="radio" id="cbIsLTLForBLDocuments" onchange="Operations_ShipmentTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbShipmentType" value="4">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.LTL</label>
                </div>
                <div id="divConsolidationOption" class="hide">
                    <label class="m-l"><input type="radio" id="cbIsConsolidation" onchange="Operations_ShipmentTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbShipmentType" value="5">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Consolidation</label><br />
                </div>
            </section>
        </div>*@
                            <!--EOF Radio Buttons-->
                            <!--Row 0-->
                            <div class="hide">
                                <input type="checkbox" class="hide" id="cbWithVAT" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">
                                <table id="tblDocsOut" class="hide"><tbody></tbody></table>
                                <section class="panel panel-default m-t-n">
                                    <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.Direction</header>
                                    <label class="m-l"><input type="radio" id="cbIsImport" onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="1">&nbsp;<i class='fa fa-arrow-circle-down import-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Import</label><br />
                                    <label class="m-l"><input type="radio" id="cbIsExport" onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="2">&nbsp;<i class='fa fa-external-link export-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Export</label><br />
                                    <label class="m-l"><input type="radio" id="cbIsDomestic" onchange="DirectionType_SetIconNameAndStyle();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbDirectionType" value="3">&nbsp;<i class='fa fa-home domestic-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Domestic</label><br />
                                </section>
                                <section class="panel panel-default m-t-n">
                                    <header class="panel-heading font-bold">@Forwarding.MvcApp.App_Resources.App_Resources.TransportMode</header>
                                    <label class="m-l"><input type="radio" id="cbIsOcean" onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="1">&nbsp;<i class='fa fa-anchor ocean-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsOcean</label><br />
                                    <label class="m-l"><input type="radio" id="cbIsAir" onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="2">&nbsp;<i class='fa fa-plane air-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsAir</label><br />
                                    <label class="m-l"><input type="radio" id="cbIsInland" onchange="Operations_TransportTypeChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" name="cbTransportType" value="3">&nbsp;<i class='fa fa-truck inland-icon-style' />&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.IsInland</label><br />
                                </section>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Branch</label>
                                <select id="slOperationBranchForBLDocuments" disabled="disabled" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"></select>
                            </div>
                            <!--EOF Row 0-->
                            <!--1st row-->
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Salesman</label>
                                <select id="slOperationSalesmanForBLDocuments" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"></select>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.OpenDate</label>
                                <input id="txtOperationOpenDateForBLDocuments" disabled="disabled" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" @*readonly="readonly" style="background-color:white; cursor:text;"*@ class="datepicker-input form-control input-sm" data-required="true" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.HouseNumber</label>
                                <input type="text" id="txtShipmentHouseNumber" onkeypress="DisableEnterKey(id);" onfocus="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="20" placeholder="House No." style="text-transform:uppercase;" />
                            </div>

                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PickupCountry</label>
                                <select id="slPickupCountry" onchange="GetListPortsForCountry('slPickupCountry', 'slPickupCity', 'slPOLForBLDocuments');" class="form-control m-b input-sm" onfocus="    DisableBackspaceKey(id);" onkeydown="    DisableBackspaceKey(id);" onkeypress="    DisableBackspaceKey(id);" data-required="false"><option value=""><--select--></option></select>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PickupCity</label>
                                <select id="slPickupCity" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"><option value=""><--select--></option></select>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DeliveryCountry</label>
                                <select id="slDeliveryCountry" onchange="GetListPortsForCountry('slDeliveryCountry', 'slDeliveryCity', 'slPODForBLDocuments');" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="true"><option value=""><--select--></option></select>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.FinalDestination</label>
                                <select id="slDeliveryCity" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="true"><option value=""><--select--></option></select>
                            </div>
                            <div class="col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ReleaseDate</label>
                                <input id="txtShipmentReleaseDate" type="text" style="cursor:text;" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="datepicker-input form-control input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>House ACID No</label>
                                <input type="text" id="txtShipmentACIDNumber" class="form-control input-sm" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Incoterm</label>
                                <select id="slShipmentIncoterm" class="form-control input-sm" data-required="false"></select>
                            </div>
                            @*<div class="form-group col-sm-2">
            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Direction</label>
            <select id="slDirectionType" class="form-control input-sm" data-required="true">
                <option value=""><--select--></option>
                <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.Import</option>
                <option value="2">@Forwarding.MvcApp.App_Resources.App_Resources.Export</option>
                <option value="3">@Forwarding.MvcApp.App_Resources.App_Resources.Domestic</option>
                <option value="4">@Forwarding.MvcApp.App_Resources.App_Resources.CrossBooking</option>
                <option value="5">@Forwarding.MvcApp.App_Resources.App_Resources.ReExport</option>
            </select>
        </div>*@
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.TransportMode</label>
                                <select id="slTransportType" class="form-control input-sm" data-required="true">
                                    <option value=""><--select--></option>
                                    <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.IsOcean</option>
                                    <option value="2">@Forwarding.MvcApp.App_Resources.App_Resources.IsAir</option>
                                    <option value="3">@Forwarding.MvcApp.App_Resources.App_Resources.IsInland</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ShipmentType</label>
                                <select id="slShipmentType" class="form-control input-sm" data-required="true">
                                    <option value=""><--select--></option>
                                    <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.FCL</option>
                                    <option value="2">@Forwarding.MvcApp.App_Resources.App_Resources.LCL</option>
                                    <option value="40">@Forwarding.MvcApp.App_Resources.App_Resources.Bulk</option>
                                </select>
                            </div>
                            <div id="divOperationMoveTypes" class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ServiceType</label>
                                <select id="slOperationMoveTypesForBLDocuments" data-required="true" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                            </div>
                            <!--EOF 1st row-->
                            <!--2nd row-->
                            @*<div id="divShipper">*@
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Shipper</label>
                                <select id="slShippersForBLDocuments" name="slShippersForBLDocuments" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);"></select>
                            </div>
                            <div class="col-sm-1 m-t-sm hide">
                                <br />
                                <button id="btn-NewAddShipperForBLDocuments" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-plus"></i></button>
                                <button id="btn-EditShipperForBLDocuments" class="btn btn-info btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-pencil"></i></button>
                            </div>
                            @*</div>*@
                            @*<div id="divConsignee">*@
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Consignee</label>
                                <select id="slConsigneesForBLDocuments" class="form-control m-b input-sm"></select>
                            </div>
                            <div class="col-sm-1 m-t-sm hide">
                                <br />
                                <button id="btn-NewAddConsigneeForBLDocuments" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-plus"></i></button>
                                <button id="btn-EditConsigneeForBLDocuments" class="btn btn-info btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-pencil"></i></button>
                            </div>
                            @*</div>*@
                            @*<div id="divAgent">*@
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Agent</label>
                                <select id="slAgentsForBLDocuments" name="slAgentsForBLDocuments" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                            </div>
                            <div class="col-sm-1 m-t-sm hide">
                                <br />
                                <button id="btn-NewAddAgentForBLDocuments" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#AgentModal"><i class="fa fa-plus"></i></button>
                                <button id="btn-EditAgentForBLDocuments" class="btn btn-info btn-sm" data-toggle="modal" data-target="#AgentModal"><i class="fa fa-pencil"></i></button>
                            </div>
                            @*</div>*@
                            @*<div id="divNotify">*@
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notify</label>
                                <select id="slNotifyForBLDocuments" name="slNotifyForBLDocuments" class="form-control m-b input-sm" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
                            </div>
                            <div class="col-sm-1 m-t hide">
                                <br />
                                @*<button id="btn-NewAddNotifyForBLDocuments" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-plus"></i></button>
            <button id="btn-EditNotifyForBLDocuments" class="btn btn-info btn-sm" data-toggle="modal" data-target="#CustomerModal"><i class="fa fa-pencil"></i></button>*@
                                <label class="m-l-n"><input type="checkbox" id="cbIsDelivered" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delivered</label>
                            </div>
                            @*</div>*@
                            @*<div class="col-sm-3"><br /></div>*@
                            <!--EOF 2nd row-->
                            <!--3rd row-->

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.POL</label>
                                <select id="slPOLForBLDocuments" name="slPOL" class="form-control m-b input-sm"></select>
                            </div>
                            <!--EOF 3rd row-->
                            <!--4th row-->

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.POD</label>
                                <select id="slPODForBLDocuments" name="slPOD" class="form-control m-b input-sm"></select>
                            </div>
                            <!--EOF 4th row-->
                            <!--5th row-->
                            @*<div class="form-group col-sm-2 hide">
            <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageType</label>
            <select id="slShipmentPackageTypes" class="form-control m-b input-sm" data-required="true"></select>
        </div>*@
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NumberOfPackages</label>
                                <input type="text" id="txtShipmentNumberOfPackages" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="8" placeholder="0" />
                            </div>



                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightAbbrev</label>
                                <input type="text" id="txtShipmentNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="8" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                                <input type="text" id="txtShipmentVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="8" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                                <input type="text" id="txtShipmentGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="8" placeholder="0.0" />
                            </div>


                            <div class="col-sm-3 hide">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.CloseDate</label>
                                <input id="txtOperationCloseDateForBLDocuments" type="text" style="cursor:text;" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="datepicker-input form-control input-sm" data-required="true" data-date-format="dd/mm/yyyy" placeholder="Close Date" readonly="readonly" disabled="disabled" />
                                <br />
                            </div>

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Consignee 2</label>
                                <select id="slConsignees2" class="form-control m-b input-sm" data-required="false"></select>
                            </div>


                            <div class="form-group col-sm-2 m-t-xs">
                                <label id="lblShipmentCustomerReference">@Forwarding.MvcApp.App_Resources.App_Resources.CustomerReference</label>
                                <input type="text" id="txtShipmentCustomerReference" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label id="lblShipmentSupplierReference">@Forwarding.MvcApp.App_Resources.App_Resources.SupplierReference</label>
                                <input type="text" id="txtShipmentSupplierReference" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase" />
                            </div>

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PONumber</label>
                                <input type="text" id="txtShipmentPONumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>ACID Details</label>
                                <input type="text" id="txtShipmentACIDDetails" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Booking Number</label>
                                <input type="text" id="txtShipmentBookingNumber" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="form-control parsley-validated input-sm" data-required="false" maxlength="50" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 ">
                                <label>D/O No</label>
                                <input type="text" disabled="disabled" id="txtShipmentDeliveryOrderNumber" class="form-control input-sm" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 ">
                                <label>DO Date</label>
                                <input id="txtShipmentDeliveryDate" type="text" style="cursor:text;" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="datepicker-input form-control input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.IssueDate</label>
                                <input id="txtShipmentBLDate" type="text" style="cursor:text;" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="datepicker-input form-control input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="form-group col-sm-2 classShowForUpdate">
                                <label class="classShowForELI hide"><input type="checkbox" id="cbIsReceivedFromShipper" onchange="cbIsReceivedFromShipperChanged();" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;</label>
                                <label id="ShippedOnBoardDateLabel">Shipped On Board Date</label>
                                <input id="txtShipmentShippedOnBoardDate" type="text" style="cursor:text;" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" class="datepicker-input form-control input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Freight Payable At</label>
                                <input type="text" id="txtShipmentFreightPayableAt" class="form-control input-sm" data-required="false" maxlength="100" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-1">
                                <label>NoOfOrg.BLs</label>
                                <input type="text" id="txtShipmentNumberOfOriginalBills" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm" maxlength="2" placeholder="">
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.POrC</label>
                                <select id="slShipmentPOrC" class="form-control input-sm" data-required="false"></select>
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>IMO Class</label>
                                <input type="text" id="txtOperationIMOClass" class="form-control parsley-validated input-sm" onkeypress="CheckValueIsDecimal(id);" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>UN Number</label>
                                <input type="text" id="txtOperationUNNumber" class="form-control parsley-validated input-sm" onkeypress="CheckValueIsInteger(id);" data-required="false" maxlength="200" placeholder="" style="text-transform:uppercase" />
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Vessel</label>
                                <select id="slOperationVesselID" data-required="false" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationMan</label>
                                <select id="slOperationOperationManID" data-required="false" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control input-sm"></select>
                            </div>
                            <div class="form-group col-sm-2 m-t-xs">
                                @*<label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>*@
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Notes</label>
                                <textarea id="divNotesForBLDocuments" maxlength="250" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase;"></textarea>
                            </div>
                            <div class="form-group col-sm-1 m-t-lg hide">
                                <button id="btn-SetClearanceProperties_Shipment" class="btn btn-lightblue btn-sm" data-toggle="modal" onclick="Shipment_OpenClearancePropertiesModal(20);" data-target="#"><i class="fa fa-edit"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Clearance</button>
                            </div>
                            <div class="form-group col-sm-1 m-t-lg classSetCargoProperties">
                                <button id="btn-SetCargoProperties_Shipment" class="btn btn-primary btn-sm" data-toggle="modal" onclick="CargoProperties_FillControls(20);" data-target="#"><i class="fa fa-edit"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Cargo</button>
                            </div>
                            @*<div class="form-group col-sm-3">
            <label>@Forwarding.MvcApp.App_Resources.App_Resources.LineOrTrucker</label>
            <select id="slLines" name="slLines" class="form-control m-b" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" data-required="false"></select>
        </div>*@
                            <!--EOF 5th row-->
                        </div>


                        @* added added just not to give an erro in the insert validation date *@
                        <div id="divOperationExpectedDepartureForBLDocuments" class="form-group m-t-n-md col-sm-6 hide">
                            <label>ETD POL</label>
                            <input id="txtOperationExpectedDepartureForBLDocuments" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control " data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                        </div>
                        <div id="divOperationExpectedArrivalForBLDocuments" class="form-group m-t-n-md col-sm-6 hide">
                            <label>ETA POD</label>
                            <input id="txtOperationExpectedArrivalForBLDocuments" type="text" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="cursor:text;" class="datepicker-input form-control " data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                        </div>
                        @* added added just not to give an erro in the insert validation date *@

                        <div id="divShipmentPackageBtns" class="">
                            <button id="btn-AddShipmentPackage" class="btn btn-warning btn-sm hide" data-toggle="modal" @*data-target="#ShipmentPackageModal"*@ onclick="ShipmentPackage_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.AddCargo</button>
                            @*<button id="btn-MultiRowEditShipmentPackage" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ShipmentPackageModal" onclick="ShipmentPackage_MultiRowEdit();"><i class="fa fa-pencil"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.MultiEdit</button>*@
                            <button id="btn-DeleteShipmentPackage" type="button" class="float-right btn btn-sm btn-danger hide" onclick="ShipmentPackage_DeleteList();"><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                        </div>
                        <div id="divShipmentPackage" class="m-t-xs hide">
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold text-ul">@Forwarding.MvcApp.App_Resources.App_Resources.Packages</header>
                                <!--Region: table header-->
                                <div class="table-responsive" style="width:100%; height:175px; overflow:scroll;">
                                    <table id="tblShipmentPackage" class="table table-striped b-t b-light text-sm  table-hover">
                                        <thead>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!--Region: EOF table header-->
                                <!--Region: table footer-->
                                <footer class="panel-footer">
                                    <span id="spanNoShipmentPackage" class="hide">No Packages</span>
                                </footer>
                                <!--Region: EOF table footer-->
                            </section>
                        </div>


                        <div id="Nasb" class="hide">
                            <button id="btn-nasb" class="btn btn-warning btn-sm" data-toggle="modal" @*data-target="#ShipmentPackageModal"*@ onclick=""><i class="fa fa-plus"></i>&nbsp;Add House</button>
                            @*<button id="btn-MultiRowEditShipmentPackage" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ShipmentPackageModal" onclick="ShipmentPackage_MultiRowEdit();"><i class="fa fa-pencil"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.MultiEdit</button>*@
                            <button id="btn-nasb" type="button" class="float-right btn btn-sm btn-danger" onclick=""><i class="fa fa-trash-o"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Delete</button>
                        </div>
                        <div id="nasb" class="m-t-xs hide">
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold text-ul">Houses</header>
                                <!--Region: table header-->
                                <div class="table-responsive" style="width:100%; height:175px; overflow:scroll;">
                                    <table id="tblnasb" class="table table-striped b-t b-light text-sm  table-hover">
                                        <thead>
                                            <tr>
                                                <th id="nasb">
                                                    <input id="cb-CheckAll" type="checkbox" />
                                                </th>
                                                <th>HouseNo</th>
                                                <th>Shipper</th>
                                                <th>Consignee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th id="nasb">
                                                    <input id="cb-CheckAll" type="checkbox" />
                                                </th>
                                                <th>343434</th>
                                                <th>AVL</th>
                                                <th>Home Market</th>
                                            </tr>
                                            <tr>
                                                <th id="nasb">
                                                    <input id="cb-CheckAll" type="checkbox" />
                                                </th>
                                                <th>868667</th>
                                                <th>Elegant</th>
                                                <th>Tamara</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--Region: EOF table header-->
                                <!--Region: table footer-->
                                <footer class="panel-footer">
                                    <span id="nasb" class="hide">No Packages</span>
                                </footer>
                                <!--Region: EOF table footer-->
                            </section>
                        </div>

                        <!--EOF Wizard-->
                        @*</div>*@
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer m-t-n-lg">
                <button type="button" id="btnSaveShipment" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                @*<a id="btnSaveandNewShipment" class="btn btn-primary btn-sm" onclick="Shipments_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</a>*@
                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!--EOF Operations Modal-->
<!--FilterOperationsModal-->
<div class="modal fade" id="FilterOperationsModal" tabindex="-1" @*style="z-index: 3000;"*@ data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="FilterOperationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-100">
        <div class="modal-content m-t-n-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 class="m-b-none">
                    <label id="lblShownFilterOperations" purpose="dynamicLabel" class="static-text-primary">@Forwarding.MvcApp.App_Resources.App_Resources.FilterOperations</label>
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region FilterOperations Form -->
                <button id="btn-ClearAllFilterOperations" type="button" class="btn btn-warning btn-sm m-l m-t-n-sm hide" onclick=""><i class="fa "></i><b>&nbsp;Clear All</b></button>
                <div class="span7 form vertical-mode m-t-sm" id="FilterOperations-form">
                    <fieldset>
                        <div class="row hide">
                            <div id="div-FilterOperations-controls" class="input-group m-l col-sm-5">
                                <input id="txtFilterOperations" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);" style="text-transform:uppercase" type="text" class="input-sm form-control" binding-name="SearchPlaceHolder" binding-prop="placeholder" placeholder="@Forwarding.MvcApp.App_Resources.App_Resources.Search" />
                                <span class="input-group-btn">
                                    <button id="btn-FilterOperations" class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>

                        <div id="divFilterOperations" class="m-t-n classSearchOperations">
                            <div class="row swapChildrenClass">
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.House</label>
                                    <input type="text" id="txtFilterHouseBLs" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationSerial</label>
                                    <input type="text" id="txtFilterOperationCode" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Direction</label>
                                    <select id="slFilterDirection" class="input-sm col-sm-12">
                                        <option value=""><--Select--></option>
                                        <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.Import</option>
                                        <option value="2">@Forwarding.MvcApp.App_Resources.App_Resources.Export</option>
                                        <option value="3">@Forwarding.MvcApp.App_Resources.App_Resources.Domestic</option>
                                        <option value="4">@Forwarding.MvcApp.App_Resources.App_Resources.CrossBooking</option>
                                        <option value="5">@Forwarding.MvcApp.App_Resources.App_Resources.ReExport</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Transport</label>
                                    <select id="slFilterTransport" class="input-sm col-sm-12">
                                        <option value=""><--Select--></option>
                                        <option value="1">@Forwarding.MvcApp.App_Resources.App_Resources.Ocean</option>
                                        <option value="2">@Forwarding.MvcApp.App_Resources.App_Resources.Air</option>
                                        <option value="3">@Forwarding.MvcApp.App_Resources.App_Resources.Inland</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Service</label>
                                    <select id="slFilterMoveType" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Shipper</label>
                                    <select id="slFilterShipper" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>

                            </div>

                            <div class="row swapChildrenClass">
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Consignee</label>
                                    <select id="slFilterConsignee" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Agent</label>
                                    <select id="slFilterAgent" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.BookingParty</label>
                                    <select id="slFilterBookingParty" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Salesman</label>
                                    <select id="slFilterSalesman" class="form-control input-sm"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Client</label>
                                    <input type="text" id="txtFilterClientName" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.ContainerNo.</label>
                                    <input type="text" id="txtFilterContainerNumber" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>

                            </div>
                            <div class="row swapChildrenClass">
                                <div class="form-group col-sm-2" style="clear:both;">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.POLCountry</label>
                                    <select id="slFilterPOLCountry" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.POL</label>
                                    <select id="slFilterPOL" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.PODCountry</label>
                                    <select id="slFilterPODCountry" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.POD</label>
                                    <select id="slFilterPOD" class="input-sm col-sm-12"><option value=""><--Select--></option></select>
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.InvoiceNo</label>
                                    <input type="text" id="txtFilterInvoiceNumber" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWgtkg</label>
                                    <input type="text" id="txtFilterGrossWeight" autocomplete="off" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" class="form-control input-sm" maxlength="10" placeholder="">
                                </div>
                            </div>

                            <div class="row swapChildrenClass">
                                <div class="form-group col-sm-2" style="">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.LoadingDate</label>
                                    <input id="txtFilterLoadingDate" autocomplete="off" type="text" style="background-color:white; cursor:text;" class="datepicker-input form-control input-sm" data-required="false" data-date-format="dd/mm/yyyy" placeholder="Select Date" />
                                </div>
                                <div class="form-group col-sm-2 hide">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.Trucker</label>
                                    <input type="text" id="txtFilterFromETDDate" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.QuotationNo</label>
                                    <input type="text" id="txtFilterQuotation" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>ACID No</label>
                                    <input type="text" id="txtFilterACIDNumber" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Form 13 No</label>
                                    <input type="text" id="txtFilterForm13Number" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2 ">
                                    <label>Form 13 Delivered(Y/N)</label>
                                    <select id="slFilterIsForm13Delivered" class="input-sm col-sm-12">
                                        <option value=""><--Select--></option>
                                        <option value="1">Delivered</option>
                                        <option value="0">Not Yet</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.TankOrFlexi</label>
                                    <input type="text" id="txtFilterFlexi" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                            </div>
                            <div class="row swapChildrenClass">
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.CustomerReference.</label>
                                    <input type="text" id="txtFilterCustomerReference" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>@Forwarding.MvcApp.App_Resources.App_Resources.MasterBL</label>
                                    <input type="text" id="txtFilterMasterBL" autocomplete="off" class="form-control input-sm" maxlength="200" placeholder="" style="text-transform:uppercase">
                                </div>

                            </div>
                        </div>

                    </fieldset>
                </div>
                <!-- Endegion FilterOperations Form -->
            </div>
            <div class="modal-footer m-t-n">
                <!--sherif-->
                <button type="button" data-dismiss="modal" onclick="Operations_LoadingWithPaging();" id="btnFilterOperationsApply" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Search
                </button>
            </div>
        </div>
    </div>
</div>
<!--EOF FilterOperationsModal-->
<div id="div-HousesOrders">

    <div id="div-Operations">
        <!-- Region Options & Template  -->
        <div id="div-Data">
            <div id="div-Options">
                <div id="div-Action" class="radius-top-left-right">
                </div>
            </div>
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 id="h3Operations" class="m-b-none">@Forwarding.MvcApp.App_Resources.App_Resources.Operations</h3>
                    @*<a id="aShowHideAdvancedFilters" title="Show/Hide Advanced Filters" href="#" onclick="Operations_ShowHideAdvancedFilters(1);" class="mute small float-right m-t-n"><u>Show / Hide Advanced Filters</u></a>*@
                </header>
                <!--Region the searh, delete, addnew-->
                <div class="row text-sm wrapper hidden-print m-t-n-xs">
                    <div class="row swapChildrenClass">
                        <div class="col-sm-2">
                            <button id="btn-AddShipment" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ShipmentModal" onclick="Shipments_ClearAllControls();"><i class="fa fa-plus"></i>&nbsp;Add</button>
                            <button id="btn-FilterOptions" class="btn btn-primary btn-sm" data-toggle="modal" onclick="" data-target="#FilterOperationsModal"><i class="fa fa-filter"></i> @Forwarding.MvcApp.App_Resources.App_Resources.FilterOptions</button>
                        </div>
                        <div class="col-sm-2">
                            <select id="slMasterOperations" class="input-sm form-control CanEdit HasSearch" onchange=""></select>
                            <select id="hslMasterOperations" class="hide" onchange=""></select>
                        </div>
                        <div class="col-sm-1">
                            <button id="btn-TransferHouses" type="button" class="btn btn-lightblue btn-sm" onclick="Operations_TransferHousesFromBLDocuments();"><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Transfer</b></button>
                        </div>
                        <div class="col-sm-1">
                            <button id="btn-CreateMasterOperation" type="button" class="btn btn-lightblue btn-sm" onclick="Operations_CreateMasterOperation();"><b>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.CreateMasterOperation</b></button>
                        </div>
                        <div class="col-sm-6">

                        </div>



                    </div>
                    <div id="div-main-options" class="col-sm-9 m-b-xs">

                        <!--Region: table header-->
                        <div id="divTblOperations" class="table-responsive m-t-sm" style="overflow: scroll;">
                            <table id="tblOperations" class="table  b-t b-light text-sm  table-hover" style="font-size:85%;">
                                <thead>

                                    <tr>
                                        <th id="ID2" class="">
                                            <input id="cb-CheckAll" type="checkbox" />
                                        </th>
                                        <th class="ShowForMescoCompaniesOnly"></th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>MasterBL</th>
                                        <th>HouseNo</th>
                                        <th>Client</th>
                                        <th>Route</th>
                                        <th>Shipment</th>
                                        <th>GrossWt</th>
                                        <th>Invoices</th>
                                        <th class="rounded-right"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!--Region: table header-->

                    </div>

                </div>
                <!--EOF Region the searh, delete, addnew line-->
                <!--Region: footer-->
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <select id="select-page-size" class="input-sm form-control input-s-sm inline">
                                <option value="10">10</option>
                                <option value="25" selected>25</option>
                                <option value="50">50</option>
                            </select>
                            <button id="btn-applypaging" class="btn btn-sm btn-default" type="button">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Apply
                            </button>
                        </div>
                        <div id="div-Text-Total" class="col-sm-4 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">
                                @Forwarding.MvcApp.App_Resources.App_Resources.Showing
                                <span id="spn-first-page-row"></span>- <span id="spn-last-page-row"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Of
                                <span id="spn-total-count"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Items
                            </small>
                        </div>
                        <div id="div-Pager" class="col-sm-4 text-right text-center-xs float-right"></div>
                    </div>
                </footer>
                <!--Region: footer-->

            </section>
        </div>
    </div>




</div>

<!--CargoPropertiesModal-->
<div class="modal fade" id="CargoPropertiesModal" tabindex="-1" style="z-index: 3000;" data-keyboard="true" data-backdrop="false" role="dialog" aria-labelledby="CargoPropertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-80">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.CargoProperties
                </h3>
            </div>
            <div class="modal-body">
                <!-- Region CargoProperties Form -->
                <div class="span7 form vertical-mode" id="CargoProperties-form">
                    <fieldset>
                        <div id="divCargoProperties">
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.TareWeightAbbrev</label>
                                <input type="text" id="txtCargoTareWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightAbbrev</label>
                                <input type="text" id="txtCargoGrossWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.GrossWeightTON</label>
                                <input type="text" id="txtCargoGrossWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VGMKG</label>
                                <input type="text" id="txtCargoVGM" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightAbbrev</label>
                                <input type="text" id="txtCargoNetWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NetWeightTON</label>
                                <input type="text" id="txtCargoNetWeightTON" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>
                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.Volume</label>
                                <input type="text" id="txtCargoVolume" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.VolumetricWt</label>
                                <input type="text" id="txtCargoVolumetricWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.ChgWtkg</label>
                                <input type="text" id="txtCargoChargeableWeight" onkeypress="CheckValueIsDecimal(id);" onfocus="CheckValueIsDecimal(id);" onblur="CheckDecimalFormat(id);" data-type="number" class="form-control parsley-validated input-sm" maxlength="10" placeholder="0.0" />
                            </div>

                            <div class="form-group col-sm-2 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.NumberOfPackages</label>
                                <input type="text" id="txtCargoNumberOfPackages" onkeypress="CheckValueIsInteger(id);" onfocus="CheckValueIsInteger(id);" class="form-control parsley-validated input-sm" maxlength="5" placeholder="0" />
                            </div>
                            <div class="form-group col-sm-3 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PackageTypes</label>
                                <select id="slCargoPackageTypes" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"><option value=""><--Select--></option></select>
                            </div>
                            <div class="form-group col-sm-3 m-t-xs">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.PlacedOn</label>
                                <select id="slCargoPlacedOnContainer" onfocus="DisableBackspaceKey(id);" onkeydown="DisableBackspaceKey(id);" onkeypress="DisableBackspaceKey(id);" class="form-control m-b input-sm" data-required="false"><option value=""><--Select--></option></select>
                            </div>
                            <div class="form-group col-sm-2">
                                <button id="btn-CalculateVGM" class="btn btn-info btn-sm m-t-lg" data-toggle="modal" @*data-target="#PartnerModal"*@ onclick="CargoProperties_CalculateVGM();"><i class="fa fa-edit"></i>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.CalcVGM</button>
                            </div>

                            <div class="form-group col-sm-6" style="clear:both;">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.MarksAndNumbers</label>
                                <textarea id="divCargoMarksAndNumbers" maxlength="1500" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase; height:200px;"></textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>@Forwarding.MvcApp.App_Resources.App_Resources.DescriptionOfGoods</label>
                                <textarea id="divCargoGoodsDescription" maxlength="1500" class="form-group col-sm-12 textDivGoodsDescription" style="text-transform:uppercase; height:200px;"></textarea>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <!-- Endegion CargoProperties Form -->
            </div>
            <div class="modal-footer">
                <!--sherif-->
                <button type="button" id="btn-SaveCargoProperties" onclick="" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Save
                </button>
                <button class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button>
            </div>
        </div>
    </div>
</div>
<!--EOF CargoPropertiesModal-->
<!--SelectOperationAndDocumentModal-->
<div class="modal fade" id="SelectOperationAndDocumentModal" tabindex="-1" style="z-index:2000;" @*data-keyboard="false"*@ data-backdrop="false" role="dialog" aria-labelledby="SelectOperationAndDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog modalwidth-50">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close">
                    &times;
                </button>
                <h3 id="h3PrintOperationDocument" class="m-b-none">
                    @Forwarding.MvcApp.App_Resources.App_Resources.PrintDocument&nbsp;<label id="lblSelectOperationShown" purpose="dynamicLabel" class="static-text-primary"></label>
                    @*<button type="button" class="close" title="Close" data-dismiss="modal" onclick="MAWBStockSelect_ResetFunctionsNames();" aria-hidden="true">&times;</button>*@
                </h3>
            </div>
            <!-- Region Add / Edit Region Form -->
            <div class="modal-body">
                <div class="span7 form vertical-mode" id="SelectOperationAndDocumentModal-form">
                    <fieldset>
                        <input id="hSelectOperationID" type="hidden" />
                        <div class="form-group col-sm-6 m-t">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.OperationBL</label>
                            <select id="slDocsOutOperationsFromSearch" class="form-control input-sm"><option value=""><--Select--></option></select>
                        </div>
                        <div class="form-group col-sm-6 m-t classHideForTransferHouse">
                            <label>@Forwarding.MvcApp.App_Resources.App_Resources.Document</label>
                            <select id="slDocsOutTypes" class="form-control input-sm"></select>
                        </div>
                        <label class="m-l-lg"><input type="checkbox" id="cbWithNotify" onfocus="DisableEnterKey(id);" onkeypress="DisableEnterKey(id);">&nbsp;@Forwarding.MvcApp.App_Resources.App_Resources.Notify</label>
                    </fieldset>
                </div>
            </div>
            <!-- Endregion Add / Edit Region Form -->
            <div class="modal-footer">
                <button type="button" id="btnPrintDocOutFromOperation" class="btn btn-primary btn-sm" onclick="DocsOut_CallPrintFromOutOfOperation();">
                    <span class="fa fa-print"></span> @Forwarding.MvcApp.App_Resources.App_Resources.Print
                </button>
                @*<button type="button" id="btnSaveandNew" class="btn btn-primary btn-sm" onclick="MAWBStockSelect_Insert(true);">
                    <span class="glyphicon glyphicon-save"></span>@Forwarding.MvcApp.App_Resources.App_Resources.SaveAndNew</button>*@
                <button class="btnClose btn btn-link btn-sm" id="btnClosePrintDocOutFromOperation" title="Close" data-dismiss="modal" aria-hidden="true">@Forwarding.MvcApp.App_Resources.App_Resources.Close</button><!--sherif: i added an id and the onclick fn go set the timelocked in the DB to null-->
            </div>
        </div>
    </div>
</div>
<!--EOF SelectOperationAndDocumentModal-->